{# empty Twig template #}

{{ render(controller('MyAppEspritBundle:publicite:showextpub')) }}
 {{ render(controller('MyAppEspritBundle:notification:shownumber')) }} {# pour afficher notif number #}

{% include 'MyAppEspritBundle:Default:sousmenu.html.twig'  with { 'routeName':app.request.get('_route') }%}

 {% block show_horoscope%} 
 {% include 'TwitterBootstrapBundle::stylesheets.html.twig'%}
<div style="margin-left: 207px;" id="getFixedTemplate">


    <div id="capricorne1" class="divtohide" style="display: none;background-color:white;width: 930px;height: 110px;position: relative;margin-bottom: -100px;top: 30px;">
        <img src="{{ asset('bundles/myappesprit/images/horoscope/Capricorne.png') }}" alt=""  class="imagehoro" /> 
        <b style="color:#c52821;">Capricorne</b>
    </div>
    <div id="capricorne2" class="divtohide"  style="display: none;width: 930px;">{{capricone|raw}}</div>


    <div id="belier1" class="divtohide" style="display: none;background-color:white;width: 930px;height: 110px;position: relative;margin-bottom: -100px;top: 30px;">
        <img src="{{ asset('bundles/myappesprit/images/horoscope/Belier.png') }}" alt=""  class="imagehoro" /> 
        <b style="color:#c52821;">Belier</b>
    </div>
    <div id="belier2"  class="divtohide" style=" display: none; width: 930px;">{{belier|raw}}</div>



    <div id="lion1" class="divtohide" style="display: none;background-color:white;width: 930px;height: 110px;position: relative;margin-bottom: -100px;top: 30px;">
        <img src="{{ asset('bundles/myappesprit/images/horoscope/Lion.png') }}" alt=""  class="imagehoro" /> 
        <b style="color:#c52821;">Lion</b>
    </div>
    <div id="lion2" class="divtohide" style="display: none;  width: 930px;">{{lion|raw}}</div>

    <div id="vierge1" class="divtohide" style="display: none;background-color:white;width: 930px;height: 110px;position: relative;margin-bottom: -100px;top: 30px;">
        <img src="{{ asset('bundles/myappesprit/images/horoscope/Vierge.png') }}" alt=""  class="imagehoro" /> 
        <b style="color:#c52821;">Vierge</b>
    </div>
    <div id="vierge2" class="divtohide" style=" display: none; width: 930px;">{{vierge|raw}}</div> 


    <div id="cancer1" class="divtohide" style="background-color:white;width: 930px;height: 110px;position: relative;margin-bottom: -100px;top: 30px;">
        <img src="{{ asset('bundles/myappesprit/images/horoscope/Cancer.png') }}" alt=""  class="imagehoro" /> 
        <b style="color:#c52821;">Cancer</b>
    </div>
    <div id="cancer2" class="divtohide" style="width: 930px;">{{cancer|raw}}</div> 

    <div id="scorpion1" class="divtohide" style="display: none;background-color:white;width: 930px;height: 110px;position: relative;margin-bottom: -100px;top: 30px;">
        <img src="{{ asset('bundles/myappesprit/images/horoscope/Scorpion.png') }}" alt=""  class="imagehoro" /> 
        <b style="color:#c52821;">Scorpion</b>
    </div>
    <div id="scorpion2" class="divtohide" style=" display: none; width: 930px;">{{scorpion|raw}}</div>


    <div id="balance1" class="divtohide" style="display: none;background-color:white;width: 930px;height: 110px;position: relative;margin-bottom: -100px;top: 30px;">
        <img src="{{ asset('bundles/myappesprit/images/horoscope/Balance.png') }}" alt=""  class="imagehoro" /> 
        <b style="color:#c52821;">Balance</b>
    </div>
    <div id="balance2" class="divtohide" style="display: none;  width: 930px;">{{balance|raw}}</div>



    <div id="verseau1" class="divtohide" style="display: none;background-color:white;width: 930px;height: 110px;position: relative;margin-bottom: -100px;top: 30px;">
        <img src="{{ asset('bundles/myappesprit/images/horoscope/Verseau.png') }}" alt=""  class="imagehoro" /> 
        <b style="color:#c52821;">Verseau</b>
    </div>
    <div id="verseau2"  class="divtohide" style=" display: none; width: 930px;">{{verseau|raw}}</div>


    <div id="sagittaire1" class="divtohide" style="display: none;background-color:white;width: 930px;height: 110px;position: relative;margin-bottom: -100px;top: 30px;">
        <img src="{{ asset('bundles/myappesprit/images/horoscope/Sagittaire.png') }}" alt=""  class="imagehoro" /> 
        <b style="color:#c52821;">Sagittaire</b>
    </div>
    <div id="sagittaire2" class="divtohide" style="display: none;  width: 930px;">{{sagittaire|raw}}</div>



    <div id="gemeaux1" class="divtohide" style="display: none;background-color:white;width: 930px;height: 110px;position: relative;margin-bottom: -100px;top: 30px;">
        <img src="{{ asset('bundles/myappesprit/images/horoscope/Gemeaux.png') }}" alt=""  class="imagehoro" /> 
        <b style="color:#c52821;">Gemeaux</b>
    </div>
    <div id="gemeaux2" class="divtohide" style=" display: none; width: 930px;">{{gemeaux|raw}}</div>



    <div id="poissons1" class="divtohide" style="display: none;background-color:white;width: 930px;height: 110px;position: relative;margin-bottom: -100px;top: 30px;">
        <img src="{{ asset('bundles/myappesprit/images/horoscope/Poissons.png') }}" alt=""  class="imagehoro" /> 
        <b style="color:#c52821;">Poissons</b>
    </div>
    <div id="poissons2" class="divtohide" style=" display: none; width: 930px;">{{poissons|raw}}</div>



    <div id="taureau1" class="divtohide" style="display: none;background-color:white;width: 930px;height: 110px;position: relative;margin-bottom: -100px;top: 30px;">
        <img src="{{ asset('bundles/myappesprit/images/horoscope/Taureau.png') }}" alt=""  class="imagehoro" /> 
        <b style="color:#c52821;">Taureau</b>
    </div>
    <div id="taureau2"  class="divtohide" style=" display: none; width: 930px;">{{taureau|raw}}</div>






    <div  style="background-color: white;height: 110px;position: relative;margin-top: -40px;margin-bottom:-50px;">







        <div class="slideshow">  
            <ul style="margin-left: 0px;">

                <li><img src="{{ asset('bundles/myappesprit/images/horoscope/Capricorne.png') }}" alt="" id="Capricorne" class="" /></li>
                <li><img src="{{ asset('bundles/myappesprit/images/horoscope/Balance.png') }}" alt="" id="Balance" class="" /></li>
                <li><img src="{{ asset('bundles/myappesprit/images/horoscope/Belier.png') }}" alt=""  id="Belier" class="" /></li>
                <li><img src="{{ asset('bundles/myappesprit/images/horoscope/Cancer.png') }}" alt="" id="Cancer"  class="" /></li>

                <li><img src="{{ asset('bundles/myappesprit/images/horoscope/Gemeaux.png') }}" alt="" id="Gemeaux"  class="" /></li>
                <li><img src="{{ asset('bundles/myappesprit/images/horoscope/Lion.png') }}" alt="" id="Lion"  class="" /></li>
                <li><img src="{{ asset('bundles/myappesprit/images/horoscope/Poissons.png') }}" alt="" id="Poissons"  class="" /></li>
                <li><img src="{{ asset('bundles/myappesprit/images/horoscope/Sagittaire.png') }}" alt="" id="Sagittaire"  class="" /></li>

                <li><img src="{{ asset('bundles/myappesprit/images/horoscope/Scorpion.png') }}" alt="" id="Scorpion"  class="" /></li>
                <li><img src="{{ asset('bundles/myappesprit/images/horoscope/Taureau.png') }}" alt="" id="Taureau" class="" /></li>
                <li><img src="{{ asset('bundles/myappesprit/images/horoscope/Verseau.png') }}" alt="" id="Verseau" class="" /></li>
                <li><img src="{{ asset('bundles/myappesprit/images/horoscope/Vierge.png') }}" alt="" id="Vierge" class="" /></li>

            </ul>  
        </div>

        <script type="text/javascript" src="./Infinite Slideshow with jQuery_files/jquery.min.js"></script>


<script src="{{ asset('bundles/myappesprit/js/horoscope.js') }}" type="text/javascript"></script>
     



        <script type="text/javascript">
            $(function() {
                setInterval(function() {
                    $(".slideshow ul").animate({marginLeft: -350}, 800, function() {
                        $(this).css({marginLeft: 0}).find("li:last").after($(this).find("li:first"));
                    })
                }, 3500);
            });
        </script>




    </div>

    <div style="padding-top: 70px;"> 
        <div style="margin-bottom: 20px;"> 
                                {{ render(controller('MyAppEspritBundle:publicite:showpubfooter')) }}
        </div>   
               {% include   'MyAppEspritBundle:Default:footer.html.twig'%} 
    </div>

</div>

{% endblock %}


