{# empty Twig template #}


<form  action='{{path('my_app_user_resultatchoixrole')}}' method="post" {{ form_enctype(form) }} > 


  {% for users in users  %}
    <h1>{{users.username}}</h1>
    
 

    <input type="checkbox" name="SuperAdmin[]" value="{{users.id}}" /><label>SuperAdmin</label>
    <input type="checkbox" name="Admin[]" value="{{users.id}}" /><label>Admin</label>
    <input type="checkbox" name="SuperSol[]" value="{{users.id}}" /><label>SuperSol</label>
    <input type="checkbox" name="Editor[]" value="{{users.id}}" /><label>Editor</label>   
    <input type="checkbox" name="User[]" value="{{users.id}}" /><label>User</label>     


    </br>
 {% endfor%}


 {{form_widget(form._token)}}  
    </br></br>



    <input type="submit"  value="change" style="width: 150px;" class="btn btn-warning btn-lg"/>
    <input type="reset"  value="reset" style="width: 150px;" class="btn btn-warning btn-lg"/>
</form>


