{#% extends 'MyAppEspritBundle:publicite:show.html.twig' %#}
{{ render(controller('MyAppEspritBundle:publicite:showextpub')) }}
{% block fos_user_content %}
{% include 'TwitterBootstrapBundle::stylesheets.html.twig'%}

{% include 'MyAppEspritBundle:Default:sousmenu.html.twig'  with { 'routeName':app.request.get('_route') }%}

<!-- tooltiprequired field ---->
<link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/myappesprit/css/tooltiprequieredfield/tooltip.css') }}"/>
<script src="{{ asset('bundles/myappesprit/css/tooltiprequieredfield/tooltip.js') }}" type="text/javascript"></script>
<!-- tooltiprequired field ---->  



<div class="contenudetemplate" id="getFixedTemplate">



    <!-- <div style="margin-left: 30px;margin-top:30px;">-->
    <div class="divpourlogin">
        {#<b><h2>Log p&aring; SOL.DK</h2></b> </br>#}
        <b><h2 style="padding-top: 20px;">{{ 'Log au sol'|trans }}</h2></b> </br>
        {#<p> Vekommen til SOL.dk ......</p> </br> #}
        <p> {{'welcomesol'|trans}}</p> </br>
        <form action="{{ path("fos_user_security_check") }}" method="post" id="formsubmitid">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            <div id="login-input" style="padding-left: 40px;padding-top: 10px;">
                 <table width="450" height="80"> 
                <tr>             
               {# <td>&nbsp;&nbsp;&nbsp;Brugernavn &nbsp; <b  class="rouge">*</b> &nbsp;&nbsp;</td>#}	
                    <td style="float:right;">&nbsp;&nbsp;&nbsp; &nbsp; {{ 'log'|trans }} &nbsp; <b  class="rouge">*</b> &nbsp;&nbsp;</td>
                    <td>
                        <input  onmouseover="tooltip.pop(this, '<h6>&nbsp;&nbsp;This Field is requiered&nbsp;&nbsp;</h6>');" type="name" id="username" name="_username" class="btn btn-warning btn-lg" value="{{ last_username }}" required="required" />
                    </td>
                </tr>	
                </br></br> 
                <tr> 
                   {# <td>Adgangskode &nbsp; <b  class="rouge">*</b> &nbsp;&nbsp;</td> #}
                    <td style="float:right;">&nbsp; {{ 'pass'|trans }} &nbsp; <b  class="rouge">*</b> &nbsp;&nbsp;</td>
                    <td> <input  onmouseover="tooltip.pop(this, '<h6>&nbsp;&nbsp;This Field is requiered&nbsp;&nbsp;</h6>');"  type="password" id="password" name="_password" class="btn btn-warning btn-lg" style="width: 312px;" required="required" /></td>
                </tr>	
                 </table>
                <div id="lower">
                    </br>		
                    <div style="padding-left: 135px;">
                        <input type="submit" id="_submit" name="_submit" class="btn btn-warning btn-lg"  
                               style="width: 150px;" value="{{'Log pa'|trans}}"  />
                    </div>
                          {#   submit avec entrée du clavier :D #}
                    <script type="text/javascript">
                        document.getElementById('password').onkeypress = function(e) {
                            if (e.keyCode === 13) { $("#formsubmitid").submit(); }};  
                    </script> 



                    </br></br>



                {% if error %}<div>
                  
                    <b  class="rouge" style="padding-left: 80px;">( {{ error|trans({}, 'FOSUserBundle') }} )</b></div>{% endif %}	

                </div>
            </div>		
        </form>
        </br>  
        <p>{{ 'newuser'|trans }}</p>

        <a href="{{ path('fos_user_registration_register') }}" style="text-decoration:none">
            <p  class="rouge">{{ 'Registrer'|trans }}</p></a>


{% for publicite in publicite %} 
        <div class="position22">

            <img src="{{publicite.image}}" alt="" width="300" height="250" > 
        </div>  
 {%endfor%}
    </div> 


    <div style="padding-top: 70px;"> 
           <div style="  margin-top: -20px; margin-bottom: 20px;"> 
                   {{ render(controller('MyAppEspritBundle:publicite:showpubfooter')) }}</div>
               {% include   'MyAppEspritBundle:Default:footer.html.twig'%} 
    </div>
</div>

{% endblock fos_user_content %}
