{# empty Twig template #}
{% extends 'MyAppEspritBundle:BackOffice:administration.html.twig' %}
 
 {% block manageuser %} 

<header><h3 class="tabs_involved">Content User Manager</h3>
    <ul class="tabs">
        <li><a href="#tab1">Details</a></li>
        <li><a href="#tab2">Roles</a></li>
    </ul>
</header>  

<div id="tab1" class="tab_content" style="height: 250px; /*width: 680px;*/ overflow: auto; display: block;">
    <table class="tablesorter" cellspacing="0"> 
        <thead> 
            <tr> 
                <th></th> 
                <th>User Name</th> 
                <th>Role</th> 
                <th>Created On</th> 
                <th>Actions</th> 
            </tr> 
        </thead> 
        <tbody> 
            {% for users in users %} 
            <tr> 
                <td><input type="checkbox"></td> 
                <td>{{users.username}}</td> 
                <td> {{users.roles|join}}</td> 
      
     
                <td>{{users.datedeCreationUser|date('Y-M-d')}}</td> 


                <td>
                    <a href="{{ path('my_app_user_edit',{'id':users.id}) }}">
                        <img src="{{ asset('bundles/myappesprit/images/admin/icn_edit.png') }}" alt="" />
                    </a>   &nbsp;&nbsp;
                    <a href="{{ path('my_app_user_delete',{'id':users.id}) }}">
                        <img src="{{ asset('bundles/myappesprit/images/admin/icn_trash.png') }}" alt="" />
                    </a> 
                </td>
            </tr> 
            {%endfor%}



        </tbody> 
    </table>
</div> 


<form  action='{{path('my_app_user_manage')}}' method="post" {{ form_enctype(form) }} > 
<div id="tab2" class="tab_content" style="height: 250px; /*width: 680px;*/ overflow: auto; display: block;">
    <table class="tablesorter" cellspacing="0"> 
        <thead> 
            <tr> 
              
                <th>UserName</th> 
                <th>Roles</th> 
                <th>Enable</th>              
            </tr> 
        </thead> 
        <tbody> 
            {% for users in users %} 
            <tr> 
                 
                <td>{{users.username}}</td> 
          
      
     
                <td> 

    {% set role = users.roles|join%}
    



     {% if "EDITORROLE_USER" == role%}
        <input type="checkbox" name="SuperAdmin[]" value="{{users.id}}"   /><label>SuperAdmin</label>&nbsp;
        <input type="checkbox" name="Admin[]" value="{{users.id}}"  /><label>Admin</label>&nbsp;
        <input type="checkbox" name="SuperSol[]" value="{{users.id}}"  /><label>SuperSol</label>&nbsp;
        <input type="checkbox" name="Editor[]" value="{{users.id}}" checked="checked" /><label>Editor</label>   &nbsp;
        <input type="checkbox" name="User[]" value="{{users.id}}"  /><label>User</label>     &nbsp;
   {%endif%}

     {% if "SUPERSOLROLE_USER" == role %}
        <input type="checkbox" name="SuperAdmin[]" value="{{users.id}}"   /><label>SuperAdmin</label>&nbsp;
        <input type="checkbox" name="Admin[]" value="{{users.id}}"  /><label>Admin</label>&nbsp;
        <input type="checkbox" name="SuperSol[]" value="{{users.id}}" checked="checked" /><label>SuperSol</label>&nbsp;
        <input type="checkbox" name="Editor[]" value="{{users.id}}" /><label>Editor</label>   &nbsp;
        <input type="checkbox" name="User[]" value="{{users.id}}"  /><label>User</label>   &nbsp;  
   {%endif%}


  {% if "ADMINROLE_USER" == role %}
        <input type="checkbox" name="SuperAdmin[]" value="{{users.id}}"   /><label>SuperAdmin</label>&nbsp;
        <input type="checkbox" name="Admin[]" value="{{users.id}}" checked="checked" /><label>Admin</label>&nbsp;
        <input type="checkbox" name="SuperSol[]" value="{{users.id}}" /><label>SuperSol</label>&nbsp;
        <input type="checkbox" name="Editor[]" value="{{users.id}}" /><label>Editor</label>  &nbsp; 
        <input type="checkbox" name="User[]" value="{{users.id}}" /><label>User</label>  &nbsp;   
   {%endif%}

    {% if "SUPERADMINROLE_USER" == role %}
        <input type="checkbox" name="SuperAdmin[]" value="{{users.id}}" checked="checked" /><label>SuperAdmin</label>&nbsp;
        <input type="checkbox" name="Admin[]" value="{{users.id}}"  /><label>Admin</label>&nbsp;
        <input type="checkbox" name="SuperSol[]" value="{{users.id}}" /><label>SuperSol</label>&nbsp;
        <input type="checkbox" name="Editor[]" value="{{users.id}}" /><label>Editor</label>   &nbsp;
        <input type="checkbox" name="User[]" value="{{users.id}}" /><label>User</label>     &nbsp;
     {%endif%}

                  
                </td>
       {% if users.enabled == 1 %}          
                <td><input type="checkbox" name="enable[]" value="{{users.id}}" checked="checked" /></td>
         {%else%}       
                <td><input type="checkbox" name="enable[]" value="{{users.id}}"  /></td> 
         {%endif%}
             
            </tr> 
            {%endfor%}



        </tbody> 
    </table>



 {{form_widget(form._token)}}  
    


    </br></br>
   <center> <div style="padding-bottom: 20px;">  <input type="submit"  value="change"  class="btn btn-warning btn-lg"/> </div></center>
 </div>   
</form>


 {% endblock  %}