<!DOCTYPE html>
<html lang="fr">

{% block head %} 

 {% include   'MyAppEspritBundle:notification:testnotif.html.twig'%}


    <head>  
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"> 
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" /> 
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Sol.Dk</title>




        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/myappesprit/css/bootstrap.css') }}"/> 

        <!-- animate icon -->
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/myappesprit/css/animate.css') }}"/>  
        <!-- animate icon -->

        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/myappesprit/css/style.css') }}"/> 

        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/myappesprit/css/stylemobile.css') }}"/> 
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/myappesprit/css/stylemobile1.css') }}"/> 


        <!-- style menu rouge -->
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/myappesprit/css/menustyle/component.css') }}"/>        
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/myappesprit/css/menustyle/demo.css') }}"/> 
        <!-- style menu rouge -->



    </head>


    <!--  bookmark  -->
    <div class="so" style="width: 120px;  top: 150px;  height: 100px;  position: absolute;  left: 1200px;">
        <a href="https://www.facebook.com/TH3.professional">
            <img src="https://cdn1.iconfinder.com/data/icons/flat-3d-social-media-icons/48/facebook.png" class="imgavecbordureronde">
        </a>
        <a href="https://www.youtube.com/user/geekraghib">
            <img src="https://cdn1.iconfinder.com/data/icons/flat-3d-social-media-icons/48/youtube.png" class="imgavecbordureronde">
        </a>
        <a href="https://plus.google.com/u/0/110712684116503407942">
            <img src="https://cdn1.iconfinder.com/data/icons/flat-3d-social-media-icons/48/google_plus.png" class="imgavecbordureronde">
        </a>
        <a href="https://twitter.com/mr_raghib">
            <img src="https://cdn1.iconfinder.com/data/icons/flat-3d-social-media-icons/48/twitter.png" class="imgavecbordureronde">
        </a>
        <a href="http://feedburner.google.com/fb/a/mailverify?uri=raghib">
            <img src="https://cdn1.iconfinder.com/data/icons/flat-3d-social-media-icons/48/rss.png" class="imgavecbordureronde">
        </a>
    </div>


    <!--  bookmark  -->
    <!--  bookmark  -->


    <div id="rss_share_8378" class="stylebuttonpartageetrss"><noscript>Javascript is disable -
        <a href="http://www.supportduweb.com/">http://www.supportduweb.com/</a> - 
        <a href="http://www.supportduweb.com/generateur-boutons-partage-rss-share-button-web20-feed-atom-xml-rss-googlereader-myyahoo-netvibes-bloglines.html">Générateur de boutons de partage RSS</a></noscript></div>
    <script type="text/javascript" src="http://services.supportduweb.com/rss_share/5-8378.js?url=http%3A%2F%2Ffeeds.feedburner.com%2FSupportduweb%3Fformat%3Dxml"></script>




    <!--  bookmark  -->

    <!-- Menu -->
    <div class="MENU"  id="getFixed">                                         
         {#{currentRoute}#}
        <section class="color-5">
            <nav class="cl-effect-5">
      {% for menu in menu|slice(0, 9)  %}
        {## la variable route contient le lien de la rubrique de menu ##}
        {% set route = menu.lien %}  


                <a href="{{path(route) }}">&nbsp;&nbsp;{%if loop.index >1%}-{%endif%}&nbsp;&nbsp;
                    <span data-hover=" {{menu.name|raw}}">    {{menu.name|raw}}</span>
                </a>  



      {% endfor%} 
            </nav>
        </section>
    </div>

    <div class="headbar">

        <img src="{{ asset('bundles/myappesprit/images/Navigation Bar 2.png') }}" alt=""  class="HEADER" /> 
        <img src="{{ asset('bundles/myappesprit/images/Sol logo.png') }}" alt=""  class="Sol_logo" /> 





        <div class="forum">
            <img src="{{ asset('bundles/myappesprit/images/Debat.png') }}" alt="" class="Debat" id="effectBounce" />
            <a href="{{path('my_app_forum_sujet_sujetrecent') }}" class="DEBATMot"> DEBATFORUM</a> 
            <div>


                <div style="display: none;">
                    <img src="{{ asset('bundles/myappesprit/images/Button2.png') }}" alt="" class="Button" />
                    <t class="SOL">SOL </t>
                </div>


                <div style="display: none;">
                    <img src="{{ asset('bundles/myappesprit/images/Button copy 2.png') }}" alt="" class="Button_copy_2" />  
                    <t class="GOOGLE">GOOGLE</t>
                </div>

                <!-- <div class="text_field"> </div>  


                <!--  
               <script>
             (function() {
               var cx = '016704472298602707163:_y2ygwymyuc';
               var gcse = document.createElement('script');
               gcse.type = 'text/javascript';
               gcse.async = true;
               gcse.src = (document.location.protocol === 'https:' ? 'https:' : 'http:') +
                   '//www.google.com/cse/cse.js?cx=' + cx;
               var s = document.getElementsByTagName('script')[0];
               s.parentNode.insertBefore(gcse, s);
             })();
           </script>
           <gcse:search></gcse:search>-->











    <style>
        .gsib_a{padding-right:0;padding-left:0}.gsib_a,.gsib_b{vertical-align:top}.gsib_a{width:100%;padding:0}
        #___gcse_0{top:-15px;position:relative;width:220px}.gsc-input-box{border:1px solid transparent;background:transparent;height:25px;-webkit-border-radius:20px;-moz-border-radius:20px}
        .gsc-control-cse{border-color:transparent;background-color:transparent}.cse .gsc-control-cse,.gsc-control-cse{background-color:transparent;border:1px solid transparent}.gsc-search-button{display:none}
    </style>

                <form class="quick_search">
                    <!--	<input type="text" value="Quick Search" onfocus="if(!this._haschanged){this.value=''};this._haschanged=true;">-->

                    <script>
                        (function() {
                            var cx = '016704472298602707163:_y2ygwymyuc';
                            var gcse = document.createElement('script');
                            gcse.type = 'text/javascript';
                            gcse.async = true;
                            gcse.src = (document.location.protocol === 'https:' ? 'https:' : 'http:') +
                                    '//www.google.com/cse/cse.js?cx=' + cx;
                            var s = document.getElementsByTagName('script')[0];
                            s.parentNode.insertBefore(gcse, s);
                        })();
                    </script>
                    <gcse:search></gcse:search>
                </form>






                <!--<x class="Hvad">Hvad søger du?</x>-->

                              {#% render(controller('MyAppEspritBundle:menu:recherche')) %#}
                <!--<div class="EMAIL2">2</div>-->


                <div class="e-mail">
                    <x class="EMAIL">EMAIL</x>
                    <img src="{{ asset('bundles/myappesprit/images/Mail copy.png') }}" alt="" class="Mail_copy" id="effectTada" />  
                </div>



                <div class="profilee">
                    <img src="{{ asset('bundles/myappesprit/images/Profile.png') }}" alt="" class="Profile" id="effectSwing"/> 

        {% if is_granted( 'ROLE_USER' ) %}
                    <div class="OPRET_PROFIL_LOGIN">
                        <a href="{{path('fos_user_profile_edit') }}" id="monprofileoucreerprofile" > {{ 'voirprofile'|trans }}  </a>

                        </br>
                        <a href="{{path('fos_user_security_logout') }}" id="connectdeconnect" >{{ 'logout'|trans }}</a>
                    </div>
        {% else %}
                    <div class="OPRET_PROFIL_LOGIN">
                        <a href="{{path('fos_user_registration_register') }}" id="monprofileoucreerprofile"  >{{ 'creeprofile'|trans }} </a>

                        </br>
                        <a href="{{path('fos_user_security_login') }}" id="connectdeconnect" >{{ 'seconnecter'|trans }}</a>
                    </div>
        {% endif %}
                </div>

                <!--<div class="MESSAGE4"></div>-->


{#
  <div class="scrollbar" id="style-2">
      <div class="force-overflow">
	  
	  
	  
	  
	  </div>
    </div>
#}

{%endblock%}
                <!---------------------------------------------------------------------------------------------------------------------------------------------------------->
 {% block container %}
                <body class="scrollbar" id="style-2" style="font-family: 'Raleway', sans-serif;font-size: 15px;">




                    <div class="SKYBANNERS" >  




                        <div class="idfacebook">
                            <a href="https://www.facebook.com/Sol.dk?fref=ts" >
                                <img src="{{ asset('bundles/myappesprit/images/minilogo.png') }}" alt="" />
                            </a>

                            <iframe src="http://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FSol.dk%3Ffref%3Dts;width;
                                    send=false;layout=box_count&amp;;action=like;" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:95px; height:19px;" allowtransparency="true"></iframe> 


                        </div>

                        <div class="SOLDK">
                            <a href="https://www.facebook.com/Sol.dk?fref=ts" style="color:#3B5998;">SOL.DK</a>
                        </div> 
             {% block publicitemanage %} {% endblock  %}
            {% block publicite_show %}  {% endblock  %}
            {% block editUser %}  {% endblock  %} {% block showUser %}  {% endblock  %} 
            {% block fos_user_content %} {% endblock fos_user_content %}
            {% block ajout_arstyle%}   {% endblock  %}
            {% block ajout_article%}{% endblock %}{% block update_article%}{% endblock %} {% block voir_article%} {% endblock %}
            {% block affichage_articles%} {% endblock %} 
             {% block ajout_sujet%} {% endblock %}

             {% block ajout_sujet_ar%}{% endblock %}
            {% block show_horoscope%} {% endblock %}
                    </div> 

                    <!--    <div class="contenudetemplate"></br></br></br></br></br> </div>-->

                </body>
    {% endblock %}
                <!---------------------------------------------------------------------------------------------------------------------------------------------------------->
 {% block footer %}  
                <footer>
       {#<div class="Footer"> 
            <div class="SOL_dk_erFOOTER"><FONT color="FFFFFF">SOL.dk er ejet og drevet af CM-Consulting ApS </br>
                </br>Adressen er:</br> CM-Consulting ApS</br>Sankt Ann&aelig; Gade 10</br>1416 K&oslash;benhavn k</br>CVR: 27 70 45 14
                </br></br>Telefon: 89 88 38 00</br>Kontakt e-mail: solsupport@cm-consult.com</br>Brug ogs&auml; vores support-side http://support.sol.dk</br></br>
                Copyright &copy; 2014 <FONT color="#848484"> sol.dk</FONT> All Rights Reserved.</FONT> 
            </div>
            <div class="NYHEDERKENDTE">NYHEDER </br>KENDTE</br> UNDERHOLDNING</br> REJSER</br> SUNDHED</br> FRITID </br>EROTIK </div>
            <div class="HOROSKOPER_TV_GUIDE_BACKUP_SHOP_KONKURRENCER_VE">HOROSKOPER</br>TV-GUIDE</br>BACKUP </br> SHOP</br> KONKURRENCER</br> VEJRET</br> DEBAT</div>
            <div class="Om_SOL_Annoncering_Kontakt_os_Hjalp_og_Support_">Om SOL</br> Annoncering</br> Kontakt os</br> HJ&AElig;LP og Support</br> Driftstatus Cookies</br>Brugsvilkar</div>
        </div>  #}
                </footer>
 {% endblock %} 
                </html>

{###########                          pour que le menu rouge bouge et se colle en haut                        #######}
 {% block javascripts %}
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
                <script src="{{ asset('bundles/myappesprit/js/menurouge.js') }}" type="text/javascript"></script>
                <style>
                    body {
                        //  height: 2000px;
                        padding-top: 300px;
                    }

                </style>


{% endblock %}