<!DOCTYPE html>
<html lang="fr">
{% block head %} 
 
 {% include   'MyAppEspritBundle:notification:testnotif.html.twig'%}

  
    <head>    
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" /> 
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Sol.Dk</title>
        <script type="text/javascript">
            var RecaptchaOptions = {
                lang: 'fr',
                theme: 'clean'};
        </script> 

        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/myappesprit/css/bootstrap.css') }}"/> 
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/myappesprit/css/style.css') }}"/> 


    </head>
<div id="navigation_up_down_842">
     {#<noscript>Javascript is disable - 
   <a href="http://www.supportduweb.com/">http://www.supportduweb.com/</a>   
    <a href="http://www.supportduweb.com/generateur-boutons-navigation-haut-bas-scroll-defilement-racourcis-page-monter-descendre-up-down.html">
        Générateur de boutons de navigation</a></noscript>#}
    <script type="text/javascript" src="http://services.supportduweb.com/navigation_up_down/2-842-right.js"></script>
</div>
    
    
    <div class="HEADER"><img src="{{ asset('bundles/myappesprit/images/Navigation Bar 2.png') }}" alt="" /></div>

    <div class="Sol_logo"><img src="{{ asset('bundles/myappesprit/images/Sol logo.png') }}" alt="" /></div>


    <!-- Menu -->
    <div class="MENU"  id="getFixed">                                         
         {#{currentRoute}#}
      {% for menu in menu %}
        {## la variable route contient le lien de la rubrique de menu ##}
        {% set route = menu.lien %}  
        
       <a href="{{path(route) }}" style="text-decoration:none;color: white;"> 
        &nbsp;&nbsp;   {%if loop.index >1%}-{%endif%}&nbsp;&nbsp;{{menu.name}}  </a>                                                                                                                                                     
 
      {% endfor%} 
    </div>

    <div class="Profile"><img src="{{ asset('bundles/myappesprit/images/Profile.png') }}" alt="" /></div>

    <div class="Debat">   
        <img src="{{ asset('bundles/myappesprit/images/Debat.png') }}" alt="" />

    </div>

    <div class="DEBATMot"><a href="{{path('my_app_forum_sujet_sujetrecent') }}" style="text-decoration:none;color: white;"> DEBATFORUM</a> 

    </div>

    <div class="Sol_logo"><img src="{{ asset('bundles/myappesprit/images/Sol logo.png') }}" alt="" /></div>

   <!-- <div class="ButtonCopy"><img src="{#{ asset('bundles/myappesprit/images/Button.png') }#}" alt="" /></div> -->

    <div class="Button"><img src="{{ asset('bundles/myappesprit/images/Button2.png') }}" alt="" /></div>

    <div class="Button_copy"><img src="{{ asset('bundles/myappesprit/images/Button copy.png') }}" alt="" /> </div>

    <div class="Button_copy_2"><img src="{{ asset('bundles/myappesprit/images/Button copy 2.png') }}" alt="" /> </div>

    <div class="text_field"> 
        <!--  recherche google
        <script>
      (function() {
        var cx = '016704472298602707163:_y2ygwymyuc';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol === 'https:' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
    <gcse:search></gcse:search>
        -->
    </div> 

                              {#% render(controller('MyAppEspritBundle:menu:recherche')) %#}
    <div class="EMAIL2">2</div>

    <div class="EMAIL">EMAIL</div>



    <div class="Mail_copy"><img src="{{ asset('bundles/myappesprit/images/Mail copy.png') }}" alt="" /> </div>
{% if is_granted( 'ROLE_USER' ) %}
    <div class="OPRET_PROFIL_LOGIN">
        <a href="{{path('fos_user_profile_edit') }}" style="text-decoration:none;color: white;">                                                                                                                                                      
            MIN PROFIL  </a>
        </br>
        <a href="{{path('fos_user_security_logout') }}"style="text-decoration:none;color: white;">LOG UID</a>
    </div>
{% else %}
    <div class="OPRET_PROFIL_LOGIN">
        <a href="{{path('fos_user_registration_register') }}" style="text-decoration:none;color: white;">                                                                                                                                                      
            OPRET PROFIL  </a>
        </br>
        <a href="{{path('fos_user_security_login') }}"style="text-decoration:none;color: white;">LOG IND</a>
    </div>
{% endif %}


    <div class="MESSAGE4"></div>

    <div class="Hvad">Hvad søger du?</div>
    <div class="SOL">SOL</div>
    <div class="GOOGLE">GOOGLE</div>


{%endblock%}
    <!---------------------------------------------------------------------------------------------------------------------------------------------------------->
 {% block container %}
    <body>
        
        
        
        
        <div class="SKYBANNERS" >
            
            
            
            
            <div class="idfacebook">
                <a href="https://www.facebook.com/Sol.dk?fref=ts" >
                    <img src="{{ asset('bundles/myappesprit/images/minilogo.png') }}" alt="" />
                </a>

                <iframe src="http://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FSol.dk%3Ffref%3Dts;width;
                        send=false;layout=box_count&amp;;action=like; scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:95px; height:19px;" allowtransparency="true"></iframe> 


            </div>
            <div class="cadreblanc"></div> 
            <div class="SOLDK"><a href="https://www.facebook.com/Sol.dk?fref=ts" style="text-decoration:none;color:#3B5998;">SOL.DK</a></div> 
             {% block publicitemanage %} {% endblock  %}
            {% block publicite_show %}  {% endblock  %}
            {% block editUser %}  {% endblock  %} {% block showUser %}  {% endblock  %} 
            {% block fos_user_content %} {% endblock fos_user_content %}
            {% block ajout_arstyle%}   {% endblock  %}
            {% block ajout_article%}{% endblock %}
          {% block affichage_articles%} {% endblock %} 
             {% block ajout_sujet%} {% endblock %}
            
        </div>
        
    <!--    <div class="contenudetemplate">
            
            
            
          </br></br></br></br></br> 
        </div>-->
        
        
    </body>

    <!-- ---------------------------------------------------------------------------------------------------------------->


    {% endblock %}
    <!---------------------------------------------------------------------------------------------------------------------------------------------------------->
 {% block footer %}
    <footer>
        <div class="Footer"> 

        <div class="SOL_dk_erFOOTER"><FONT color="FFFFFF">SOL.dk er ejet og drevet af CM-Consulting ApS </br>
            </br>Adressen er:</br> CM-Consulting ApS</br>Sankt Ann&aelig; Gade 10</br>1416 K&oslash;benhavn k</br>CVR: 27 70 45 14
            </br></br>Telefon: 89 88 38 00</br>Kontakt e-mail: solsupport@cm-consult.com</br>Brug ogs&auml; vores support-side http://support.sol.dk</br></br>
            Copyright &copy; 2014 <FONT color="#848484"> sol.dk</FONT> All Rights Reserved.</FONT> 
        </div>
        <div class="NYHEDERKENDTE">NYHEDER </br>KENDTE</br> UNDERHOLDNING</br> REJSER</br> SUNDHED</br> FRITID </br>EROTIK </div>
        <div class="HOROSKOPER_TV_GUIDE_BACKUP_SHOP_KONKURRENCER_VE">HOROSKOPER</br>TV-GUIDE</br>BACKUP </br> SHOP</br> KONKURRENCER</br> VEJRET</br> DEBAT</div>
        <div class="Om_SOL_Annoncering_Kontakt_os_Hjalp_og_Support_">Om SOL</br> Annoncering</br> Kontakt os</br> HJ&AElig;LP og Support</br> Driftstatus Cookies</br>Brugsvilkar</div>
        </div>
  {% endblock %}  
    </footer>
</html>

{###########                          pour que le menu rouge bouge et se colle en haut                        #######}
 {% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="{{ asset('bundles/myappesprit/js/menurouge.js') }}" type="text/javascript"></script>
<style>
    body {
        height: 2000px;
        padding-top: 300px;
    }
    #getFixed {
        // color: #c00;
      //  font: bold 15px arial;
        padding: 10px;
        margin: 10px;
        border: 1px solid #c00;
        z-index: 50000;
        //  width: 200px;
    }
</style>


{% endblock %}