{# empty Twig template #}

{{ render(controller('MyAppEspritBundle:publicite:showextpub')) }}
  {{ render(controller('MyAppEspritBundle:notification:shownumber')) }} {# pour afficher notif number #}
 <script src="{{ asset('bundles/myappforum/js/ckeditor/ckeditor.js')}}"></script> 
<link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/myappforum/js/ckeditor/contents.css') }}"/> 

 {% block ajout_sujet_ar%}
 {% include 'TwitterBootstrapBundle::stylesheets.html.twig'%}

 
<div class="contenudetemplate" id="getFixedTemplate">
    <div style="margin-left: 180px;margin-top: 100px;width: 588px;">
        <form  action='{{  path('my_app_forum_sujet_addfromar',{'id':id}) }}' method="post" {{ form_enctype(form) }} > 

            <table height=" " width=" " border="0">

                <tr>
                    <td class="stylegras" style="padding-bottom: 10px;">Sujet&nbsp;<b  class="rouge">*</b> &nbsp;</td>
                </tr>
                <tr>
                    <td> {{form_widget(form.sujet,{'value' : articlesrc.headline,'attr': {'style' : 'width:590px'} } ) }} </td> 
                </tr>

  
  
                <tr>
                    <td class="stylegras" style="padding-bottom: 10px;"> </br>Contenu&nbsp;<b  class="rouge">*</b> &nbsp;</td>
                </tr>
                <tr>
                    <td> {{form_widget(form.contenu ) }} </td>
                </tr>



                <tr>
                    <td class="stylegras" style="padding-bottom: 10px;"></br>Tag&nbsp;<b  class="rouge">*</b> &nbsp;</td>
                </tr>
                <tr>
             
                    <td><input required="true" type="text" class="form-control" id="tokenfield-1" value="" 
                       name="inputtag"   placeholder="Type something and hit enter" tabindex="-1" style="width: 590px; position: absolute; left: -10000px;" >
                    </td>
                </tr>

                <tr>   {{form_widget(form._token)}}   
                    <td> </br></br> 

                        <input type="submit"  value="Save" style="width: 150px;float:left;" class="btn btn-warning btn-lg"/>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    

                        <a href="{{path('my_app_esprit_homepage') }}" style="color: #c52821;">                                                                                                                                                      
                            &nbsp;&nbsp;Annuler&nbsp;&nbsp;</a> 

                   
                <center>
                           {% for flashMessage in app.session.flashbag.get('message') %}{{ flashMessage }}{% endfor %}
                </center>
 
                        <x style="float:right;  margin-top: -20px;"> Notification {{form_widget(form.notification) }}<x>
                       

                    </td>  
                </tr>

            </table>



        </form>


    </div>
    
              <div style="padding-top: 70px;"> 
                <div style="  margin-top: -20px; margin-bottom: 20px;"> 
                   {{ render(controller('MyAppEspritBundle:publicite:showpubfooter')) }}</div>
               {% include   'MyAppEspritBundle:Default:footer.html.twig'%} 
          </div>
    
</div>






            




                                {#######    Code test   ##}
<!-- CSS --> 
<link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/myappforum/css/autocompletedestags/jquery-ui.css') }}"/>
<link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/myappforum/css/autocompletedestags/bootstrap-tokenfield.css') }}"/>
<!-- JS -->
<script src="{{ asset('bundles/myappforum/css/autocompletedestags/jquery-1.9.1.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/myappforum/css/autocompletedestags/jquery-ui.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/myappforum/css/autocompletedestags/bootstrap-tokenfield.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/myappforum/css/autocompletedestags/scrollspy.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/myappforum/css/autocompletedestags/affix.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/myappforum/css/autocompletedestags/typeahead.bundle.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/myappforum/css/autocompletedestags/docs.js') }}" type="text/javascript"></script>  
<!-- JS -->
<script type="text/javascript">
    jQuery(function() {
        $("#download-master").click(function() {
            _trackEvent("Downloads", "master")
        })
    }), jQuery(document).ready(function(a) {
        a("body").scrollspy({
            target: ".bs-sidebar",
            offset: 0
        }), a(window).on("load", function() {
            a("body").scrollspy("refresh")
        }), setTimeout(function() {
            var b = a(".bs-sidebar");
            b.affix({
                offset: {
                    top: function() {
                        var a = b.offset().top,
                                c = parseInt(b.children(0).css("margin-top"), 10);
                        return this.top = a - c
                    },
                    bottom: function() {
                        return this.bottom = a(".bs-footer").outerHeight(!0)
                    }
                }
            })
        }, 100), a(".token-example-field").tokenfield(), a("#tokenfield-1").tokenfield({
            autocomplete: {
                source: [
                    //// "red", "blue", "green", "yellow", "violet", "brown", "purple", "black", "white"
                 {% for tags in tags%} " {{tags.title|raw}}  ", {%endfor%}
                ],
                delay: 100
            },
            showAutocompleteOnFocus: !0,
            delimiter: [","]
        });
        b.initialize(), a("#tokenfield-typeahead").tokenfield({
            typeahead: [null, {
                    source: b.ttAdapter()
                }]
        }), a("#tokenfield-2").on("tokenfield:createtoken", function(a) {
            var b = a.attrs.value.split("|");
            a.attrs.value = b[1] || b[0], a.attrs.label = b[1] ? b[0] + " (" + b[1] + ")" : b[0]
        }).on("tokenfield:createdtoken", function(b) {
            var c = /\S+@\S+\.\S+/,
                    d = c.test(b.attrs.value);
            d || a(b.relatedTarget).addClass("invalid")
        }).on("tokenfield:edittoken", function(a) {
            if (a.attrs.label !== a.attrs.value) {
                var b = a.attrs.label.split(" (");
                a.attrs.value = b[0] + "|" + a.attrs.value
            }
        }).on("tokenfield:removedtoken", function(b) {
            if (b.attrs.length > 1) {
                var c = a.map(b.attrs, function(a) {
                    return a.value
                });
                alert(b.attrs.length + " tokens removed! Token values were: " + c.join(", "))
            } else
                alert("Token removed! Token value was: " + b.attrs.value)
        }).tokenfield()
    });
</script>
</div>


{% endblock %}

