
{% extends 'MyAppEspritBundle:BackOffice:administration.html.twig' %}

 {% block editsujet %}    {% include 'TwitterBootstrapBundle::stylesheets.html.twig'%}

                <header><h3 class="tabs_involved">Content Sujet Manager</h3>
                    <ul class="tabs">
                        <li><a href="#tab1">Posts</a></li>
                         
                    </ul>
                </header>  
<div id="tab1" class="tab_content">
    <table class="tablesorter" cellspacing="0"> 
        <thead> 
            <tr> 
                <th></th> 
                <th>No</th> 
                  <th> </th> 
                    <th>Sujet</th> 
                <th>Actions</th> 
            </tr> 
        </thead> 
        <tbody> 
            {% for sujet2 in sujet2 %}
            <tr> 
                <td><input type="checkbox"></td> 
                <td>{{sujet2.id}}</td> 
                <td>{#{app.user.roles|join }#}</td> 
                <td>{{sujet2.sujet}}</td> 


                <td>
                    {%if  ("EDITOR" in app.user.roles|join)%}    <a href="{{ path('my_app_forum_sujet_edit',{'id':sujet.id}) }}">
                        <img src="{{ asset('bundles/myappesprit/images/admin/icn_edit.png') }}" alt="" />
                    </a> {%endif%}  &nbsp;&nbsp;
                    <a href="{{ path('my_app_forum_sujet_delete',{'id':sujet.id}) }}">
                        <img src="{{ asset('bundles/myappesprit/images/admin/icn_trash.png') }}" alt="" />
                    </a> 
                </td>
            </tr> 

            {%endfor%}


        </tbody> 
    </table>
</div> 

   <form role="form" method="post" {{ form_enctype(form) }} >
                        <article class="module width_full">
                            <header><h3>Post New sujet</h3></header>
                            <div class="module_content">
                                <fieldset>    
                                    <label>Sujet </label>
                                    {{form_widget(form.sujet, { 'attr': {'placeholder': '  Title ','class':'inp-form'} }) }}
                                    
                                    <label>Contenu</label>
                                    {{form_widget(form.contenu, { 'attr': {'placeholder': '  Title ','class':'inp-form'} }) }}
                                  
                                    {{form_widget(form.tags) }} 
                                    
                                    
                                </fieldset> 
                                <div class="clear"> </div>
                                
                            </div>
                            <footer>  
                                <div class="submit_link">
                                    
                                  {{form_widget(form._token)}}
                                    <input type="submit"   value="Publish" class="alt_btn">
                                    <a href="{{path('my_app_esprit_homepage') }}" value="Reset"/>
                                  
                                    
                                </div> 
                            </footer>
                        </article> 
</form>











<!--
  <p class="container">
      <button id="loadToSuccess" class="btn">Loading Then Success</button>
  </p>  -->
  <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/myappesprit/css/dialog/bootstrap.min.css') }}"/> 
   <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/myappesprit/css/dialog/custom.css') }}"/>  
   <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/myappesprit/css/dialog/iosOverlay.css') }}"/> 
   <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/myappesprit/css/dialog/prettify.css') }}"/>  
   
 <script type="text/javascript" src="{{ asset('bundles/myappesprit/css/dialog/modernizr-2.0.6.min.js' )}} "></script>
  <script type="text/javascript" src="{{ asset('bundles/myappesprit/css/dialog/jquery.min.js' )}} "></script>
 <script type="text/javascript" src="{{ asset('bundles/myappesprit/css/dialog/iosOverlay.js' )}} "></script>
  <script type="text/javascript" src="{{ asset('bundles/myappesprit/css/dialog/spin.min.js' )}} "></script>
 <script type="text/javascript" src="{{ asset('bundles/myappesprit/css/dialog/prettify.js' )}} "></script>
  <script type="text/javascript" src="{{ asset('bundles/myappesprit/css/dialog/custom.js' )}} "></script>
   
 
  <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-37502505-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' === document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

 {% endblock  %}


{# empty Twig template #}
