
<div class="commentaire">

     {% for  commentaire in commentaire %}

  {% set commentaireid = commentaire.id %}

    <style type="text/css">div.contenucommentaireparent{{commentaireid}}{ border-color: red; padding-left: 50px;}</style>
                                                                       
    

    <div class="contenucommentaireparent{{commentaireid}}" id="commentparentajax{{commentaireid}}"> 

            {% if commentaire.user.path is not null  %} 

                    {%if "http" in commentaire.user.path %}
                                <img src="{{commentaire.user.path }}"   class="imageuser" alt="" />
                     {%else%}
                                 <img src="{{ asset('upload/' ~ commentaire.user.path)}}"   class="imageuser" alt="" />
                    {%endif%}

           {% else %}   <img src="{{ asset('bundles/myappesprit/images/user.png') }}"  class="imageuser" alt=""   />{% endif%} 


        <b>{{commentaire.user.username|capitalize}}</b>
        <b class="timestyle">{{ time_diff(commentaire.datecreation) }}</b>



             {%if commentaire.vote  is not null %}
                    <b class="likecount" style="cursor:pointer;">
                    <img src="{{ asset('bundles/myappesprit/images/like.png') }}" height="20px;" width="20px;" alt=""/>
                    &nbsp;{{commentaire.vote}} </b>
             {%endif%}       
        </br>  <div class="contenudecommentaire"> {{commentaire.texte|raw }} </div>  </br> 



         {% include 'MyAppForumBundle:sujet/fragment:showhidethread.html.twig'%}



        <style type="text/css">
            a.bouttonsousnouveaucommentaireajax{{commentaireid}}{color: #c52821;font-weight: bold;text-decoration:none; }                 
        </style> 





 {% if is_granted( 'ROLE_USER' ) %}            
        <a class="bouttonsousnouveaucommentaireajax{{commentaireid}}"  id="Addnewcomment" >{{'repondrecommentaire'|trans}}</a>
  {%else%} <a href="#" class="clickTip exampleTip" id="Addnewcomment">{{'repondrecommentaire'|trans}}</a>{%endif%} 


        <script type="text/javascript">
            $("a.bouttonsousnouveaucommentaireajax{{commentaireid}}").click(function() {
                $("div#divinputtohide").hide();/*to hide all other input add or edit */
                $("div.threadcontent{{commentaireid}}").slideToggle();
                $("div.inputsnouveausouscommentaire{{commentaireid}}").slideToggle();
            });
        </script>


<!-------------------------------------------------------------------------------------------------------------------------------------------->
                  <b class="likebutton" style="cursor:pointer;">{{'like'|trans}}</b>
                  
                  {%if  ("EDITOR" in app.user.roles|join) or ( commentaire.user ==  app.user.username ) %}
                    <a class="bouttoneditcommentaire{{commentaireid}}" ><b class="likebutton">{{'modifier'|trans}}</b></a>
                {%endif%}

                    &nbsp;&nbsp;&nbsp;&nbsp; 


 <!------------------------------------------------------------------------------------------------------------------------------------------>
        <script src="{#{ asset('bundles/myappesprit/js/jqueryajax.min.js') }#}" type="text/javascript"></script>
        <script type="text/javascript">
            $(function() {
                $("#deletecomment{{commentaireid}}").click(function(e) { // On sélectionne le formulaire par son identifiant
                    e.preventDefault(); // Le navigateur ne peut pas envoyer le formulaire
                    var commentaireid = {{commentaireid}};/// cette variable pour recuperer l id dynamique concerné
                    $(".contenucommentaireparent{{commentaireid}}").hide();
                    $.ajax({
                        type: 'post',
                        url: "{{path('my_app_forum_commentaire_delete',{id:commentaireid} ) }}",
                        data: $(this).serialize(),
                        datatype: "json",
                        cache: false,
                        success: function(data)
                        {
                            //$(".contenucommentaireparent{#{commentaireid}#}").hide();                 
                        }
                    });
                    return false;
                });
            });
        </script>         

        <style type="text/css">a#deletecomment{{commentaireid}}{position: relative;left: 420px;top: -22px;}</style>  
        <div class="deletecomment{{commentaireid}}">
            {%if  ("EDITOR" in app.user.roles|join) or ( commentaire.user ==  app.user.username ) %}
            <a href="{{ path('my_app_forum_commentaire_delete',{'id':commentaire.id}) }}" class="deletecommentaire" id="deletecomment{{commentaireid}}">{{'delete'|trans}}</a> 
            {%endif%}
        </div>

<!---------------------------------------------------------------------------------------------------->


        <script type="text/javascript">
            $("a.bouttoneditcommentaire{{commentaireid}}").click(function() {
                $("div#divinputtohide").hide();/*to hide all other input add or edit */
                $("div.threadcontent{{commentaireid}}").slideToggle();
                $("div.inputeditcommentaire{{commentaireid}}").slideToggle();
            });
        </script>


        <div class="inputeditcommentaire{{commentaireid}}" id="divinputtohide">
          {% include 'MyAppForumBundle:sujet/fragment:inputeditcommentaire.html.twig'%} 
        </div>  


        <style type="text/css">
            div.inputeditcommentaire{{commentaireid}}{display: none;} 
            div.threadcontent{{commentaireid}}{display: none;}
        </style>
        <div class="threadcontent{{commentaireid}}">


            <div class="inputsnouveausouscommentaire{{commentaireid}}" id="divinputtohide"  >
             {% if is_granted( 'ROLE_USER' ) %}  
                    {% include 'MyAppForumBundle:sujet/fragment:inputajoutsousommentaire.html.twig'%}  
             {%endif%}
            </div>     

                   {# <div class="SousCommentAVECAJAX{{commentaireid}}" >
                     {% include 'MyAppForumBundle:sujet:listesouscommentaireajax.html.twig'%} 
                    </div>#}
        </div>



        </br> 
    </div>

{% endfor%} 


</div>