{# empty Twig template #}




<div class="commentaire">

     {% for  commentaire in commentaire %}
   
  {% set commentaireid = commentaire.id %}

    <div class="contenucommentaireparent"> 

            {% if commentaire.user.path is not null  %} 

            {%if "http" in commentaire.user.path %}
                  <img src="{{commentaire.user.path }}"   class="imageuser" alt="" />
             {%else%}
                  <img src="{{ asset('upload/' ~ commentaire.user.path)}}"   class="imageuser" alt="" />
            {%endif%}





              {% else %}   <img src="{{ asset('bundles/myappesprit/images/user.png') }}"  class="imageuser" alt=""   />{% endif%} 


        <b>{{commentaire.user.username|capitalize}}</b><b class="timestyle">{{ time_diff(commentaire.datecreation) }}</b>



            {% if commentaire.vote  is not null %}
        <b class="likecount" style="cursor:pointer;"><img src="{{ asset('bundles/myappesprit/images/like.png') }}" height="20px;" width="20px;" alt=""/>
            &nbsp;{{commentaire.vote}} </b>
             {%endif%}       
        </br>   {{commentaire.texte|raw }}  </br> 



         {% include 'MyAppForumBundle:sujet/fragment:showhidethread.html.twig'%}



        <style type="text/css">
            a.bouttonsousnouveaucommentaire{{commentaireid}}{
                color: #c52821;
                font-weight: bold;
                text-decoration:none;                       
            }
        </style> 
 {% if is_granted( 'ROLE_USER' ) %}            
        <a class="bouttonsousnouveaucommentaire{{commentaireid}}"  id="Addnewcomment" >Add new comment</a>
  {%else%} <a href="#" class="clickTip exampleTip" id="Addnewcomment">Add new comment</a>{%endif%}              
        <script type="text/javascript">
            $("a.bouttonsousnouveaucommentaire{{commentaireid}}").click(function() {
                $("div#divinputtohide").hide();/*to hide all other input add or edit */
                $("div.threadcontent{{commentaireid}}").slideToggle();
                $("div.inputsnouveausouscommentaire{{commentaireid}}").slideToggle();
            });
        </script>


                 {###################}

        <b class="likebutton" style="cursor:pointer;">like</b>
                  {%if  ("EDITOR" in app.user.roles|join) or ( commentaire.user ==  app.user.username ) %}
        <a class="bouttoneditcommentaire{{commentaireid}}" ><b class="likebutton">edit</b></a>
                {%endif%}
        &nbsp;&nbsp;&nbsp;&nbsp; 
                  {%if  ("EDITOR" in app.user.roles|join) or ( commentaire.user ==  app.user.username ) %}
        <a href="{{ path('my_app_forum_commentaire_delete',{'id':commentaire.id}) }}" class="deletecommentaire">delete</a> 
                     {%endif%}
        <script type="text/javascript">
            $("a.bouttoneditcommentaire{{commentaireid}}").click(function() {
                $("div#divinputtohide").hide();/*to hide all other input add or edit */
                $("div.threadcontent{{commentaireid}}").slideToggle();
                $("div.inputeditcommentaire{{commentaireid}}").slideToggle();
            });
        </script>
        <div class="inputeditcommentaire{{commentaireid}}" id="divinputtohide">
                         {#% include 'MyAppForumBundle:sujet/fragment:inputeditcommentaire.html.twig'%#} 
        </div>  
        <style type="text/css">
            div.inputeditcommentaire{{commentaireid}}{display: none;}
        </style>
        <style type="text/css">
            div.threadcontent{{commentaireid}}{display: none;}
        </style>
        <div class="threadcontent{{commentaireid}}">


            <div class="inputsnouveausouscommentaire{{commentaireid}}" id="divinputtohide"  >
                         {% if is_granted( 'ROLE_USER' ) %}  
                                {#% include 'MyAppForumBundle:sujet/fragment:inputajoutsousommentaire.html.twig'%#}  
                         {%endif%}
            </div>     


        </div>



        </br> 
    </div>
          
{% endfor%} 


</div>