
{% extends 'MyAppEspritBundle:BackOffice:administration.html.twig' %}

 {% block showsujet %}  
                <header><h3 class="tabs_involved">Content Sujet Manager</h3>
                    <ul class="tabs">
                        <li><a href="#tab1">Posts</a></li>
                        <li><a href="#tab2">Comments</a></li>
                    </ul>
                </header>  


<div id="tab1" class="tab_content">
    <table class="tablesorter" cellspacing="0"> 
        <thead> 
            <tr> 
                <th> </th> 
                <th>No</th> 
                
                <th>Sujet Title</th> 
                 <th>Post at</th> 
                <th>Actions</th> 
            </tr> 
        </thead> 
        <tbody> 
            {% for sujet in sujet %}
            <tr> 
                <td><input type="checkbox"></td> 
                <td>{{sujet.id}}</td> 
                <td>{{sujet.datecreation }}</td> 
                <td>{{sujet.sujet}}</td> 


                <td>
                    <a href="#">
                        <img src="{{ asset('bundles/myappesprit/images/admin/icn_edit.png') }}" alt="" /><img src="{{ asset('bundles/myappesprit/images/admin/icn_trash.png') }}" alt="" />
                    </a>   &nbsp;&nbsp;
                    <a href="#">
                        <img src="{{ asset('bundles/myappesprit/images/admin/icn_trash.png') }}" alt="" />
                    </a> 
                </td>
            </tr> 

            {%endfor%}


        </tbody> 
    </table>
</div> 


 {% endblock  %}


