
{% extends 'MyAppEspritBundle:BackOffice:administration.html.twig' %}

 {% block showsujet %}   {% include 'TwitterBootstrapBundle::stylesheets.html.twig'%}
<form  action='{{path('my_app_forum_sujet_changethread')}}' method="post" {{ form_enctype(form) }} > 
    <header><h3 class="tabs_involved">Content Sujet Manager</h3>
        <ul class="tabs">
            <li><a href="#tab1">Posts</a></li>

        </ul>
    </header>  


    <div id="tab1" class="tab_content" style="height: 250px; width: 680px; overflow: auto; display: block;">
        <table class="tablesorter" cellspacing="0"> 
            <thead> 
                <tr> 
                    <th> </th> 
                    <th>No</th> 

                    <th>Sujet Title</th> 
                    <th>Post at</th> 
                    <th>Thread</th>
                    <th>Actions</th> 
                </tr> 
            </thead> 
            <tbody> 
            {% for sujet in sujet %}
                <tr> 
                    <td><input type="checkbox"></td> 
                    <td>{{sujet.id}}</td> 
                    <td>{{sujet.sujet}}</td> 
                    <td>{{sujet.datecreation|date('Y-M-d')}}  </td> 
                {# <td>{{sujet.thread}}  </td> #}


                    <td>
                        <input type="text" name="i[]" id="" value="{{sujet.thread}}" style="width:20px;">
                    </td>



                    <td>
                        <a href="{{ path('my_app_forum_sujet_edit',{'id':sujet.id}) }}">
                            <img src="{{ asset('bundles/myappesprit/images/admin/icn_edit.png') }}" alt="" />
                        </a>    
                        <a href="{{ path('my_app_forum_sujet_delete',{'id':sujet.id}) }}">
                            <img src="{{ asset('bundles/myappesprit/images/admin/icn_trash.png') }}" alt="" />
                        </a> 
                    </td>
                </tr> 

            {%endfor%}


            </tbody> 
        </table>



 {{form_widget(form._token)}}  

        <center> <input type="submit"  value="change" /> </center>

        </br></br>

    </div>   
</form>


 {% endblock  %}


