{# empty Twig template #}
<!--<div style="  position: absolute;  left: 655px;  top: 50px;z-index: 80000"> -->






       {%for  sujet in sujet|slice(0, 5)%}
         
         {% if loop.length > 3   %}
        
       {% if sujet.id != loop.last%}        {# div espace serré #}
        <div class="senestredebattelementcompresse" style="border-bottom: 1px dashed #9fa1a3;">
            <a href="{{ path('my_app_forum_sujet_voir',{'id':sujet.id}) }}"> <t class="stylecontenudebat">{{sujet.sujet|truncate(22, true, '...')}}</t></a>   
        </div>        
      {%else%}
        <div class="senestredebattelementcompresse">
           <a href="{{ path('my_app_forum_sujet_voir',{'id':sujet.id}) }}"> <t class="stylecontenudebat">{{sujet.sujet|truncate(22, true, '...')}}</t></a>      
        </div> 
      {%endif%} 
        
        
        {%else%}
        
       {% if sujet.id != loop.last%}
        <div class="senestredebattelement" style="border-bottom: 1px dashed #9fa1a3;">
           <a href="{{ path('my_app_forum_sujet_voir',{'id':sujet.id}) }}"> <t class="stylecontenudebat">{{sujet.sujet|truncate(22, true, '...')}}</t></a>    
        </div>        
      {%else%}
        <div class="senestredebattelement">
            <a href="{{ path('my_app_forum_sujet_voir',{'id':sujet.id}) }}"> <t class="stylecontenudebat">{{sujet.sujet|truncate(22, true, '...')}}</t></a>      
        </div> 
      {%endif%}  
        
        
        {%endif%}
        
     {%endfor%}

    
  <!-- </div> -->