{# empty Twig template #}
{{ render(controller('MyAppEspritBundle:publicite:showextpub')) }}

{#{ render(controller('MyAppEspritBundle:publicite:showintpub')) }#}
{#{ render(controller('MyAppForumBundle:tag:mostused')) }#} 
<!-- css et js pour bundle JQuery  -->
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/myappforum/css/styledebats/jquery-ui.css') }}" />
<script type="text/javascript" src="{{ asset('bundles/myappforum/css/styledebats/jquery.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/myappforum/css/styledebats/jquery-ui.js') }}"></script>
<!-- css et js pour bundle JQuery  -->

  {% include 'TwitterBootstrapBundle::stylesheets.html.twig'%}

<div class="Forside___Debat___Politik___Samfund___Indenrigs">
    <B>Forside >  
            {% set uriapresForside = app.request.uri %}
            {% if   "sujetrecent" in  uriapresForside %} Seneste debatter {%endif%} 


    </B>
</div>

<div class="contenudetemplate">
    <div class="senestredebatt">
        </br> <center><b class="rouge">Most Used Tag</b></center></br>

                {% for mostusedtag in mostusedtag %}


        <b> <span style="padding: 30px;">{{mostusedtag.title|truncate(32, true, '...')}}</span></b> </br>
        <font style="color: silver;"><center>-------------------------------------------</center></font> 



                {% endfor%}    

    </div>


{% for publicite in publicite %} 
{#% if publicite.position  ==10%} <div class="position10"> <img src="{{publicite.image}}" alt="" width="300" height="251" class="img-border" > </div>{% endif%#}
{% if publicite.position  ==11%} <div class="position11"> <img src="{{publicite.image}}" alt="" width="300" height="251" class="img-border" style="margin-top: -150px;" > </div>{% endif%}
{% if publicite.position  ==12%} <div class="position12"> <img src="{{publicite.image}}" alt="" width="300" height="251" class="img-border" > </div>{% endif%}
{% if publicite.position  ==13%} <div class="position13"> <img src="{{publicite.image}}" alt="" width="300" height="251" class="img-border" > </div>{% endif%}
{#% if publicite.position  ==14%} <div class="position14"> <img src="{{publicite.image}}" alt="" width="300" height="251" class="img-border" > </div>{% endif%#}
{#% if publicite.position  ==15%} <div class="position15"> <img src="{{publicite.image}}" alt="" width="300" height="251" class="img-border" > </div>{% endif%#}
{% endfor%} 


    <div  class="StartaNewTopic">
        <a href="{{path('my_app_forum_sujet_add') }}" class="btn btn-warning btn-lg"> Start a New Topic</a>  
    </div>


    <h2>Seneste Debatter</h2>
{% for sujet in pagination %}
    <tr {% if loop.index is odd %}class="color"{% endif %}>







    {%if  sujet.user.id != 1%}

             {%if  sujet.user.image is not null %}

    <a href="#" id="dialog-link"> <img src="{{sujet.user.image }}"   class="imageuser" alt="" /></a> 

             {%else%}

    <a href="#" id="dialog-link"><img src="{{ asset('bundles/myappesprit/images/user.png') }}"  class="imageuser" alt="" /> </a>  

             {%endif%}





    <b>{{sujet.user.username}}</b>
     {% else %}    
    <img src="{{ asset('bundles/myappesprit/images/user.png') }}"  class="imageuser" alt="" />  
    <b>{{sujet.user.username}}</b>
    {% endif %}


     
    <b class="timestyle">{{ time_diff(sujet.datecreation) }}{#{sujet.datecreation|date('') |ago}#} </b> 

    </br>
    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="{{ path('my_app_forum_sujet_voir',{'id':sujet.id}) }}" style="text-decoration:none;"class="lienstyledebat" >{{sujet.sujet}}</a> 


    </br>
    <div class="contenudebat">  {{sujet.contenu|Contenu|truncate(188, true, '...')}}</div>  

    </br>
    &nbsp;&nbsp;&nbsp;&nbsp; {% for tag in tag %} <b>{{tag.title}}</b>&nbsp; {% endfor%} 

    </br>  </br> 
     {% if loop.index  == 5 %} 
    </br>
        {% for publicite in publicite %} 
              {% if publicite.position  == 8 %}  <img src="{{publicite.image}}" alt="" width="929" height="180" class="img-border" >{% endif%}
        {% endfor%} 
    </br> 
    {% endif%}













{%endfor%} 

    <div class="pagination">&nbsp;&nbsp; {{ knp_pagination_render(pagination) }}</div>

</div>




<div id="dialog">   
    <h6>Oprettet:&nbsp;{{sujet.user.datedeCreationUser|date('Y-M-d')  }} </h6>   
    <h6>Sidst online:&nbsp;{{sujet.user.lastLogin|date('Y-M-d')}}</h6> 

</div> 


<script>
    $("#dialog").dialog({
        open: function(event, ui) {
            $(".ui-dialog-titlebar-close").hide();
        },
        modal: true,
        autoOpen: false,
        show: "fold",
        width: 400,
        buttons: [
            {
                text: "Luk",
                click: function() {
                    $(this).dialog("close");
                
                } 
            }
        ]
    });
// Link to open the dialog
    $("#dialog-link").click(function(event) {
        $("#dialog").dialog("open");
        event.preventDefault();
    });
</script>
