 
{{ render(controller('MyAppEspritBundle:publicite:showextpub')) }}
 {{ render(controller('MyAppEspritBundle:notification:shownumber')) }} {# pour afficher notif number #}

 

  {% include 'TwitterBootstrapBundle::stylesheets.html.twig'%}

{% include 'MyAppEspritBundle:Default:sousmenu.html.twig'  with { 'routeName':app.request.get('_route') }%}

<div style="margin-left: 207px;" id="getFixedTemplate">
    <div class="senestredebatt">
        </br> <center><b class="rouge" >{#Most Used Tag#}{{'Most Used Tag'|trans}}</b></center></br>

                {% for mostusedtag in mostusedtag %}
                       {% if mostusedtag.id != loop.last%}
                        <div class="senestredebattelement" style="border-bottom: 1px dashed #9fa1a3;"> {{mostusedtag.title|truncate(32, true, '...')}}</div>    
                       {%else%}
                        <div class="senestredebattelement" >{{mostusedtag.title|truncate(32, true, '...')}}</div> 
                        {%endif%}
                {% endfor%}    

    </div>





    <div  class="StartaNewTopic">
        <a href="{{path('my_app_forum_sujet_add') }}" class="btn btn-warning btn-lg">
             {{'Start a New Topic'|trans}}{#Start a New Topic#}
        </a>  
    </div>


    {#<h2>Seneste Debatter</h2>#}<h2>{{'DebatRecent'|trans}}</h2>
{% for sujet in pagination %}
    <tr {% if loop.index is odd %}class="color"{% endif %}>


    <div class="stylepourchaquedebat">

        <!-- tooltip personnalisé :D -->



    {%if  sujet.user.id != 1%}

             {%if  sujet.user.path is not null %}

                    <a  class="clickTip exampleTip" id="clickTipid{{sujet.id}}">
                         {%if "http" in sujet.user.path %}
                            <img src="{{sujet.user.path }}"   class="imageuser" alt="" />
                         {%else%}
                            <img src="{{ asset('upload/' ~ sujet.user.path)}}"   class="imageuser" alt="" />
                        {%endif%}
                    </a> 
   
             {%else%}
                        <a  class="clickTip exampleTip" id="clickTipid{{sujet.id}}">
                            <img src="{{ asset('bundles/myappesprit/images/user.png') }}"  class="imageuser" alt="" />
                        </a> 
             {%endif%}





        <b>{{sujet.user.username|capitalize}}</b>
     {% else %}    
        <img src="{{ asset('bundles/myappesprit/images/user.png') }}"  class="imageuser" alt="" />  
        <b>{{sujet.user.username|capitalize}}</b>
    {% endif %}
       
           

        <b class="timestyle">{{ time_diff(sujet.datecreation) }}{#{sujet.datecreation|date('') |ago}#} </b> 
             {% set counter = 0 %}  
            {% for commentaire in commentaire %}
            {% if commentaire.sujet.id == sujet.id %}{% set counter = counter+1 %}  {%endif%}
            {% endfor%}
        
        {% if counter >0 %}
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;         
                <img src="{{ asset('bundles/myappesprit/images/commentCount.png') }}" height="20px;" width="20px;" alt=""/>
                &nbsp;<b>{{counter}}</b>
       {% endif %} 
        </br>

        <a href="{{ path('my_app_forum_sujet_voir',{'id':sujet.id}) }}"  class="lienstyledebat" >
                 {{sujet.sujet|truncate(55, true, '...')}}
        </a> 


        </br>

        <div class="contenudebat">   {{ sujet.contenu|truncate(188, true, '...')|raw  }}  </div>

        </br>
        &nbsp;&nbsp;&nbsp;&nbsp;  
        <b style="  font-size: 12px;">{{(tag[sujet.id]|join(' , '))}} </b>
        
          <div class="tooltipfinal{{sujet.id}}" id="tooltipid">
                    <div class="profilusername">{{sujet.user.username|capitalize }}</div>
                    <div class="profildatetooltip">                    
                     {{'etabli'|trans}} : {{sujet.user.datedeCreationUser|date('Y-M-d')  }}</font-size></br>
                     {{'Sidstonline'|trans}} : {{sujet.user.lastLogin|date('Y-M-d') }}
                    </div>
                    </br> 
                    <a id="Luk" style="float:right;  padding-right: 20px;  color: red; ">Fermer</a>
          </div>
   
         <script type="text/javascript">
           $("a#Luk").click(function() { $("div#tooltipid").hide();});
           $(document).click(function(event) {if ( !$(event.target).hasClass('.tooltipfinal{{sujet.id}}')) { $(".tooltipfinal{{sujet.id}}").hide();}});              
        </script>
        
        
        <div class="tooltiploading{{sujet.id}}">
            <b style="padding-left: 50px;">Loading ...</b>
        </div> 
         
        <style type="text/css">
            div.profildatetooltip{ font: 12px/15px Georgia;  margin-left: 255px;}
            div.profilusername{position: relative;top: 25px;  left: 55px;  font-size: 24px;    font-weight: bold;    }
            div.tooltiploading{{sujet.id}}
            {position: relative;background-color: white;z-index: 10; top: -120px;  left: 40px;width: 402px;  height: 42px;display: none;box-shadow: 2px 2px 7px 2px #656565;}
            div.tooltipfinal{{sujet.id}}
            { position: relative;background-color: white;z-index: 10;top: -120px;  left: 40px;width: 402px;  height: 109px;display: none;box-shadow: 2px 2px 7px 2px #656565;}
        </style> 
    
        <script type="text/javascript">
           $("a#clickTipid{{sujet.id}}").click(function() {
                $("div#tooltipid").hide(); 
             //   $("div.tooltipfinal{{sujet.id}}").hide(0);  
             //   $("div.tooltiploading{{sujet.id}}").fadeToggle( "slow", "linear" );
                $("div.tooltiploading{{sujet.id}}").delay(200).show(200);
                $("div.tooltiploading{{sujet.id}}").delay(100).fadeToggle(0);
           //   $("div.tooltipfinal{{sujet.id}}").slideToggle(1000);
                $("div.tooltipfinal{{sujet.id}}").delay(400).slideToggle(200);  
            });
        </script>

    </div>

    </br>   
         {% if loop.index  == 5 %} 
        </br>
            {% for publicite in publicite %} 
                  {% if publicite.position  == 8 %}  <img src="{{publicite.image}}" alt="" width="929" height="180" style="width:930px;height:180px;" >{% endif%}
            {% endfor%} 
        </br> </br>
        {% endif%}

    
 {% if loop.index  == 10 %}    
{% for publicite in publicite %} 
{#% if publicite.position  ==10%} <div class="position10"> <img src="{{publicite.image}}" alt="" width="300" height="251" class="img-border" > </div>{% endif%#}
{% if publicite.position  ==11%} <div class="position11"> <img src="{{publicite.image}}" alt="" width="300" height="251" class="img-border" style="margin-top: -150px;" > </div>{% endif%}
{% if publicite.position  ==12%} <div class="position12"> <img src="{{publicite.image}}" alt="" width="300" height="251" class="img-border" > </div>{% endif%}
{% if publicite.position  ==13%} <div class="position13"> <img src="{{publicite.image}}" alt="" width="300" height="251" class="img-border" > </div>{% endif%}
{#% if publicite.position  ==14%} <div class="position14"> <img src="{{publicite.image}}" alt="" width="300" height="251" class="img-border" > </div>{% endif%#}
{#% if publicite.position  ==15%} <div class="position15"> <img src="{{publicite.image}}" alt="" width="300" height="251" class="img-border" > </div>{% endif%#}
{% endfor%} 
{% endif%}

{%endfor%} 

            <div class="pagination">&nbsp;&nbsp; {{ knp_pagination_render(pagination) }}</div>

    
    
    
          <div style="padding-top: 70px;"> 
              <div style="  margin-top: -80px;margin-bottom: 20px;"> 
                    {{ render(controller('MyAppEspritBundle:publicite:showpubfooter')) }}
               </div>   
               {% include   'MyAppEspritBundle:Default:footer.html.twig'%} 
           </div>       
         

 </div>

 
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/myappforum/css/tooltip/css/atooltip.css') }}" />
<script type="text/javascript" src="{{ asset('bundles/myappforum/css/tooltip/js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/myappforum/css/tooltip/js/jquery.atooltip.js') }}"></script>
