{# empty Twig template #}
{{ render(controller('MyAppEspritBundle:publicite:showextpub')) }}
 {{ render(controller('MyAppEspritBundle:notification:shownumber')) }} {# pour afficher notif number #}


<!-- css et js pour bundle JQuery  -->
{#<link rel="stylesheet" type="text/css" href="{{ asset('bundles/myappforum/css/styledebats/jquery-ui.css') }}" />
<script type="text/javascript" src="{{ asset('bundles/myappforum/css/styledebats/jquery.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/myappforum/css/styledebats/jquery-ui.js') }}"></script>#}
<!-- css et js pour bundle JQuery  -->

  {% include 'TwitterBootstrapBundle::stylesheets.html.twig'%}

{% include 'MyAppEspritBundle:Default:sousmenu.html.twig'  with { 'routeName':app.request.get('_route') }%}


<div class="contenudetemplate">
    <div class="senestredebatt">
        </br> <center><b class="rouge">Most Used Tag</b></center></br>

                {% for mostusedtag in mostusedtag %}

         {% if mostusedtag.id != loop.last%}
        <div class="senestredebattelement" style="border-bottom: 1px dashed #9fa1a3;">
            {{mostusedtag.title|truncate(32, true, '...')}}
        </div> 
       {%else%}
        <div class="senestredebattelement" >
            {{mostusedtag.title|truncate(32, true, '...')}}
        </div> 
        {%endif%}


                {% endfor%}    

    </div>


{% for publicite in publicite %} 
{#% if publicite.position  ==10%} <div class="position10"> <img src="{{publicite.image}}" alt="" width="300" height="251" class="img-border" > </div>{% endif%#}
{% if publicite.position  ==11%} <div class="position11"> <img src="{{publicite.image}}" alt="" width="300" height="251" class="img-border" style="margin-top: -150px;" > </div>{% endif%}
{% if publicite.position  ==12%} <div class="position12"> <img src="{{publicite.image}}" alt="" width="300" height="251" class="img-border" > </div>{% endif%}
{% if publicite.position  ==13%} <div class="position13"> <img src="{{publicite.image}}" alt="" width="300" height="251" class="img-border" > </div>{% endif%}
{#% if publicite.position  ==14%} <div class="position14"> <img src="{{publicite.image}}" alt="" width="300" height="251" class="img-border" > </div>{% endif%#}
{#% if publicite.position  ==15%} <div class="position15"> <img src="{{publicite.image}}" alt="" width="300" height="251" class="img-border" > </div>{% endif%#}
{% endfor%} 


    <div  class="StartaNewTopic">
        <a href="{{path('my_app_forum_sujet_add') }}" class="btn btn-warning btn-lg"> Start a New Topic</a>  
    </div>


    <h2>Seneste Debatter</h2>
{% for sujet in pagination %}
    <tr {% if loop.index is odd %}class="color"{% endif %}>


    <div class="stylepourchaquedebat">

        <!-- tooltip personnalisé :D -->



    {%if  sujet.user.id != 1%}

             {%if  sujet.user.image is not null %}

        <a   class="clickTip exampleTip" id="clickTipid{{sujet.id}}">
            <img src="{{sujet.user.image }}"   class="imageuser" alt="" />
        </a> 
       {#  avec ce tooltip y a pas de soucils :D
             <script type="text/javascript">
            $(function() {
                $('a.clickTip').aToolTip({
                    clickIt: true,
                    tipContent:
                   '<div class="profilusername">' +'{{sujet.user.username }}'+'</div>'+
                    '<div class="profildatetooltip">' +                    
                    ' Oprettet : {{sujet.user.datedeCreationUser|date('Y-M-d')  }}</font-size>'  +'</br>'+
                    ' Sidst online : {{sujet.user.lastLogin|date('Y-M-d') }}'+'</div>'
                    
                    
                });
            });
        </script>
        <style type="text/css">
            div.profildatetooltip{ font: 12px/15px Georgia;  margin-left: 220px;}
            div.profilusername{position: relative;top: 25px;  left: 55px;  font-size: 24px;    font-weight: bold;    }
            
        </style>#}






             {%else%}


        <a  class="clickTip exampleTip" id="clickTipid{{sujet.id}}">
            <img src="{{ asset('bundles/myappesprit/images/user.png') }}"  class="imageuser" alt="" />
        </a> 



             {%endif%}





        <b>{{sujet.user.username|capitalize}}</b>
     {% else %}    
        <img src="{{ asset('bundles/myappesprit/images/user.png') }}"  class="imageuser" alt="" />  
        <b>{{sujet.user.username|capitalize}}</b>
    {% endif %}



        <b class="timestyle">{{ time_diff(sujet.datecreation) }}{#{sujet.datecreation|date('') |ago}#} </b> 

        </br>

        <a href="{{ path('my_app_forum_sujet_voir',{'id':sujet.id}) }}" style="text-decoration: none; "class="lienstyledebat" >
        {{sujet.sujet}}</a> 


        </br>

        <div class="contenudebat">   {{ sujet.contenu|Contenu|truncate(188, true, '...')  }} 




        </div>




        </br>
        &nbsp;&nbsp;&nbsp;&nbsp;   <b>{{(tag[sujet.id]|join(' - '))}} </b>
        
          <div class="tooltipfinal{{sujet.id}}" id="tooltipid">
                    <div class="profilusername">{{sujet.user.username }}</div>
                    <div class="profildatetooltip">                    
                     Oprettet : {{sujet.user.datedeCreationUser|date('Y-M-d')  }}</font-size></br>
                     Sidst online : {{sujet.user.lastLogin|date('Y-M-d') }}
                    </div>
                    </br> 
                    <a id="Luk" style="float:right;  padding-right: 20px;  color: red; ">Luk</a>
          </div>
   
         <script type="text/javascript">
           $("a#Luk").click(function() {
                $("div#tooltipid").hide();  
            });
        </script>
        
        
        <div class="tooltiploading{{sujet.id}}">
            <b style="padding-left: 50px;">Loading ...</b>
        </div> 
         
        <style type="text/css">
            div.profildatetooltip{ font: 12px/15px Georgia;  margin-left: 255px;}
            div.profilusername{position: relative;top: 25px;  left: 55px;  font-size: 24px;    font-weight: bold;    }
            div.tooltiploading{{sujet.id}}
            {position: relative;background-color: white;z-index: 10; top: -120px;  left: 40px;width: 402px;  height: 42px;display: none;box-shadow: 2px 2px 7px 2px #656565;}
            div.tooltipfinal{{sujet.id}}
            { position: relative;background-color: white;z-index: 10;top: -120px;  left: 40px;width: 402px;  height: 109px;display: none;box-shadow: 2px 2px 7px 2px #656565;}
        </style> 
    
        <script type="text/javascript">
           $("a#clickTipid{{sujet.id}}").click(function() {
                $("div#tooltipid").hide(); 
             //   $("div.tooltipfinal{{sujet.id}}").hide(0);  
             //   $("div.tooltiploading{{sujet.id}}").fadeToggle( "slow", "linear" );
                $("div.tooltiploading{{sujet.id}}").delay(200).show(200);
                $("div.tooltiploading{{sujet.id}}").delay(100).fadeToggle(0);
           //   $("div.tooltipfinal{{sujet.id}}").slideToggle(1000);
                $("div.tooltipfinal{{sujet.id}}").delay(400).slideToggle(200);  
            });
        </script>

    </div>

    </br>   
     {% if loop.index  == 5 %} 
    </br>
        {% for publicite in publicite %} 
              {% if publicite.position  == 8 %}  <img src="{{publicite.image}}" alt="" width="929" height="180" class="img-border" >{% endif%}
        {% endfor%} 
    </br> </br>
    {% endif%}


{%endfor%} 

    <div class="pagination">&nbsp;&nbsp; {{ knp_pagination_render(pagination) }}</div>

</div>



{#
<div id="dialog" >   
    <h6>Oprettet:&nbsp;{{sujet.user.datedeCreationUser|date('Y-M-d')  }} </h6>   
    <h6>Sidst online:&nbsp;{{sujet.user.lastLogin|date('Y-M-d')}}</h6> 
</div> 
 <script src="{{ asset('bundles/myappesprit/css/dialog/jquerydiag.js') }}" type="text/javascript"></script>   #}








{#<link rel="stylesheet" type="text/css" href="{{ asset('bundles/myappforum/css/tooltip/css/style.css') }}" />#}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/myappforum/css/tooltip/css/atooltip.css') }}" />
<script type="text/javascript" src="{{ asset('bundles/myappforum/css/tooltip/js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/myappforum/css/tooltip/js/jquery.atooltip.js') }}"></script>