{# empty Twig template #}
{{ render(controller('MyAppEspritBundle:publicite:showextpub')) }}
 {{ render(controller('MyAppEspritBundle:notification:shownumber')) }} {# pour afficher notif number #}



<!-- css et js pour bundle JQuery  -->

<!-- css et js pour bundle JQuery  -->

 {% include 'TwitterBootstrapBundle::stylesheets.html.twig'%}

{% include 'MyAppEspritBundle:Default:sousmenu.html.twig'  with { 'routeName':app.request.get('_route') }%}


<div class="contenudetemplate">
    <div class="paddingdebataveccomment">

        </br> 

{% if sujet.user is not null %}
{% if sujet.user.image is not null  %}
        <img src="{{sujet.user.image }}"  
             class="imageuserdebataveccomment" alt="" />  
{% else %}
        <img src="{{ asset('bundles/myappesprit/images/user.png') }}"  
             class="imageuserdebataveccomment" alt=""  />             
{% endif%}

        &nbsp;&nbsp;&nbsp;
        <b style="color: black" >{{sujet.user.username}}</b>
        <b class="timestyle">{{ time_diff(sujet.datecreation) }}{#{sujet.datecreation|date('') |ago}#} </b>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <img src="{{ asset('bundles/myappesprit/images/commentCount.png') }}" height="20px;" width="20px;" alt=""/> &nbsp;<b>{{commentCount}}</b>
        </br> 

{% else%}

        <img src="{{ asset('bundles/myappesprit/images/user.png') }}"  
             class="imageuserdebataveccomment"alt="" />  
        &nbsp;&nbsp;&nbsp;
        <b style="color: black">Anonymous</b>
        <b class="timestyle">{{ time_diff(sujet.datecreation) }}{#{sujet.datecreation|date('') |ago}#} </b>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <img src="{{ asset('bundles/myappesprit/images/commentCount.png') }}" height="20px;" width="20px;" alt=""/> &nbsp;<b>{{commentCount}}</b>

 {% endif%}       

        <b style="color: black;  padding-left: 130px;"> <FONT size="5px;"> {{sujet.sujet}}</FONT></b>
        <div>





            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</br>
         {{sujet.contenu|Contenu}}   </br>  
           <p class="flip">Add new comment</p>

            <div  class="tagtitlevoirun">
                {% set counternombredetag = 0 %} 
                {% for tag in tag %}
                <b> {% set counternombredetag = counternombredetag + 1 %}
                                {{tag.title}} &nbsp;&nbsp;
                </b>
                {% endfor%}
              {#%if sujet.user ==  app.user.username and app.user.username is defined %#}

                <a href="{{ path('my_app_forum_sujet_specialedit',{'id':sujet.id}) }}">  
               {% if counternombredetag > 0%}
                    <img src="{{ asset('bundles/myappesprit/images/admin/icn_edit.png') }}" alt="" />
                 {% endif%}
                </a> 



            {#% endif %#}
            </div>
        </div>







        <div class="commentaire">
              {% for  commentaire in commentaire %}
        {% if loop.index <= sujet.thread %}
    {% if commentaire.user.image is not null  %}<img src="{{commentaire.user.image }}" class="imageuser" alt=""/>   
    {% else %} <img src="{{ asset('bundles/myappesprit/images/user.png') }}"  class="imageuser" alt=""   /> {% endif%}




                    <b>{{commentaire.user.username}}</b><b class="timestyle">{{ time_diff(commentaire.datecreation) }}</b>
{% if commentaire.vote  is not null %}
            <b class="likecount"><img src="{{ asset('bundles/myappesprit/images/like.png') }}" height="20px;" width="20px;" alt=""/>  &nbsp;{{commentaire.vote}} </b>
  {%endif%}
            
  <a href="{{ path('my_app_forum_commentaire_delete',{'id':commentaire.id}) }}"
     style="padding-left:100px;text-decoration:none;text-decoration-color: gray;">Delete</a>
           
            </br>
            <div class="contenucommentaireparent"> 
                    {{commentaire.texte}}
                </br> 
                <a class="flip2">Add new comment</a>
                <b class="likebutton">like</b>
            
            </div>




      {%endif%} 
          {% endfor%}
        </div>
        {% if is_granted( 'ROLE_USER' ) %} 
     
           <div class="panel"> <div   class="nouveaucommentaire"   >
          {% if app.user.image is not null %} <img src="{{ app.user.image }}" class="imageuser" alt=""/>
          {%else%}<img src="{{ asset('bundles/myappesprit/images/user.png') }}"  class="imageuser" alt=""   />{%endif%}   
            <b>Comment &nbsp; <b  class="rouge">*</b> &nbsp;&nbsp;</br></br>
           {{ render(controller('MyAppForumBundle:commentaire:add')) }}     


               </div> </div> 
        <div class="panel2">{{ render(controller('MyAppForumBundle:commentaire:addsouscomment')) }} </div>
        {% endif %}
        <br>





    </div> 
</div>


    {#
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.min.js"></script> 
<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $(".flip").click(function() {
            $(".panel").slideToggle("slow");
        });
    });
</script>

<style type="text/css">
    div.panel,p.flip {
        //margin: 0px;
        //padding: 5px;
        //text-align: center;
        // background: #ddd;
        width: 200px;
        height: 70px;
        //border: solid 1px #ddd;
        padding-left: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-bottom: 0px;
    }

    div.panel {
        width: 50%;
        height: 100px;
        display: none;
    }
</style>
 {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': 'test'} %}
{########################################################################}


<script type="text/javascript"
src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
$(".flip").click(function() {$(".panel").slideToggle("slow");});
$(".flip2").click(function() {$(".panel2").slideToggle("slow");});
 
});
</script>

<style type="text/css">
p.flip {
 text-decoration:none;
color: #c52821;
  font-weight: bold;
  height: 50px;
  width: 200px;
  padding-left: 15px;
  padding-top: 10px;
  background-color: transparent;
 /* border-color: aqua;
  border-style: dashed;*/
}
a.flip2 {
 
color: #c52821;
font-weight: bold;
 text-decoration:none;
}
div.panel {display: none;}
div.panel2 {display: none;  padding-left: 100px;padding-top: 10px;} 


</style>
 
 

 