 
{{ render(controller('MyAppEspritBundle:publicite:showextpub')) }}
{{ render(controller('MyAppEspritBundle:notification:shownumber')) }} {# pour afficher notif number #}


 {% include 'TwitterBootstrapBundle::stylesheets.html.twig'%}
 {% include 'MyAppEspritBundle:Default:sousmenu.html.twig'  with { 'routeName':app.request.get('_route') }%}

<script src="{{ asset('bundles/myappesprit/js/jquery-1.10.1.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/myappesprit/js/jquery-1.4.2.min.js') }}" type="text/javascript"></script>

                
                  <style type="text/css">  div.footerclassajax{display: none;} div.footerclass{display: block;}  </style> 
                    
              

<div style="margin-left: 207px;" id="getFixedTemplate">
    <div class="paddingdebataveccomment">

        </br> 

      {% if sujet.user is not null %}
                {% if sujet.user.path is not null  %}

                            {%if "http" in sujet.user.path %}
                                        <img src="{{sujet.user.path }}"  class="imageuserdebataveccomment" alt=""   />  
                             {%else%}
                                        <img src="{{ asset('upload/' ~ sujet.user.path)}}"  class="imageuserdebataveccomment" alt="" />
                            {%endif%}
                {% else %}
                        <img src="{{ asset('bundles/myappesprit/images/user.png') }}"    class="imageuserdebataveccomment" alt=""  />  
                {% endif%}

        &nbsp;&nbsp;&nbsp;
        <b class="blacktexte" >{{sujet.user.username|capitalize}}</b>
        <b class="timestyle">{{ time_diff(sujet.datecreation) }}{#{sujet.datecreation|date('') |ago}#} </b>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <img src="{{ asset('bundles/myappesprit/images/commentCount.png') }}" height="20px;" width="20px;" alt=""/> &nbsp;


        <b>{{commentCount}}</b>

        </br> 

      {% else%}

        <img src="{{ asset('bundles/myappesprit/images/user.png') }}"  class="imageuserdebataveccomment"alt="" /> 

        &nbsp;&nbsp;&nbsp;
        <b class="blacktexte">Anonymous</b>
        <b class="timestyle">{{ time_diff(sujet.datecreation) }}{#{sujet.datecreation|date('') |ago}#} </b>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <img src="{{ asset('bundles/myappesprit/images/commentCount.png') }}" height="20px;" width="20px;" alt=""/> &nbsp;<b>{{commentCount}}</b>

     {% endif%}       
                <div style="width: 800px;">
                    <b style="  color: black;  position: relative;top: 10px;"> 
                        <FONT size="5px;"> {{sujet.sujet}}</FONT>
                    </b>
                </div>
        <!----------------------------------------------------------------------------------------------------------------------------------->
        <div class="contenutopic">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</br>
           {{sujet.contenu|Contenu|raw }}   </br>  
           
            {% if is_granted( 'ROLE_USER' ) %} <a class="bouttonnouveaucommentaire" id="Addnewcomment">{{'Add new comment'|trans}}</a>  
            {%else%}<a href="#"  class="clickTip exampleTip" id="Addnewcomment"   >{{'Add new comment'|trans}}</a> {%endif%}
            
            <script type="text/javascript">
                $("a.bouttonnouveaucommentaire").click(function() {
                    $("div#divinputtohide").hide();
                    $("div.inputajoutcommentaire").slideToggle();
                });
            </script>
                 {% include 'MyAppForumBundle:sujet/fragment:divedittag.html.twig'%} 
        </div>
         
        <!---------------------------------------------------------------------------------------------------------------------------------->
        <div class="inputajoutcommentaire" id="divinputtohide" style="  overflow: hidden;  position: relative;  display: none;  left: 80px;">

                {% if app.user.path is not null  %} 
                             {%if "http" in app.user.path %}
                                    <img src="{{app.user.path }}"   class="imageuser" alt="" />
                             {%else%}
                                    <img src="{{ asset('upload/' ~ app.user.path)}}"   class="imageuser" alt="" />
                             {%endif%}
                 {% else %} <img src="{{ asset('bundles/myappesprit/images/user.png') }}"  class="imageuser" alt=""   />{% endif%} 
                            {% if is_granted( 'ROLE_USER' ) %} 
                                 {% include 'MyAppForumBundle:sujet/fragment:inputajoutcommentaire.html.twig'%} 
                            {%endif%}



        </div>  
        <!---------------------------------------------------------------------------------------------------------------------------------->
          
       
        <div class="commentaireafficher">
            {% include 'MyAppForumBundle:sujet/Commentaire:affichercommentaireajax.html.twig'%} 
        </div>
       
    <!---------------------------------------------------------------------------------------------------------------------------------->
    
    

 
<script type="text/javascript">
            function CKupdate() { 
                for (instance in CKEDITOR.instances) CKEDITOR.instances[instance].updateElement();  CKEDITOR.instances[instance].setData('');}             
            $(function() {
                $("#formcomment").submit(function(e) {
                    CKupdate();
                    e.preventDefault();
                  $(".loadingbutton").show();
                    $.ajax({
                        type: 'post',
                        url: Routing.generate('my_app_forum_commentaire_add'),
                        data: $(this).serialize(),
                        datatype: "json",
                        cache: false,
                        success: function(data)
                        {   $(".loadingbutton").hide();
                            $('.commentaireafficher').html(data);
                            $(".inputajoutcommentaire").hide();                              
                        }
                    });
                    
                    return false;
                });
            });
</script>

 
   


<!-- pour les ajax call FOSJSrouting Bundle -->
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
<!-- pour les ajax call FOSJSrouting Bundle -->

     
    <!---------------------------------------------------------------------------------------------------------------------------------->
    <div class="footerclass" style="margin-left: -30px;">      {% include   'MyAppForumBundle:sujet/fragment:socialnetwork.html.twig'%} 
    <!---------------------------------------------------------------------------------------------------------------------------------->
                     <div style="padding-top: 70px;"> 
                            <div style="  margin-top: -20px; margin-bottom: 20px;">
                                {{ render(controller('MyAppEspritBundle:publicite:showpubfooter')) }}
                            </div>
                                {% include   'MyAppEspritBundle:Default:footer.html.twig'%}  
                     </div>
    </div>
    <!---------------------------------------------------------------------------------------------------------------------------------->
     
            {# tooltip non conncté #}
            {% include   'MyAppForumBundle:sujet/fragment:tooltippournonconnecte.html.twig'%} 
            {# tooltip non conncté #}
    </div>
</div>


       