{# empty Twig template #}
{{ render(controller('MyAppEspritBundle:publicite:showextpub')) }}
{{ render(controller('MyAppEspritBundle:notification:shownumber')) }} {# pour afficher notif number #}

 
 {% include 'TwitterBootstrapBundle::stylesheets.html.twig'%}
 {% include 'MyAppEspritBundle:Default:sousmenu.html.twig'  with { 'routeName':app.request.get('_route') }%}

<script src="{{ asset('bundles/myappesprit/js/jquery-1.10.1.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/myappesprit/js/jquery-1.4.2.min.js') }}" type="text/javascript"></script>

        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/myappforum/css/style.css') }}"/>        

<div class="contenudetemplate" id="getFixedTemplate">
    <div class="paddingdebataveccomment">

        </br> 

{% if sujet.user is not null %}
{% if sujet.user.path is not null  %}

            {%if "http" in sujet.user.path %}
                  <img src="{{sujet.user.path }}"  class="imageuserdebataveccomment" alt="" />  
             {%else%}
                   <img src="{{ asset('upload/' ~ sujet.user.path)}}"   class="imageuserdebataveccomment" alt="" />
            {%endif%}
{% else %}
        <img src="{{ asset('bundles/myappesprit/images/user.png') }}"   class="imageuserdebataveccomment" alt=""  />  
{% endif%}

        
        &nbsp;&nbsp;&nbsp;
        <b style="color: black" >{{sujet.user.username|capitalize}}</b>
        <b class="timestyle">{{ time_diff(sujet.datecreation) }}{#{sujet.datecreation|date('') |ago}#} </b>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <img src="{{ asset('bundles/myappesprit/images/commentCount.png') }}" height="20px;" width="20px;" alt=""/> &nbsp;

       
        <b>{{commentCount}}</b>
        
        {# commen COUNT AJAX } 
        <div class="CountComment">
                {% include 'MyAppForumBundle:sujet:commentcount.html.twig'%} 
        </div> 
        { commen COUNT AJAX #}


        </br> 

{% else%}

        <img src="{{ asset('bundles/myappesprit/images/user.png') }}"  class="imageuserdebataveccomment"alt="" /> 

        &nbsp;&nbsp;&nbsp;
        <b style="color: black">Anonymous</b>
        <b class="timestyle">{{ time_diff(sujet.datecreation) }}{#{sujet.datecreation|date('') |ago}#} </b>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <img src="{{ asset('bundles/myappesprit/images/commentCount.png') }}" height="20px;" width="20px;" alt=""/> &nbsp;<b>{{commentCount}}</b>

 {% endif%}       
        <div style="  width: 800px;">
            <b style="color: black;  padding-left: 130px;"> 
                <FONT size="5px;"> {{sujet.sujet}}</FONT>
            </b>
        </div>
        <!----------------------------------------------------------------------------------------------------------------------------------->
        <div class="contenutopic">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</br>
         {{sujet.contenu|Contenu|raw }}   </br>  


    {% if is_granted( 'ROLE_USER' ) %} <a class="bouttonnouveaucommentaire" id="Addnewcomment">Add new comment</a>  
    {%else%}<a href="#"  class="clickTip exampleTip" id="Addnewcomment">Add new comment</a> {%endif%}

            <script type="text/javascript">
                $("a.bouttonnouveaucommentaire").click(function() {
                    $("div#divinputtohide").hide();
                    $("div.inputajoutcommentaire").slideToggle();
                });
            </script>
                 {% include 'MyAppForumBundle:sujet/fragment:divedittag.html.twig'%} 
        </div>
        <!---------------------------------------------------------------------------------------------------------------------------------->
             <!---------------------------------------------------------------------------------------------------------------------------------->
        <div class="inputajoutcommentaire" id="divinputtohide">

                {% if app.user.path is not null  %} 


	 {%if "http" in app.user.path %}
            <img src="{{app.user.path }}"   class="imageuser" alt="" />
	 {%else%}
            <img src="{{ asset('upload/' ~ app.user.path)}}"   class="imageuser" alt="" />
	 {%endif%}

 
				 
            {% else %} <img src="{{ asset('bundles/myappesprit/images/user.png') }}"  class="imageuser" alt=""   />{% endif%} 


            {% if is_granted( 'ROLE_USER' ) %} 
                {% include 'MyAppForumBundle:sujet/fragment:inputajoutcommentaire.html.twig'%} 
            {%endif%}



        </div>  
        <!---------------------------------------------------------------------------------------------------------------------------------->
         


        
        
        
        
        <!--   ce div pour nouveau comment ajax -->  
        <div class="nouveaucommentaireafficher">
             {% include   'MyAppForumBundle:sujet:liste.html.twig'%}  
        </div>   
        <!--  ce div pour nouveau comment ajax -->
        
        <!---------------------------------------------------------------------------------------------------------------------------------->

                    
                
   
        <div class="commentaire">
 
             <!-- debut affichage des commentaires -->
              {% for  commentaire in commentaire %}{% if loop.index <= sujet.thread %} {% set commentaireid = commentaire.id %}

            <div class="contenucommentaireparent{{commentaireid}}"  id="commentparentNOajax"> 

            {% if commentaire.user.path is not null  %} 

            {%if "http" in commentaire.user.path %}
                <img src="{{commentaire.user.path }}"   class="imageuser" alt="" />
             {%else%}
                <img src="{{ asset('upload/' ~ commentaire.user.path)}}"   class="imageuser" alt="" />
            {%endif%}





              {% else %}   <img src="{{ asset('bundles/myappesprit/images/user.png') }}"  class="imageuser" alt=""   />{% endif%} 


                <b>{{commentaire.user.username|capitalize}}</b><b class="timestyle">{{ time_diff(commentaire.datecreation) }}</b>



            {% if commentaire.vote  is not null %}
                <b class="likecount" style="cursor:pointer;"><img src="{{ asset('bundles/myappesprit/images/like.png') }}" height="20px;" width="20px;" alt=""/>
                    &nbsp;{{commentaire.vote}} </b>
             {%endif%}       
                
                </br>   {{commentaire.texte|raw }}  </br> 
         

         {% include 'MyAppForumBundle:sujet/fragment:showhidethread.html.twig'%}



                <style type="text/css">
                    a.bouttonsousnouveaucommentaire{{commentaireid}}{
                        color: #c52821;
                        font-weight: bold;
                        text-decoration:none;                       
                    }
                </style> 
                
                 {% if is_granted( 'ROLE_USER' ) %}            
                    <a class="bouttonsousnouveaucommentaire{{commentaireid}}"  id="Addnewcomment" >Add new comment</a>
                  {%else%} <a href="#" class="clickTip exampleTip" id="Addnewcomment">Add new comment</a>{%endif%}  

  
                <script type="text/javascript">
                    $("a.bouttonsousnouveaucommentaire{{commentaireid}}").click(function() {
                        $("div#divinputtohide").hide();/*to hide all other input add or edit */
                        $("div.threadcontent{{commentaireid}}").slideToggle();
                        $("div.inputsnouveausouscommentaire{{commentaireid}}").slideToggle();
                    });
                </script>


   <!---------------------------------------------------------------------------------------------------------------------------------->            

                <b class="likebutton" style="cursor:pointer;">like</b>
                
  <!---------------------------------------------------------------------------------------------------------------------------------->              
                  {%if  ("EDITOR" in app.user.roles|join) or ( commentaire.user ==  app.user.username ) %}
                <a class="bouttoneditcommentaire{{commentaireid}}" ><b class="likebutton">edit</b></a>
                {%endif%}
                &nbsp;&nbsp;&nbsp;&nbsp; 
                
                
  <!---------------------------------------------------------------------------------------------------------------------------------->              
       
<script src="{#{ asset('bundles/myappesprit/js/jqueryajax.min.js') }#}" type="text/javascript"></script>
<script type="text/javascript">
    $(function() {
        $("#deletecomment{{commentaireid}}").click(function(e) { // On sélectionne le formulaire par son identifiant
            e.preventDefault(); // Le navigateur ne peut pas envoyer le formulaire
            var commentaireid = {{commentaireid}};/// cette variable pour recuperer l id dynamique concerné
            $(".contenucommentaireparent{{commentaireid}}").hide();
            $.ajax({
                type: 'post',
                url: "{{path('my_app_forum_commentaire_delete',{id:commentaireid} ) }}",
                data: $(this).serialize(),
                datatype: "json",
                cache: false,
                success: function(data)
                {
                    //$(".contenucommentaireparent{#{commentaireid}#}").hide();                 
                }
            });
            return false;
        });
    });
</script>         
                
<style type="text/css">a#deletecomment{{commentaireid}}{position: relative;left: 350px;top: -22px;}</style>  
<div class="deletecomment{{commentaireid}}">
{%if  ("EDITOR" in app.user.roles|join) or ( commentaire.user ==  app.user.username ) %}
<a href="{{ path('my_app_forum_commentaire_delete',{'id':commentaire.id}) }}" class="deletecommentaire" id="deletecomment{{commentaireid}}">delete</a> 
{%endif%}
</div>
  <!---------------------------------------------------------------------------------------------------------------------------------->              
             
                
                <script type="text/javascript">
                    $("a.bouttoneditcommentaire{{commentaireid}}").click(function() {
                        $("div#divinputtohide").hide();/*to hide all other input add or edit */
                        $("div.threadcontent{{commentaireid}}").slideToggle();
                        $("div.inputeditcommentaire{{commentaireid}}").slideToggle();
                    });
                </script>
                
                <div class="inputeditcommentaire{{commentaireid}}" id="divinputtohide">
                         {% include 'MyAppForumBundle:sujet/fragment:inputeditcommentaire.html.twig'%} 
                </div>  
                
                <style type="text/css">
                    div.inputeditcommentaire{{commentaireid}}{display: none;}
                </style>
                
                <style type="text/css">
                    div.threadcontent{{commentaireid}}{display: none;}
                </style>
                
                <div class="threadcontent{{commentaireid}}">


                    <div class="inputsnouveausouscommentaire{{commentaireid}}" id="divinputtohide"  >
                         {% if is_granted( 'ROLE_USER' ) %}  
                                {% include 'MyAppForumBundle:sujet/fragment:inputajoutsousommentaire.html.twig'%}  
                         {%endif%}
                    </div>     

                    {% for souscommentaire in souscommentaire %}
                            {% if souscommentaire.commentaire.id == commentaire.id%}
                                <div class="souscommentairesdetails">
                                     {% include 'MyAppForumBundle:sujet/fragment:souscommentairesdetails.html.twig'%} 
                                </div>
                          {%endif%}
                     {%endfor%}
                </div>



                </br> 
            </div>
            
     <!-- pour cacher les commentaires en doublons -->      
   {# <script type="text/javascript">   
       $(".contenucommentaireparent{{commentaireid}}").hide();
       $("#commentparentajax{{commentaireid}}").show(); 
    </script>  #}
   <!-- pour cacher les commentaires en doublons -->  
     
     
            
          {%endif%} {% endfor%} 


        </div>
       <!---------------------------------------------------------------------------------------------------------------------------------->
                   <!--  fin affichage des commentaires -->
      
   




        <br>





    </div> 

        <!---------------------------------------------------------------------------------------------------------------------------------->
                        <div style="padding-top: 70px;"> 
                            <div style="  margin-top: -20px; margin-bottom: 20px;">
                                        {{ render(controller('MyAppEspritBundle:publicite:showpubfooter')) }}
                            </div>
                                   {% include   'MyAppEspritBundle:Default:footer.html.twig'%}  
                        </div>
        <!---------------------------------------------------------------------------------------------------------------------------------->
</div>


 
                                    {## pour la tooltip NON CONNECTé ##}
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<!-- aToolTip css -->
<link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/myappforum/css/tooltipcommentaire/css/atooltip.css') }}"/> 
<!-- Scripts -->
<script src="{{ asset('bundles/myappforum/css/tooltipcommentaire/js/jquery.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/myappforum/css/tooltipcommentaire/js/jquery.atooltip.js') }}" type="text/javascript"></script>
<!-- aToolTip js -->
<script type="text/javascript">
    $(function() {
        $('a.normalTip').aToolTip();
        $('a.normalTip').aToolTip({effect: 'slide', slideOffset: 30});
        $('a.fixedTip').aToolTip({
            fixed: true
        });
        $('a.clickTip').aToolTip({
            effect: 'slide', slideOffset: 30,
            clickIt: true,
            tipContent:
                    '<div class="tool">' + '</br>' +
                 ///   '<center>Du skal være logget ind for at kommentere</center>' + '</br>' +
                    '<center>{{'notifpourcomment'|trans}}</center>' + '</br>' +
              {# '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ path('fos_user_security_login') }}" class="btn btn-warning btn-lg" >Log ind</a>' +#}
  '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ path('fos_user_security_login') }}" class="btn btn-warning btn-lg" >{{'log-in'|trans}}</a>' +                 
   {#'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ path('fos_user_registration_register') }}" class="rouge" >Opret ny bruger</a>' +#}
       '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ path('fos_user_registration_register') }}" class="rouge" >{{'creercompte'|trans}}{#Opret ny bruger#}</a>'+
                    '</div>'
        });
    });
</script>
<style type="text/css">
    .tool{	 
        //border:1px solid red;
        width:402px;
        height:86px;
        background-color:#FFF;
    }
</style>
                                    {## pour la tooltip NON CONNECTé ##}
{#<a href="#" class="clickTip exampleTip" >Add</a> #}


{### ajout commentaire ajax ##}

{#<script src="{{ asset('bundles/myappesprit/js/jqueryajax.min.js') }}" type="text/javascript"></script>#}
<script type="text/javascript">
    function CKupdate(){
    for ( instance in CKEDITOR.instances )
        CKEDITOR.instances[instance].updateElement();
}
    $(function() {
        $("#formcomment").submit(function(e) {
            CKupdate();// On sélectionne le formulaire par son identifiant
            e.preventDefault(); // Le navigateur ne peut pas envoyer le formulaire
            $(".loadingbutton").delay(500).fadeIn(500);
            $(".loadingbutton").delay(500).fadeOut(0);
            $.ajax({
                type: 'post',
                url: Routing.generate('my_app_forum_commentaire_add'),
                data: $(this).serialize(),
                datatype: "json",        
                cache: false,
                success: function(data)
                {                
                    $('.nouveaucommentaireafficher').html(data);                
                 //   $(".inputajoutcommentaire").hide();                     
                }
            });
            return false;
        });
    });
</script>

<script type="text/javascript">$(document).ready(function() {});</script>
    
