{# empty Twig template #}
{% extends 'MyAppEspritBundle:BackOffice:administration.html.twig' %}
 {% block ajout_publicite %}    
 {% include 'TwitterBootstrapBundle::stylesheets.html.twig'%}

<form  action='{{path('my_app_esprit_publicite_add')}}' method="post" {{ form_enctype(form) }} >
    <table>
       
            <tr>

               {{ form_widget(form.image ) }}  
            </tr>
            <tr>
                 {{form_widget(form._token)}}  	
                <td>  
                <td> {{form_widget(form.position)}}  </td><td>position</td>
                <td>  <input type="submit"   value="Publish"  id="submitnewpub"  ></td>
                <td>  <input type="reset"  value="Reset"  class="resetbutton" style="background-color: transparent;  border: none;"  </td>

            <script type="text/javascript">
                document.querySelector('#submitnewpub').onclick = function() {
                    swal({
                        title: "Alert automatique!",
                        text: "Veuillez patientez un peu",
                        timer: 600000,
                        showConfirmButton: false
                    });
                };
            </script>



            </tr>   
       
    </table>
</form>


{% endblock  %}

























