{# empty Twig template #}
{% extends 'MyAppEspritBundle:publicite:show.html.twig' %}
 
 {% block publicitemanage %} 
 {% include 'TwitterBootstrapBundle::stylesheets.html.twig'%}
 
{#% if is_granted('ROLE_ADMIN') %#}
<div id="div_publicite_add">
  <form  action='{{path('my_app_esprit_publicite_add')}}' method="post" {{ form_enctype(form) }} >
<table>
<thead>

     <tr>      
        <td> {{form_widget(form.image)}}  </td>
     </tr>   

      {{form_widget(form._token)}} 
     <tr>
         <td> </br></br>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <input type="submit"  value="submit" class="btn btn-warning btn-lg"/>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           
         
           <input type="reset" value="annuler"  class="btn btn-warning btn-lg"/>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           
           {{form_widget(form.position, { 'attr': { 'placeholder': '  position ','class': 'form-control'} }   )   }}       
         </td> 
      </tr>   
</thead>
 </table>
</form>
    </br></br></br>
      {% for publicite2 in publicite2 %} 
    
    <table>
         <tr> <td><b>
                       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  
                     Publicite a la position No  </b>{{ publicite2.position}}
                 
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             </td>
        
       
             <td><a href="{{ path('my_app_esprit_publicite_delete',{'id':publicite2.id} ) }}" style="text-decoration:none" class="form-control">supprimer</a></td></tr></br>
    </table>
    {% endfor %}
</div>
 
{#% endif %#}
{% endblock  %} 
