{# empty Twig template #}
{% extends 'MyAppEspritBundle:publicite:show.html.twig' %}
 
 {% block publicitemanage %} 
 {% include 'TwitterBootstrapBundle::stylesheets.html.twig'%}
 
{#% if is_granted('ROLE_ADMIN') %#}
<div id="div_publicite_add">
  <form  action='{{path('my_app_esprit_publicite_add')}}' method="post" {{ form_enctype(form) }} >
<table>
<thead>

    <tr>
       
        <td> {{form_widget(form.image)}}  </td>
     </tr>   

      {{form_widget(form._token)}} 
     <tr>
         <td> </br></br>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <input type="submit"  value="submit" class="btn btn-warning btn-lg"/>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           
         
           <input type="reset" value="annuler"  class="btn btn-warning btn-lg"/>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           
           {{form_widget(form.position, { 'attr': { 'placeholder': '  position ','class': 'form-control'} } )   }}       
         </td> 
      </tr>   
</thead>
 </table>
</form>
</div>
 
{#% endif %#}
{% endblock  %} 
