{# empty Twig template #}

{% extends 'MyAppEspritBundle:BackOffice:administration.html.twig' %}

 

 {% block ajout_tag%} 
 




<form  action='{{path('my_app_forum_tag_delete')}}' method="post" {{ form_enctype(form) }} > 
                <header><h3 class="tabs_involved">Gestion de Contenu tag</h3>
        <ul class="tabs">{{form_widget(form._token)}} 
            {# <li><a href="#tab1">Posts</a></li>#}
            <input type="submit"  value="Supprimer" style="background-color: transparent;border: none;" id="tagdeletesubmit"/> 
        </ul>
                </header>  
    
<script type="text/javascript">
        document.querySelector('#tagdeletesubmit').onclick = function(){
                swal({
                        title: "Alert automatique!",
                        text: "Veuillez patienter un peu",
                        timer: 6000,
                        showConfirmButton: false
                });
        };
</script>

    <div> 
      <table> 
            <tr> 
               <td width="100"> &nbsp;  </td>
               <td><b>No</b></td> 
                <td width="80"> &nbsp;  </td>
                <td><b>Tag Titre</b></td> 
                <td width="250"> &nbsp;  </td>
                 <td><b>Actions</b></td> 
            </tr> 
        </table> 
    </div>
    
    
    
<div id="tab1" class="tab_content" style="height: 250px; width: 680px; overflow: auto; display: block;">
    <table class="tablesorter" cellspacing="0"> 
      
        <tbody> 
            
            {% for tag in tag %}
            <tr> 
                <td><!--<input type="checkbox">--><input type="checkbox" name="mesIds[]" value={{tag.id}} /></td> 
                <td>{{tag.id}}</td> 
                <td>{#{app.user.roles|join }#}</td> 
                <td>{{tag.title}}</td> 


                <td>
                    <a href="{{ path('my_app_forum_tag_edit',{'id':tag.id}) }}">
                        <img src="{{ asset('bundles/myappesprit/images/admin/icn_edit.png') }}" alt="" />
                    </a>   &nbsp;&nbsp;
                    <a href="{{ path('my_app_forum_tag_delete',{'id':tag.id}) }}">
                        <img src="{{ asset('bundles/myappesprit/images/admin/icn_trash.png') }}" alt="" />
                    </a> 
                </td>
            </tr> 

            {%endfor%} 
            
         
           </tbody> 
        </table>
    </div> 
</form>
 
<form  action='{{path('my_app_forum_tag_manage')}}' method="post" {{ form_enctype(form) }} > 
                        <article class="module width_full">
                            <header><h3>Ajout nouvelle Tag</h3></header>
                            <div class="module_content">
                                <fieldset>
                                    <label>Tag Titre</label>
                                    {{form_widget(form.title, { 'attr': {'placeholder': '  Title ','class':'inp-form'} }) }}
                                   
                                </fieldset>  
                                <div class="clear"></div>
                            </div>
                            <footer>
                                <div class="submit_link">
                                  {{form_widget(form._token)}}
                                    <input type="submit"   value="Ajouter" class="alt_btn">
                                    <input type="reset"   value="Reset" style="background-color: transparent;border: none;" >
                                </div>
                            </footer>
                        </article> 
</form>


{% endblock %}

