 
<div class="Forside___Debat___Politik___Samfund___Indenrigs">
    <B>Forside >  

            {#% if   "sujetrecent" in  routeName %} Seneste debatter {%endif%#} 
        
             {% if   "sujetrecent" in  routeName %} {{'debatrecent'|trans}} {%endif%} 
            
      
            {#% if   "homepage" in  routeName %} Homepage {%endif%#} 
            {% if   "homepage" in  routeName %} {{'home'|trans}} {%endif%} 
            
            {#% if   "style_add" in  routeName %} Ajout de style {%endif%#}
            {% if   "style_add" in  routeName %} {{'Ajoutdestyle'|trans}} {%endif%}
            
            
            {%if "voir" in  routeName%}
             {%if "sujet" in  routeName%}
            <a href="{{ path('my_app_forum_sujet_sujetrecent' ) }}" >
            <u style="color:black">Débats</u></a> > 
                  {% for tag in tag %}{% if loop.index == 1 %} {{tag.title}} {%endif%}{%endfor%}
                                                  > 
                   {{sujet.sujet}}  
                                                  
                                                  
              {%endif%}                                    
             {%endif%}
    

           {#% if  "register"  in routeName %} Opret profil {%endif%#}
           {% if  "register"  in routeName %} {{ 'creeprofile'|trans }}  {%endif%}
           
             {% if  "sujet_add"  in routeName %} {{ 'creerdebat'|trans }}  {%endif%}
           
           {#% if  "login"  in routeName %} Login {%endif%#}
            {% if  "login"  in routeName %} {{ 'seconnecter'|trans }} {%endif%}
           
            
            
           {#% if   "change_password" in routeName %}Skift adgangskode {%endif%#}
            {% if   "change_password" in routeName %}{{ 'changpass'|trans }} {%endif%}
           
           
            {#% if  "confirmed" in routeName %}   Opret profil   {%endif%#}  
            {% if  "confirmed" in routeName %}  {{ 'creeprofile'|trans }}  {%endif%}  
            
         
            {#% if "profile_edit" in routeName %}Min profil{%endif%#}
           {% if "profile_edit" in routeName %}{{ 'voirprofile'|trans }}{%endif%}
            
            {% if "horoscope_show" in routeName %}Horoscope{%endif%}

             {%if "voir"   in  routeName%}  
              {%if  "article" in  routeName%}                          
                   {{article.headline}}                                 
             {%endif%}
            {%endif%}
            
        </B>
</div>
  










