 


<!-- CSS -->
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/myappforum/css/autocompletedestags/jquery-ui.css') }}"/> 
<link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/myappforum/css/autocompletedestags/bootstrap-tokenfield.css') }}"/>
<!-- CSS -->
<script src="{{ asset('bundles/myappforum/css/autocompletedestags/jquery-1.9.1.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/myappforum/css/autocompletedestags/jquery-ui.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/myappforum/css/autocompletedestags/bootstrap-tokenfield.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/myappforum/css/autocompletedestags/scrollspy.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/myappforum/css/autocompletedestags/affix.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/myappforum/css/autocompletedestags/typeahead.bundle.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/myappforum/css/autocompletedestags/docs.js') }}" type="text/javascript"></script>  
<!-- JS -->



 
                            <input type="text" class="form-control" id="tokenfield-1" value=" " 
                                   placeholder="Type something and hit enter" tabindex="-1" style="position: absolute; left: -10000px;">
                     
               




    <script type="text/javascript">
        jQuery(function() {
            $("#download-master").click(function() {
                _trackEvent("Downloads", "master")
            })
        }), jQuery(document).ready(function(a) {
            a("body").scrollspy({
                target: ".bs-sidebar",
                offset: 0
            }), a(window).on("load", function() {
                a("body").scrollspy("refresh")
            }), setTimeout(function() {
                var b = a(".bs-sidebar");
                b.affix({
                    offset: {
                        top: function() {
                            var a = b.offset().top,
                                    c = parseInt(b.children(0).css("margin-top"), 10);
                            return this.top = a - c
                        },
                        bottom: function() {
                            return this.bottom = a(".bs-footer").outerHeight(!0)
                        }
                    }
                })
            }, 100), a(".token-example-field").tokenfield(), a("#tokenfield-1").tokenfield({
                autocomplete: {
                    source: [
                        //// "red", "blue", "green", "yellow", "violet", "brown", "purple", "black", "white"
                     {% for menu in menu%} " {{menu.name}}  ", {%endfor%}
                    ],
                    delay: 100
                },
                showAutocompleteOnFocus: !0,
                delimiter: [",", " ", "-", "_"]
            });
            b.initialize(), a("#tokenfield-typeahead").tokenfield({
                typeahead: [null, {
                        source: b.ttAdapter()
                    }]
            }), a("#tokenfield-2").on("tokenfield:createtoken", function(a) {
                var b = a.attrs.value.split("|");
                a.attrs.value = b[1] || b[0], a.attrs.label = b[1] ? b[0] + " (" + b[1] + ")" : b[0]
            }).on("tokenfield:createdtoken", function(b) {
                var c = /\S+@\S+\.\S+/,
                        d = c.test(b.attrs.value);
                d || a(b.relatedTarget).addClass("invalid")
            }).on("tokenfield:edittoken", function(a) {
                if (a.attrs.label !== a.attrs.value) {
                    var b = a.attrs.label.split(" (");
                    a.attrs.value = b[0] + "|" + a.attrs.value
                }
            }).on("tokenfield:removedtoken", function(b) {
                if (b.attrs.length > 1) {
                    var c = a.map(b.attrs, function(a) {
                        return a.value
                    });
                    alert(b.attrs.length + " tokens removed! Token values were: " + c.join(", "))
                } else
                    alert("Token removed! Token value was: " + b.attrs.value)
            }).tokenfield()
        });
    </script>
</div>
