{# empty Twig template #}

  <form  action='{{path('my_app_forum_commentaire_add')}}' method="post" {{ form_enctype(form) }} > 

        <table height=" " width=" " border="0">
           
            <tr>
            <td>{{ form_widget(form.texte, { 'attr': { 'style': '  width: 700px;height: 100px;  margin-left: 40px;' ,'placeholder': 'Ecrire du commentaire ici ...'  }  }) }}</td> 
            </tr>
            
            <tr>   {{form_widget(form._token)}}   
                <td> </br></br> 
          
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="submit"  value="Commenter" style="width: 150px;" class="btn btn-warning btn-lg"  />
          
                  <input type="reset" id=hideinputnouveaucommentaire  value="Annuler"    style="margin-left:50px;margin-right: 330px;" class="btn-annuler"/>                                                                                                                                                    
                 
                Notification {{form_widget(form.notification) }}
                  
                </td>  
            </tr>

        </table>
    </form>




<script src="{{ asset('bundles/myappesprit/js/jquery-1.4.2.min.js') }}" type="text/javascript"></script>
        {# code je pour cacher la div texte comment si je clique annuler :) #}
<script type="text/javascript">
$("input#hideinputnouveaucommentaire").click(function () {
   $("div#bouttonnouveaucommentaire").hide(1);
});
</script>
 