{# empty Twig template #}


<script src="{{ asset('bundles/myappforum/js/ckeditorreponse/ckeditor.js')}}"></script> 
<link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/myappforum/js/ckeditorreponse/contents.css') }}"/> 

<form  action='{{path('my_app_forum_commentaire_addsouscomment',{'id':id}  )}}' method="post" {{ form_enctype(form) }} id="formsubcomment" > 

        <table height=" " width=" " border="0">

            <tr>
            <td>{{ form_widget(form.texte, { 'attr': { 'style': 'height: 50px;  margin-left: 40px;' ,'placeholder': 'Ecrire du commentaire ici ...'  }  }) }}</td> 
            </tr>
            
            <tr>   {{form_widget(form._token)}}   
                <td> </br></br> 
          
           
                  <input type="submit"  value="répondre" style="  width: 70px;  margin-left: 28px;" class="btn-annuler"  />
          
                  <input type="reset"  id=hideinputnouveausouscommentaire value="Annuler"    style="margin-left:50px;margin-right: 30px;" class="btn-annuler"/>                                                                                                                                                    
                         
                   Notification {{form_widget(form.notification) }} 
                  
                </td>  
            </tr>

        </table>
    </form>


        {# code je pour cacher la div texte comment si je clique annuler :) #}
 

 