{#% extends 'MyAppEspritBundle:publicite:show.html.twig' %#}
{{ render(controller('MyAppEspritBundle:publicite:showextpub')) }}
{% include 'MyAppEspritBundle:Default:sousmenu.html.twig'  with { 'routeName':app.request.get('_route') }%}
{% block fos_user_content %}
 
<div class="contenudetemplate" id="getFixedTemplate">
<div class="profilcreeconfirm">

    <h1>{{'cree_profile'|trans}}</h1></b> 
<div class="profilcreeconfirmdiv1"></br>
    &nbsp;&nbsp;&nbsp; 
    <img src="{{ asset('bundles/myappesprit/images/error.png') }}" alt="" />
    &nbsp;&nbsp;&nbsp;
    {{'problemeemail'|trans}}</div>
<div class="profilcreeconfirmdiv2"></br>
   &nbsp;&nbsp;&nbsp;  <img src="{{ asset('bundles/myappesprit/images/OK.png') }}" alt="" />
    &nbsp;&nbsp;&nbsp;
    {{'autreinstructionatonmail'|trans}}</div>

<div class="profilcreeconfirmdiv3"></br> 
   &nbsp;&nbsp;&nbsp;<img src="{{ asset('bundles/myappesprit/images/OK.png') }}" alt="" />
     &nbsp;&nbsp;&nbsp;
     {{'bienvenue'|trans}}  {{user.username}} {{'comptecrée'|trans}} </br>

    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
    {{'possibilité'|trans}}: </br></br> 

    &nbsp;&nbsp;&nbsp;

    <a href="{{ path('my_app_esprit_homepage') }}" class="rouge" style="text-decoration:none;">{{'Senyheder'|trans}}</a></br>
    &nbsp;&nbsp;&nbsp;

    <a href="{{ path('fos_user_profile_edit') }}" class="rouge" style="text-decoration:none;">{{'completeprofil'|trans}}</a></br> 
    &nbsp;&nbsp;&nbsp;
    <a href="{#{ path('fos_user_change_password') }#}" class="rouge" style="text-decoration:none;">{{'Sedinmail'|trans}}</a></div>

</div> 


{% for publicite in publicite %} 
    <div style="  position: absolute;  top: 135px;  left: 629px;  z-index: 8000;">

            <img src="{{publicite.image}}" alt="" width="300" height="250" > 
        </div>  
 {%endfor%}


    {% if app.session is not empty %}
        {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
        {% if targetUrl is not empty %}<p><a href="{{ targetUrl }}">{{ 'registration.back'|trans({}, 'FOSUserBundle') }}</a></p>{% endif %}
    {% endif %}
        
        
        
    <div style="padding-top: 70px;"> 
           <div style="  margin-bottom: 20px;"> 
                   {{ render(controller('MyAppEspritBundle:publicite:showpubfooter')) }}</div>
               {% include   'MyAppEspritBundle:Default:footer.html.twig'%} 
    </div>
</div>
 
{% endblock fos_user_content %}
