{#% extends 'MyAppEspritBundle:publicite:show.html.twig' %#}
{{ render(controller('MyAppEspritBundle:publicite:showextpub')) }}
{% include 'MyAppEspritBundle:Default:sousmenu.html.twig'  with { 'routeName':app.request.get('_route') }%}
{% block fos_user_content %}
 

<div class="profilcreeconfirm">

    <h1>Opret profil</h1></b> 
<div class="profilcreeconfirmdiv1"></br>
    &nbsp;&nbsp;&nbsp; 
    <img src="{{ asset('bundles/myappesprit/images/error.png') }}" alt="" />
    &nbsp;&nbsp;&nbsp;
    Kan ikke sende e-mail. Kontakt sitets administrator hvis problemet fortsætter.</div>
<div class="profilcreeconfirmdiv2"></br>
   &nbsp;&nbsp;&nbsp;  <img src="{{ asset('bundles/myappesprit/images/OK.png') }}" alt="" />
    &nbsp;&nbsp;&nbsp;
    Yderligere instruktioner er sendt til din e-mail-adresse.</div>

<div class="profilcreeconfirmdiv3"></br> 
   &nbsp;&nbsp;&nbsp;<img src="{{ asset('bundles/myappesprit/images/OK.png') }}" alt="" />
     &nbsp;&nbsp;&nbsp;
    Velkommen  {{user.username}} til SOL.dk.Din konto er oprettet </br>

    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
    Du har nu følgende vægmuligheder: </br></br> 

    &nbsp;&nbsp;&nbsp;

    <a href="{{ path('my_app_esprit_homepage') }}" class="rouge" style="text-decoration:none;">Se nyheder</a></br>
    &nbsp;&nbsp;&nbsp;

    <a href="{{ path('fos_user_profile_edit') }}" class="rouge" style="text-decoration:none;">Fædiggøre din profil</a></br> 
    &nbsp;&nbsp;&nbsp;
    <a href="{#{ path('fos_user_change_password') }#}" class="rouge" style="text-decoration:none;">Se din mail</a></div>

</div> 





    {% if app.session is not empty %}
        {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
        {% if targetUrl is not empty %}<p><a href="{{ targetUrl }}">{{ 'registration.back'|trans({}, 'FOSUserBundle') }}</a></p>{% endif %}
    {% endif %}
{% endblock fos_user_content %}
