 
<script type="text/javascript">var RecaptchaOptions = {theme: 'clean'};</script>
    


{% include 'TwitterBootstrapBundle::stylesheets.html.twig'%}
{% include 'MyAppEspritBundle:Default:sousmenu.html.twig'  with { 'routeName':app.request.get('_route') }%}

<link  href="{{ asset('bundles/myappesprit/css/passwordstrength/strength-meter.css') }}" rel="stylesheet" type="text/css" media="screen"/> 
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="{{ asset('bundles/myappesprit/css/passwordstrength/strength-meter.js') }}" type="text/javascript"></script>


<div class="contenutemplateresponsive" id="getFixedTemplate">
    <div style="margin-left: 100px;margin-top: 100px;">



        <b><h2 style="  margin-left: -50px;  margin-top: -30px;  margin-bottom: 20px;">{{'cree_profile'|trans}}</h2></b> 
        <p>{{'welcomesol'|trans}}</p> 
      {% block javascripts %}{{ form_javascript(form) }}{% endblock %}




        <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST"  > 

            <div id="login-input" style=""> 


                <table width="740" height="383"  > 
                    <tr>
                        <td width="700"> <t style="float:right;">&nbsp;{{'nomuser'|trans}}&nbsp; <b  class="rouge">*</b> &nbsp;&nbsp;</t></td>

                        <td width="285">{{form_widget(form.username, 
                                { 'attr': { 'style' : 'width:310px','onmouseover':'tooltip.pop(this, "<h6>&nbsp;&nbsp; This Field is requiered  &nbsp;&nbsp;</h6>") ' ,
                                  'required':'required', 'pattern': '[A-Za-z]{2,10}' ,
                                'title': 'Must contain at least one number and one uppercase and lowercase letter, and at least 10 or more ' } } ) }}</td>

                        <td width="256">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style=""><t style="float:right;"> &nbsp;&nbsp;&nbsp; {{'nometprenom'|trans}}&nbsp; <b  class="rouge">*</b>&nbsp;&nbsp;</t></td>


                        <td>{{form_widget(form.nomprenom,{ 'attr': { 'style' : 'width:310px','onmouseover':'tooltip.pop(this, "<h6>&nbsp;&nbsp; This Field is requiered  &nbsp;&nbsp;</h6>") ' ,
                                  'required':'required' } } ) }}</td>

{#<td>{form_widget(form.nomprenom,{'required':'required', 'pattern': '[A-Za-z]{2,10}','title': 'Only letters', 'onmouseover':'tooltip.pop(this, "<h6>&nbsp;&nbsp; This Field is requiered  &nbsp;&nbsp;</h6>") '} ) }</td>#}
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td style=""><t style="float:right;"> {{'pass'|trans}}<b  class="rouge">*</b>&nbsp;&nbsp;</t></td>


                        <td>

                            <div class="">{{form_widget(form.plainPassword.first, { 'id': 'kv',  'attr': { 'style' : 'width:270px' 
                                ,'class' :'strength',                          
                              'onmouseover':'tooltip.pop(this, "<h6>&nbsp;&nbsp; This Field is requiered  &nbsp;&nbsp;</h6>") ' ,
                                  'required':'required', 'pattern': '(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{10,}' ,
                                'title': 'Must contain at least one number and one uppercase and lowercase letter, and at least 10 or more ' } } ) }}
                            </div> 
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td style=""><t style="float:right;">{{'repeatnouveaumdp'|trans}}<b  class="rouge">*</b>&nbsp;&nbsp;</t></td>
                        <td> {{form_widget(form.plainPassword.second , { 'attr': { 'style' : 'width:310px',
                        'onmouseover':'tooltip.pop(this, "<h6>&nbsp;&nbsp; This Field is requiered  &nbsp;&nbsp;</h6>") ' }  }) }}</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td height="122"><t style="float:right;">{{'captcha'|trans}}</t></td>

                        <td>{{form_widget(form.captcha)}}</td>
                        <td><b  class="rouge" style="position: relative;left: -80px;">{{'captcha'|trans}}</b></td>
                    </tr>
                    <tr>
                        
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><input type="checkbox" value="" class="btn btn-warning btn-lg" required="true" /> 
                            <b>   {{'Jacceptelestermes'|trans}}</b></td>
                        <td>&nbsp;</td>
                    </tr>
                </table>

                {{form_widget(form._token)}} 
                </br></br>
                <div id="buttonsregistrer">
                    <input type="submit" style="  width: 150px;  margin-left:45px;  margin-right: 40px;" value="{{ 'cree_profile'|trans}}"class="btn btn-warning btn-lg"  />
                    <a href="{{path('my_app_esprit_homepage') }}" style="color:#c52821;">                                                                                                                                                      
                        &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;Annuler&nbsp;&nbsp;</a>
                </div>





            </div>     
        </form>
    </div>


    <div style="padding-top: 70px;"> 
           <div style="  margin-top: -20px; margin-bottom: 20px;"> 
                   {{ render(controller('MyAppEspritBundle:publicite:showpubfooter')) }}</div>
               {% include   'MyAppEspritBundle:Default:footer.html.twig'%} 
    </div>
</div>


        <!-- tooltiprequired field ---->
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/myappesprit/css/tooltiprequieredfield/tooltip.css') }}"/>
        <script src="{{ asset('bundles/myappesprit/css/tooltiprequieredfield/tooltip.js') }}" type="text/javascript"></script>
        <!-- tooltiprequired field ---->  