 
<script type="text/javascript">
    var RecaptchaOptions = {theme: 'clean'};
</script>

{% include 'TwitterBootstrapBundle::stylesheets.html.twig'%}
<div id="Forside___Debat___Politik___Samfund___Indenrigs">
    <B>Forside >  

            {% set uriapresForside = app.request.uri %}
            {% if  uriapresForside=="http://localhost/SolDK/web/app_dev.php/register/" %}
        Opret profil
             {% elseif  uriapresForside=="http://localhost/SolDK/web/app_dev.php/profile/change-password" %}
        Skift adgangskode
                        {% elseif  uriapresForside=="http://localhost/SolDK/web/app_dev.php/register/confirmed" %}
        Opret profil
             {%endif%} 
    </B>
</div>
<div id="login">



     
    <b><h2>Opret profil</h2></b> 
    <p> Vekommen til SOL.dk ......</p> 
      {% block javascripts %}{{ form_javascript(form) }}{% endblock %}

 
    
    
    <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST"  > 
    {#     formulaire complet #}

        <div id="login-input"> 


            <table width="623" height="383"  > 
                <tr>
                    <td width="158">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        Brugernavn&nbsp; <b  class="rouge">*</b> &nbsp;&nbsp;</td>
                    <td width="285">{{form_widget(form.username)}}</td>
                    <td width="156">&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                        Fuldtnavn&nbsp; <b  class="rouge">*</b> &nbsp;&nbsp;</td>
                    <td>{{form_widget(form.nomprenom)}}</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                        Adgangskode&nbsp; <b  class="rouge">*</b> &nbsp;&nbsp;</td>
                    <td>{{form_widget(form.plainPassword.first)}}</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>Gentag Adgangskode<b  class="rouge">*</b></td>
                    <td> {{form_widget(form.plainPassword.second)}}</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td height="122">Skriv bogstaverne</td>

                    <td>{{form_widget(form.captcha)}}</td>
                    <td><b  class="rouge">skift bogstaverne</b></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td><input type="checkbox" value="" class="btn btn-warning btn-lg" required="true" />  J accepte les<b  class="rouge"> termes</b></td>
                    <td>&nbsp;</td>
                </tr>
            </table>

                {{form_widget(form._token)}} 

            <div id="buttonsregistrer">
                <input type="submit" value="{{ 'opret profil'|trans({}, 'FOSUserBundle') }}"class="btn btn-warning btn-lg"  />
                <input type="reset" value="annuler" class="btn btn-warning btn-lg"  />               
            </div>





        </div>     
    </form>
</div>


