<!doctype html>
<html lang="en">

    <head>
        <title>Admin Home</title>
        <!-- Bootstrap -->
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" /> 

        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/myappesprit/css/backoffice/ie.css') }}"/>          
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/myappesprit/css/backoffice/layout.css') }}"/>  

        <script type="text/javascript" src="{{ asset('bundles/myappesprit/css/backoffice/jquery-1.5.2.min.js' )}} "></script>
        <script type="text/javascript" src="{{ asset('bundles/myappesprit/css/backoffice/hideshow.js' )}} "></script>
        <script type="text/javascript" src="{{ asset('bundles/myappesprit/css/backoffice/jquery.tablesorter.min.js' )}} "></script>
        <script type="text/javascript" src="{{ asset('bundles/myappesprit/css/backoffice/jquery.equalHeight.js' )}} "></script>
        <script src="{{ asset('bundles/myappesprit/js/administration.js' )}} " type="text/javascript" ></script>
 
        <script type="text/javascript">
            $(function() {
                $('.column').equalHeight();
            });
        </script>

    </head>


    <body>

        <header id="header">
            <hgroup>
                <h1 class="site_title"><a href="#">Website Admin</a></h1>
                <h2 class="section_title">Dashboard</h2><div class="btn_view_site">
                    <a href="{{ path('my_app_esprit_homepage' ) }}">View Site</a></div>
            </hgroup>
        </header> <!-- end of header bar -->

        <section id="secondary_bar">
            <div class="user">
                <p>
   {% if "SUPER_ADMIN" in  app.user.roles|join %} {{app.user.username }}{%else%} root {%endif%}       

                    (<a href="#">3 Messages</a>)</p>
                <!-- <a class="logout_user" href="#" title="Logout">Logout</a> -->
            </div>
            <div class="breadcrumbs_container">
                <article class="breadcrumbs"><a href="#">Website Admin</a> 
                    <div class="breadcrumb_divider"></div>
                    <a class="current">Dashboard</a></article>
            </div>
        </section><!-- end of secondary bar -->

        <aside id="sidebar" class="column">
            <form class="quick_search">
                <input type="text" value="Quick Search" onfocus="if (!this._haschanged) {
                            this.value = ''
                        }
                        ;
                        this._haschanged = true;">
            </form>
            <hr/>
            <h3>Content</h3>
            <ul class="toggle">
                <li class="icn_new_article"><a href="{{path('my_app_forum_sujet_manage') }}">Debats</a></li>            
                <li class="icn_new_article"><a href="{{path('my_app_forum_tag_manage') }}">Tags</a></li>
                <li class="icn_new_article"><a href="{{path('my_app_esprit_publicite_add') }}">New Banners</a></li>
                <li class="icn_new_article"><a href="{{path('my_app_esprit_publicite_manage')}}">Banners</a></li>
                <li class="icn_edit_article"><a href="{{path('my_app_esprit_menu_show')}}">Menus</a></li>
                <li class="icn_edit_article"><a href="{{path('my_app_article_article_manage')}}">Articles</a></li>
                <li class="icn_categories"><a href="#">Categories</a></li>

            </ul>
            <h3>Users</h3>
            <ul class="toggle">
                <li class="icn_add_user"><a href="{{path('fos_user_registration_register') }}">Add New User</a></li>
                <li class="icn_view_users"><a href="{{path('my_app_user_manage') }}">View Users</a></li>
                  {% if "SUPER_ADMIN" in  app.user.roles|join %}  <li class="icn_profile"><a href="{{path('fos_user_profile_show') }}">Your Profile</a></li> {%endif%}
            </ul>
            <h3>Media</h3>
            <ul class="toggle">
                <li class="icn_folder"><a href="#">File Manager</a></li>
                <li class="icn_photo"><a href="{{path('my_app_article_style_manage')}}">Gallery Style</a></li>
                <li class="icn_audio"><a href="#">Audio</a></li>
                <li class="icn_video"><a href="#">Video</a></li>
            </ul>
            <h3>Admin</h3>
            <ul class="toggle">
                <li class="icn_settings"><a href="#">Options</a></li>
                <li class="icn_security"><a href="#">Security</a></li>
                {% if "SUPER_ADMIN" in  app.user.roles|join %}  <li class="icn_jump_back"><a href="{{path('fos_user_security_logout') }}">Logout</a></li>{%endif%}
            </ul>

            <footer>
                <hr />
                <p><strong>Copyright &copy; 2015 Website Admin</strong></p>
                <p>Theme by <a href="http://www.medialoot.com">MediaLoot</a></p>
            </footer>
        </aside><!-- end of sidebar -->

        <section id="main" class="column">


 {% for flashMessage in app.session.flashbag.get('message') %} <h4 class="alert_info">{{ flashMessage }}</h4>{% endfor %}

            <article class="module width_full">
                <header><h3>Stats</h3></header>
                <div class="module_content">
                    <article class="stats_graph">
                        <img src="http://chart.apis.google.com/chart?chxr=0,0,3000&chxt=y&chs=520x140&cht=lc&chco=76A4FB,80C65A&chd=s:Tdjpsvyvttmiihgmnrst,OTbdcfhhggcTUTTUadfk&chls=2|2&chma=40,20,20,30" width="520" height="140" alt="" />
                    </article>

                    <article class="stats_overview">
                        <div class="overview_today">
                            <p class="overview_day">Today</p>
                            <p class="overview_count">1,876</p>
                            <p class="overview_type">Hits</p>
                            <p class="overview_count">2,103</p>
                            <p class="overview_type">Views</p>
                        </div>
                        <div class="overview_previous">
                            <p class="overview_day">Yesterday</p>
                            <p class="overview_count">1,646</p>
                            <p class="overview_type">Hits</p>
                            <p class="overview_count">2,054</p>
                            <p class="overview_type">Views</p>
                        </div>
                    </article>
                    <div class="clear"></div>
                </div>
            </article><!-- end of stats article -->

            <article class="module width_3_quarter">
                <!--  <header><h3 class="tabs_involved">Content User Manager</h3>
                      <ul class="tabs">
                          <li><a href="#tab1">Posts</a></li>
                          <li><a href="#tab2">Comments</a></li>
                      </ul>
                  </header> -->

                <div class="tab_container">

      {% block showUser %}{% endblock  %}       {% block editUser %}{% endblock  %} {% block manageuser %} {% endblock  %}
     {% block showtag %}{% endblock  %}         {% block edittag %}{% endblock  %}    {% block ajout_tag%} {% endblock %}                      
     {% block showpub %}{% endblock  %}          {% block ajout_publicite %}{% endblock  %}  
     {% block showsujet %}{% endblock %}         {% block editsujet %}{% endblock  %}

                   {% block showmenu %}   {% endblock  %} 
                     {% block editmenu %}   {% endblock  %}
                    {% block managearticle %}{% endblock  %}  
                    {% block managestyle %}{% endblock  %}  
                </div><!-- end of .tab_container -->

            </article><!-- end of content manager article -->

            <article class="module width_quarter">
                <header><h3>Messages</h3></header>
                <div class="message_list">
                    <div class="module_content">
                        <div class="message"><p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor.</p>
                            <p><strong>John Doe</strong></p></div>
                        <div class="message"><p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor.</p>
                            <p><strong>John Doe</strong></p></div>
                        <div class="message"><p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor.</p>
                            <p><strong>John Doe</strong></p></div>
                        <div class="message"><p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor.</p>
                            <p><strong>John Doe</strong></p></div>
                        <div class="message"><p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor.</p>
                            <p><strong>John Doe</strong></p></div>
                    </div>
                </div>
                <footer>
                    <form class="post_message">
                        <input type="text" value="Message" onfocus="if (!this._haschanged) {
                                    this.value = ''
                                }
                                ;
                                this._haschanged = true;">
                        <input type="submit" class="btn_post_message" value=""/>
                    </form>
                </footer>
            </article><!-- end of messages article -->

            <div class="clear"></div>
            <!--
                        <article class="module width_full">
                            <header><h3>Post New Article</h3></header>
                            <div class="module_content">
                                <fieldset>
                                    <label>Post Title</label>
                                    <input type="text">
                                </fieldset>
                                <fieldset>
                                    <label>Content</label>
                                    <textarea rows="12"></textarea>
                                </fieldset>
                                <fieldset style="width:48%; float:left; margin-right: 3%;">  
                                    <label>Category</label>
                                    <select style="width:92%;">
                                        <option>Articles</option>
                                        <option>Tutorials</option>
                                        <option>Freebies</option>
                                    </select>
                                </fieldset>
                                <fieldset style="width:48%; float:left;">  
                                    <label>Tags</label>
                                    <input type="text" style="width:92%;">
                                </fieldset><div class="clear"></div>
                            </div>
                            <footer>
                                <div class="submit_link">
                                    <select>
                                        <option>Draft</option>
                                        <option>Published</option>
                                    </select>
                                    <input type="submit" value="Publish" class="alt_btn">
                                    <input type="submit" value="Reset">
                                </div>
                            </footer>
                        </article>  -->



    </body>
</html>