{# empty Twig template #}




<div  class="tagtitlevoirun">
                {% set counternombredetag = 0 %} 
                {% for tag in tag %}      
    <b> {% set counternombredetag = counternombredetag + 1 %}{{tag.title|raw}} &nbsp;{% if not  loop.last %},{%endif%}&nbsp;</b>


                {% endfor%} 


    <a id=show style="cursor:pointer;">  
               {% if counternombredetag > 0%}
        <img src="{{ asset('bundles/myappesprit/images/admin/icn_edit.png') }}" alt="" />
                 {% endif%}
    </a> 

    <div class="divedittag" style="position: absolute;  margin-top: 15px;  overflow: hidden;     margin-left: -280px;  background-color: white;">
        <form role="form" method="post" {{ form_enctype(form) }}  action='{{path('my_app_forum_sujet_voir',{'id':sujet.id})}}'>

            <input type="text" name="i[]" id="autocomplete" title=""
                   value="{% for tag in tag %}{{tag.title|raw}}&nbsp;{% if not  loop.last %},{%endif%}{% endfor%}"> 
            </br></br>
            <input type="submit"   value="Gem" class="btn btn-warning btn-lg">   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
            <input type="reset" id=hide value="Annuler" style="background-color: transparent;border: 0px; color:#c52821;"> 
        </form>
    </div>
</div>


                {## show hide div edit tag ##}
<script type="text/javascript">
    $("a#show").click(function() {
        $("div.divedittag").slideToggle("slow");
    });
    $("input#hide").click(function() {
        $("div.divedittag").slideToggle("slow");
    });
</script>

<style type="text/css">
    div.divedittag {
        padding: 10px;
        padding-left: 50px;
        width: 400px;
        display: none;
        -moz-box-shadow: 10px 10px 5px 0px #656565;
        -webkit-box-shadow: 10px 10px 5px 0px #656565;
        -o-box-shadow: 10px 10px 5px 0px #656565;
        box-shadow: 10px 10px 5px 0px #656565;
        filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);
        border: 1px black;
        border-style: solid;
        background-color: white; 
        z-index: 10;
    }
   
</style>