{# empty Twig template #}




<div  class="tagtitlevoirun">
    
                <style type="text/css">  div.listetag{display: none;  padding-right: 50px;} </style> 
                
                <div class="listetag2">{% set counternombredetag = 0 %} 
                {% for tag in tag %}      
            <b> {% set counternombredetag = counternombredetag + 1 %}{{tag.title|raw}} &nbsp;{% if not  loop.last %},{%endif%}&nbsp;</b>
                {% endfor%} </div>

                <div class="listetag" > {% include   'MyAppForumBundle:sujet:tags.html.twig'%} </div>
            
            
            
    <a id=show style="  padding-left:150px;  /*padding-top: -50px;*/  position: relative;  top: -20px;  cursor: pointer;"> 
  
 
  
   
               {% if counternombredetag > 0%}
                      <img src="{{ asset('bundles/myappesprit/images/admin/icn_edit.png') }}" alt="" />
                 {% endif%}
    </a> 

    <div class="divedittag" style="">
        <form role="form" method="post" {{ form_enctype(form) }}  action='{{path('my_app_forum_sujet_voir',{'id':sujet.id})}}' id="formtag">

            <input type="text" name="i[]" id="autocomplete" title=""
                   value="{% for tag in tag %}{{tag.title|raw}}&nbsp;{% if not  loop.last %},{%endif%}{% endfor%}"> 
             {#% set counter = "" %}     
                            {% for tags in sujet.tags%} {% set counter = counter ~ tags.title|raw ~ ',' %} {%endfor%}
                  
                       <input required="true" type="text" class="form-control" id="tokenfield-1" value="{{counter|slice(start, length-1)}}"     
                       name="inputtag"    tabindex="-1" style="">#}
                   
            
            
            </br></br>
            <input type="submit"   value="Gem" class="btn btn-warning btn-lg">   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
            <input type="reset" id=hide value="Annuler" style="background-color: transparent;border: 0px; color:#c52821;"> 
        </form>
    </div>
</div>


                {## show hide div edit tag ##}
<script type="text/javascript">
    $("a#show").click(function() {
        $("div.divedittag").slideToggle("slow");
    });
    $("input#hide").click(function() {
        $("div.divedittag").slideToggle("slow");
    });
</script>

 

 

<script src="{#{ asset('bundles/myappesprit/js/jqueryajax.min.js') }#}" type="text/javascript"></script>
<script type="text/javascript">
    $(function() {
        $("#formtag").submit(function(e) { // On sélectionne le formulaire par son identifiant
            e.preventDefault(); // Le navigateur ne peut pas envoyer le formulaire
             
            $.ajax({
                type: 'post',
                url: Routing.generate('my_app_forum_sujet_tags'),
                data: $(this).serialize(),
                datatype: "json",        
                cache: false,
                success: function(data)
                {     
                    $(".listetag2").hide();           
                    $('.listetag').html(data);  
                    $(".listetag").show();
                    $(".divedittag").hide();
                            
                     
                }
            });
            return false;
        });
    });
</script>