{# empty Twig template #}
<a id=showthread{{commentaireid}} class="sho">
    <img src="{{ asset('bundles/myappesprit/images/flechedroite.png') }}" height="20px;" width="20px;" alt=""/></a> 
<a id=hidethread{{commentaireid}} class="hid">
    <img src="{{ asset('bundles/myappesprit/images/flechebas.png') }}" height="20px;" width="20px;" alt=""/></a>
                 {## show hide thread alterné :D ##}
<script type="text/javascript">
    $("#showthread{{commentaireid}}").click(function() {
        $("div.threadcontent{{commentaireid}}").slideToggle();
        $("a#hidethread{{commentaireid}}").show();
        $("a#showthread{{commentaireid}}").hide();
    });
    $("#hidethread{{commentaireid}}").click(function() {
        $("div.threadcontent{{commentaireid}}").slideToggle();
        $("a#showthread{{commentaireid}}").show();
        $("a#hidethread{{commentaireid}}").hide();
        $("div.SousCommentAVECAJAX{{commentaireid}}").slideToggle();

    });
</script>

<script type="text/javascript">
    if ($('a#hidethread{{commentaireid}}').is(':visible')) {
        $("a#showthread{{commentaireid}}").hide();       
    };
    
    if ($('a#showthread{{commentaireid}}').is(':visible')) {
        $("a#hidethread{{commentaireid}}").hide();
    } ;
   
</script>    
