{# empty Twig template #}
    {% if souscommentaire.user.image is not null  %} <img src="{{souscommentaire.user.image }}" class="imageuser" alt=""/> {% else %}  
<img src="{{ asset('bundles/myappesprit/images/user.png') }}"  class="imageuser" alt=""   />{% endif%} 


<b>{{souscommentaire.user.username|capitalize}}</b><b class="timestyle">{{ time_diff(souscommentaire.datecreation) }}</b>


            {% if souscommentaire.vote  is not null %}
<b class="likecount"><img src="{{ asset('bundles/myappesprit/images/like.png') }}" height="20px;" width="20px;" alt=""/>
    &nbsp;{{souscommentaire.vote}} </b>
             {%endif%}                   
</br>
                    {{souscommentaire.texte}}
</br> 
              {#  <a class="bouttonsousnouveaucommentaire">Add new comment &nbsp; {{souscommentaire.id}}</a>#}
<b class="likebutton" style="cursor:pointer;">like</b>

<a class="bouttoneditsouscommentaire{{souscommentaire.id}}"  style="text-decoration:none;cursor:pointer;"><b class="likebutton">edit</b></a> 
               <script type="text/javascript">
                    $("a.bouttoneditsouscommentaire{{souscommentaire.id}}").click(function() {
                        $("div.editsouscommentaire{{souscommentaire.id}}").slideToggle();
              
                    });
                </script>
&nbsp;&nbsp;&nbsp;&nbsp;   

<a href="{{ path('my_app_forum_commentaire_delete',{'id':souscommentaire.id}) }}"style="text-decoration:none;cursor:pointer;" class="deletecommentaire">delete</a> 

<div class="editsouscommentaire{{souscommentaire.id}}">
      {##{ render(controller('MyAppForumBundle:commentaire:editsouscomment', {'id': souscommentaire.id})) }#}aa
</div>


<style type="text/css">
    div.souscommentairesdetails{   padding-left: 50px;padding-top: 10px;} 
        a.bouttoneditcommentaire{{souscommentaire.id}}{
        text-decoration:none;
        color: #c52821;
        font-weight: bold;
        height: 50px;
        width: 200px;
        padding-left: 15px;
        padding-top: 10px;
        background-color: transparent;
        /* border-color: aqua;
         border-style: dashed;*/
    }
    div.editsouscommentaire{{souscommentaire.id}}{display: none;}
</style>