{# empty Twig template #}

{{ render(controller('MyAppEspritBundle:publicite:show')) }}

 

 {% block ajout_article%} 
 {% include 'TwitterBootstrapBundle::stylesheets.html.twig'%}
</br> 
<div class="arstyle">
    <form  action='{{path('my_app_article_article_add')}}' method="post" {{ form_enctype(form) }} > 

        <table height=" " width=" " border="0">
            
            <tr>
                <td class="stylegras">Headline&nbsp;<b  class="rouge">*</b> &nbsp;</td>
            </tr>
            <tr>
                <td> {{form_widget(form.headline, { 'attr': {'placeholder': '  Headline ','class':'inp-form'} }) }}</td> 
            </tr>
           
         
           <tr>
               <td class="stylegras">Image</td>
            </tr>
            <tr>
                <td> {{form_widget(form.urlimg) }} </td>
            </tr>
            
            
             <tr>
                 <td> <FONT size="-5">Files must be less then 2 MB  </br> Allowed File types : png jpeg gif jpg</FONT> </td>
            </tr>
            
            
            
            
            <tr>
                <td class="stylegras">Copy right </td>
            </tr>
            <tr>
                <td>{{ form_widget(form.copyrights, { 'attr': {'placeholder': '  copyrights ','class':'inp-form'} }) }}</td>
            </tr>
            
            
        
         
            <tr>
                <td class="stylegras">Tags&nbsp;<b  class="rouge">*</b> &nbsp;</td>
            </tr>
            <tr>
                <td> {{form_widget(form.tags, { 'attr': {'placeholder': '  tags ','class':'inp-form'} }) }}</td>
            </tr>
            
            
            <tr>
                <td class="stylegras">Style properties&nbsp;<b  class="rouge">*</b> &nbsp;</td>
            </tr>
            <tr>
                <td> {{form_widget(form.style) }}</td>
            </tr>
          
            
            
            <tr>
                <td class="stylegras">Position</td>
            </tr>
            <tr>
                <td> {{form_widget(form.position, { 'attr': {'placeholder': '  position ','class':'inp-form'} }) }}</td>
            </tr>
            
            
            
            
            
            
            <tr>
             <td class="stylegras"> {{form_widget(form.fixedposition) }} &nbsp;&nbsp; Fixed Position</td>
            </tr>
            
            
            
            <tr>
                <td class="stylegras">Link&nbsp;<b  class="rouge">*</b> &nbsp;</td>
            </tr>
            <tr>
                <td> {{form_widget(form.lien, { 'attr': {'placeholder': '  link ','class':'inp-form'} }) }}</td>
            </tr>
            
            
            
            
            </br></br>
           
            <tr>   {{form_widget(form._token)}}   
                <td> </br> </br> 
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="submit"  value="Save" class="btn btn-warning btn-lg"/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;        
                    <input type="reset" value="Preview" class="btn btn-warning btn-lg"/>    </td>  
            </tr>

        </table>
 


    </form>




</div>




{% endblock %}

