{# empty Twig template #}
{% extends 'MyAppEspritBundle:BackOffice:administration.html.twig' %}

 {% block managearticle %}  {% include 'TwitterBootstrapBundle::stylesheets.html.twig'%}
<form  action='{{path('my_app_article_article_deletemore')}}' method="post" {{ form_enctype(form) }} > 
    <header><h3 class="tabs_involved">Content article Manager</h3>
        <ul class="tabs">{{form_widget(form._token)}}  
             <input type="submit"  value="Save" style="background-color: transparent;border: none;" /> 
             
        </ul>
    </header>  
    <div id="tab1" class="tab_content" style="height: 250px; width: 680px; overflow: auto; display: block;">
        <table class="tablesorter" cellspacing="0"> 
            <thead> 
                <tr> 
                    <th></th> 
                    <th>Position</th> 
                    <th>Style</th> 
                    <th>Article Title</th> 
                    <th>Fixed</th> 
                </tr> 
            </thead> 
            <tbody> 

            {% for article in article %}
                <tr> 
                    <td><input type="checkbox" name="mesIds[]" value="{{article.id}}" ></td> 
                    <td>
                        <input type="number" name="i[]" id="" value="{{article.position}}" style="width:50px;" 
                               required="true" pattern=""  min="1" max="15" title="">
                    </td>
                    <td>{{article.style}}</td> 
                    <td>{{article.headline|truncate(20, true, '...')}}</td> 
                  {#<td>{{article.fixedposition}}</td>#}
                    <td>   {% if article.fixedposition ==1 %} 
            <select name="fixed[]">
                <option value="Oui">Oui</option>
                <option value="{{article.id}}">Non</option>       
            </select>
                {%else%} 
            <select name="nofixed[]">
                <option value="Non">Non</option>  
                <option value="{{article.id}}">Oui</option>    
            </select>
                {%endif%}</td>

            <td>
                <a href="{{ path('my_app_article_article_edit',{'id':article.id}) }}">
                    <img src="{{ asset('bundles/myappesprit/images/admin/icn_edit.png') }}" alt="" />
                </a>   &nbsp;&nbsp;
                <a href="{{ path('my_app_article_article_delete',{'id':article.id}) }}">
                    <img src="{{ asset('bundles/myappesprit/images/admin/icn_trash.png') }}" alt="" />
                </a> 
            </td>
            </tr> 

            {%endfor%}


            </tbody> 
        </table>
    </div> 
</form>
 {% endblock  %}



