{# empty Twig template #}
{% extends 'MyAppEspritBundle:BackOffice:administration.html.twig' %}

 {% block managearticle %}
  {% include 'TwitterBootstrapBundle::stylesheets.html.twig'%}
<form  action='{{path('my_app_article_article_deletemore')}}' method="post" {{ form_enctype(form) }} > 
    <header><h3 class="tabs_involved">Gestion de Contenu article </h3>
        <ul class="tabs">{{form_widget(form._token)}}  
            <input type="submit"  value="Enregistrer" style="background-color: transparent;border: none;" id="submit" /> 

        </ul>
    </header>  
    
  <script type="text/javascript">
        document.querySelector('#submit').onclick = function(){
                swal({
                        title: "Alert automatique!",
                        text: "Veuillez patientez un peu",
                        timer: 6000,
                        showConfirmButton: false
                });
        };
</script>

    <div style="float:left;"> 
      <table> 
            <tr> 
               <td width="100"> &nbsp;&nbsp;<b>Position</b>  </td>
               <td><b>Style</b></td> 
                <td width="100"> &nbsp;  </td>
                <td width="280"><b>Titre Article</b></td> 
                <td width="70"> <b>Fixé</b> </td>
                 <td><b>Actions</b></td> 
            </tr> 
        </table> 
    </div>

    <div id="tab1" class="tab_content" style="height: 250px; width: 680px; overflow: auto; display: block;">
        <table class="tablesorter" cellspacing="0"> 
          
            <tbody> 

            {% for article in article %}
                <tr> 
                 {#  <td><input type="checkbox" name="mesIds[]" value="{{article.id}}" ></td> #}
                    <td>  
                        <input type="number" name="i[]" id="" value="{{article.position}}" style="width:50px;" 
                               required="true" pattern=""  min="1" max="15" title="">
 
                    </td> 
                    <td>{{article.style}}</td> 
                    <td>{{article.headline|truncate(20, true, '...')}}</td> 
                  {#<td>{{article.fixedposition}}</td>#}


                    <td>

                        {% if article.fixedposition ==1 %}
                        <input type="checkbox" name="fixedposition[]" value="{{article.id}}" checked >
                         {%else%}<input type="checkbox" name="fixedposition[]" value="{{article.id}}">{%endif%}

                    </td>




                    <td>
                   {%if  ("EDITOR" in app.user.roles|join)%}       <a href="{{ path('my_app_article_article_edit',{'id':article.id}) }}">
                            <img src="{{ asset('bundles/myappesprit/images/admin/icn_edit.png') }}" alt="" />
                        </a> {%endif%}   &nbsp;&nbsp;
                      <a href="{{ path('my_app_article_article_delete',{'id':article.id}) }}" id="supprimer">
                            <img src="{{ asset('bundles/myappesprit/images/admin/icn_trash.png') }}" alt="" />
                        </a> 
                    </td>
                </tr> 
  <script type="text/javascript">
         document.querySelector('#supprimer').onclick = function(){
            swal({
                    title: "Alert automatique!",
                    text: "Veuillez patientez un peu",
                    timer: 8000,
                    showConfirmButton: false
            });
    };
</script>
            {%endfor%}


            </tbody> 
        </table>
    </div> 
</form>
 {% endblock  %}



