
{{ render(controller('MyAppEspritBundle:publicite:showextpub')) }}

  {{ render(controller('MyAppEspritBundle:notification:shownumber')) }} {# pour afficher notif number #}


 {% block affichage_articles%}

{% include 'MyAppEspritBundle:Default:sousmenu.html.twig'  with { 'routeName':app.request.get('_route') }%}

<div class="contenudetemplate">

    <!--       ici c'est la colonne gauche   pour les articles ....      .-->   
  {% for article in article %}
{% if article.position==1%}
    <div class="articleposition1" style="background-color: {{article.style.codecouleurback}};">   


           {% if article.urlimg is not null%}<img src="{{article.urlimg}}"  width="430" height="250"  alt="" style="float:left;margin-right: 10px;" />{%endif%}

        <div class="bordurearticle">   
            <FONT color="{{article.style.codecouleurfront}}" style="font-size: 34px;font-family: HelveticaNeueLTStd;">
              {{article.headline|truncate(47, true, '...')}} 
            </FONT>            

        </div>
        <a href="#" class="lienOpretnydebatLaesdebat"><FONT color="grey"> Opret ny debat | Læs debat</FONT></a>
    </div>{%endif%} 




{% if article.position==2%}
    <div class="articleposition2" style="background-color: {{article.style.codecouleurback}};">
     {% if article.urlimg is not null%}<img src="{{article.urlimg}}"  width="100" height="100"  alt="" style="float:left;margin-right: 10px;" />{%endif%}
        <div class="bordurearticle">   
            <FONT color="{{article.style.codecouleurfront}}" style="font-size: 36px;font-family: HelveticaNeue;">
                                {{article.headline|truncate(41, true, '...')}}
            </FONT>         
        </div>
        <a href="#" class="lienOpretnydebatLaesdebat"><FONT color="grey"> Opret ny debat | Læs debat</FONT></a>
    </div>{%endif%} 



{% if article.position==3%}
    <div class="articleposition3" style="background-color: {{article.style.codecouleurback}};">  
           {% if article.urlimg is not null%}<img src="{{article.urlimg}}"  width="170" height="215"  alt="" style="float:right;margin-left: 10px;" />{%endif%}
        <div class="bordurearticle">   
            <FONT color="{{article.style.codecouleurfront}}" style="font-size: 30px;font-family:HelveticaNeue;">
                             {{article.headline|truncate(31, true, '...')}}
            </FONT>     
        </div>  
        <a href="#" class="lienOpretnydebatLaesdebat"><FONT color="grey"> Opret ny debat | Læs debat</FONT></a>
    </div>{%endif%}

{% if article.position==4%}
    <div class="articleposition4" style="background-color: {{article.style.codecouleurback}};">     
           {% if article.urlimg is not null%}<img src="{{article.urlimg}}"  width="170" height="215"  alt="" style="float:right;margin-left: 10px;" />{%endif%}
        <div class="bordurearticle">  
            <FONT color="{{article.style.codecouleurfront}}" style="font-size: 30px;font-family:HelveticaNeue;">
                             {{article.headline|truncate(31, true, '...')}}
            </FONT>    
        </div>           
    </div>{%endif%} 
    <!-- ici pas d image pour ces articles -->
{% if article.position==5%}
    <div class="articleposition5" style="background-color: {{article.style.codecouleurback}};">           
        <div class="bordurearticle"> 
            <FONT color="{{article.style.codecouleurfront}}" style="font-size: 24.711px;font-family: HelveticaNeueLTStd;">
                             {{article.headline|truncate(36, true, '...')}}
            </FONT>     
        </div>  
        <a href="#" class="lienOpretnydebatLaesdebat"><FONT color="grey"> Opret ny debat | Læs debat</FONT></a>          
    </div>{%endif%} 
    <!-- ici pas d image pour ces articles -->
{% if article.position==6%}
    <div class="articleposition6" style="background-color: {{article.style.codecouleurback}};">           
        <div class="bordurearticle">   
            <FONT color="{{article.style.codecouleurfront}}" style="font-size: 24.711px;font-family: HelveticaNeueLTStd;">
                             {{article.headline|truncate(36, true, '...')}}
            </FONT>     
        </div> 

        <a href="#" class="lienOpretnydebatLaesdebat"><FONT color="grey"> Opret ny debat | Læs debat</FONT></a>
    </div>{%endif%} 

{% if article.position==7%}
    <div class="articleposition7" style="background-color: {{article.style.codecouleurback}};">   
           {% if article.urlimg is not null%}<img src="{{article.urlimg}}"  width="220" height="200"  alt="" style="float:bottom;margin-top: 10px;" />{%endif%}
        <div class="bordurearticle">
            <FONT color="{{article.style.codecouleurfront}}" style="font-size: 18px;font-family: Helvetica;">
                             {{article.headline|truncate(58, true, '...')}}
            </FONT>       
        </div> 
        <a href="#" class="lienOpretnydebatLaesdebat"><FONT color="grey"> Opret ny debat | Læs debat</FONT></a>  
    </div>{%endif%} 


{% if article.position==8%}
    <div class="articleposition8" style="background-color: {{article.style.codecouleurback}};">    
           {% if article.urlimg is not null%}<img src="{{article.urlimg}}"  width="220" height="200"  alt="" style="float:bottom;margin-top: 10px;" />{%endif%}
        <div class="bordurearticle"> 
            <FONT color="{{article.style.codecouleurfront}}" style="font-size: 18px;font-family: Helvetica;">
                             {{article.headline|truncate(58, true, '...')}}
            </FONT>       
        </div> 
        <a href="#" class="lienOpretnydebatLaesdebat"><FONT color="grey"> Opret ny debat | Læs debat</FONT></a>
    </div>{%endif%} 

{% if article.position==9%}
    <div class="articleposition9" style="background-color: {{article.style.codecouleurback}};">  
        {% if article.urlimg is not null%}<img src="{{article.urlimg}}"  width="100" height="100"  alt="" style="float:left;margin-right: 10px;" />{%endif%}
        <div class="bordurearticle">
            <FONT color="{{article.style.codecouleurfront}}" style="font-size: 30px;font-family: HelveticaNeue;">
              {{article.headline|truncate(51, true, '...')}} 
            </FONT>      
        </div>   
        <a href="#" class="lienOpretnydebatLaesdebat"><FONT color="grey"> Opret ny debat | Læs debat</FONT></a>
    </div>{%endif%} 

{% if article.position==10%}
    <div class="articleposition10" style="background-color: {{article.style.codecouleurback}};">      
           {% if article.urlimg is not null%}<img src="{{article.urlimg}}"  width="100" height="100"  alt="" style="float:left;margin-right: 10px;" />{%endif%}
        <div class="bordurearticle"> 
            <FONT color="{{article.style.codecouleurfront}}" style="font-size: 30px;font-family: HelveticaNeue;">
                             {{article.headline|truncate(51, true, '...')}}
            </FONT>     
        </div>   
        <a href="#" class="lienOpretnydebatLaesdebat"><FONT color="grey"> Opret ny debat | Læs debat</FONT></a>
    </div>{%endif%} 

{% if article.position==11%}
    <div class="articleposition11" style="background-color: {{article.style.codecouleurback}};">   
           {% if article.urlimg is not null%}<img src="{{article.urlimg}}"  width="100" height="100"  alt="" style="float:left;margin-right: 10px;" />{%endif%}
        <div class="bordurearticle">  
            <FONT color="{{article.style.codecouleurfront}}" style="font-size: 30px;font-family: HelveticaNeue;">
                             {{article.headline|truncate(51, true, '...')}}
            </FONT>       
        </div> 
        <a href="#" class="lienOpretnydebatLaesdebat"><FONT color="grey"> Opret ny debat | Læs debat</FONT></a>
    </div>{%endif%} 

    <div class="articlepositionA">

        <center><p class="rouge">SENESTE NYHEDER</p></center>
    </div>
    <div class="articlepositionB">
        <center><p class="rouge">MEST LÆSTE DEBATTER</p></center>
    </div>

    <!-- ici pas d image pour ces articles -->
{% if article.position==12%}
    <div class="articleposition12" style="background-color: {{article.style.codecouleurback}};">           
        <div class="bordurearticle">   
            <FONT color="{{article.style.codecouleurfront}}" style="font-size: 24px;font-family: HelveticaNeueLTStd;">
                             {{article.headline|truncate(42, true, '...')}}
            </FONT>      
        </div>  
        <a href="#" class="lienOpretnydebatLaesdebat"><FONT color="grey"> Opret ny debat | Læs debat</FONT></a>
    </div>{%endif%} 
    <!-- ici pas d image pour ces articles -->
{% if article.position==13%}
    <div class="articleposition13" style="background-color: {{article.style.codecouleurback}};">           
        <div class="bordurearticle">  
            <FONT color="{{article.style.codecouleurfront}}" style="font-size: 24px;font-family: HelveticaNeueLTStd;">
                             {{article.headline|truncate(42, true, '...')}}
            </FONT>     
        </div>  
        <a href="#" class="lienOpretnydebatLaesdebat"><FONT color="grey"> Opret ny debat | Læs debat</FONT></a>
    </div>
{%endif%} 
    <!-- ici pas d image pour ces articles -->
{% if article.position==14%}
    <div class="articleposition14" style="background-color: {{article.style.codecouleurback}};">           
        <div class="bordurearticle">   
            <FONT color="{{article.style.codecouleurfront}}" style="font-size: 24px;font-family: HelveticaNeueLTStd;">
                             {{article.headline|truncate(42, true, '...')}}
            </FONT>    
        </div>     
        <a href="#" class="lienOpretnydebatLaesdebat"><FONT color="grey"> Opret ny debat | Læs debat</FONT></a>
    </div>
{%endif%} 
    <!-- ici pas d image pour ces articles -->
{% if article.position==15%}
    <div class="articleposition15" style="background-color: {{article.style.codecouleurback}};">           
        <div class="bordurearticle">  
            <FONT color="{{article.style.codecouleurfront}}" style="font-size: 24px;font-family: HelveticaNeueLTStd;">
                             {{article.headline|truncate(42, true, '...')}}
            </FONT>    
        </div> 
        <a href="#" class="lienOpretnydebatLaesdebat"><FONT color="grey"> Opret ny debat | Læs debat</FONT></a>
    </div>
{%endif%} 


    {% endfor%}
    <!-- ici c'est la colonne droite  pour pub , senestte debatter , sol , horoscope ...-->  
    <div class="senestredebattfrontpage" > <center><p class="rouge"></br>Seneste debatter</p></center>

    {%for  sujet in sujet%}

       {% if sujet.id != loop.last%}
        <div class="senestredebattelement" style="border-bottom: 1px dashed #9fa1a3;">
            <g style="color: #767676;  font-size: 13px;"> {{sujet.datecreation|date('H:i')}}</g>
            <t class="stylecontenudebat">{{sujet.sujet|truncate(22, true, '...')}}</t>  </br> 
        </div>        
      {%else%}
        <div class="senestredebattelement">
            <g style="color: #767676;  font-size: 13px;"> {{sujet.datecreation|date('H:i')}}</g>
            <t class="stylecontenudebat">{{sujet.sujet|truncate(22, true, '...')}}</t>  </br> 
        </div> 

        {%endif%}



{% endfor%}

    </div> 



    {% for publicite in publicite%} 


        {% if publicite.position==14%}
    <img src="{{publicite.image}}" alt="" width="300" height="250" class="publicitenumero1" >  
       {%endif%}       

       {% if publicite.position==15%}
    <img src="{{publicite.image}}" alt="" width="301" height="82" class="publicitenumero2" >  
       {%endif%}   

       {% if publicite.position==16%}
    <img src="{{publicite.image}}" alt="" width="929" height="180" class="publicitenumero3" >  
       {%endif%}       

       {% if publicite.position==17%}
    <img src="{{publicite.image}}" alt="" width="" height="" class="publicitenumero4" >  
       {%endif%}      

       {% if publicite.position==18%}
    <img src="{{publicite.image}}" alt="" width="" height="" class="publicitenumero5" >  
       {%endif%}   

       {% if publicite.position==19%}
    <img src="{{publicite.image}}" alt="" width="" height="" class="publicitenumero6" >  
       {%endif%}   

       {% if publicite.position==20%}
    <img src="{{publicite.image}}" alt="" width="" height="" class="publicitenumero7" >  
       {%endif%}       

        {% if publicite.position==21%}
    <img src="{{publicite.image}}" alt="" width="" height="" class="publicitenumero8" >  
       {%endif%} 

     {%endfor%}

</div>
 {% endblock %}