
  {{ render(controller('MyAppEspritBundle:publicite:showextpub')) }}
  {{ render(controller('MyAppEspritBundle:notification:shownumber')) }} {# pour afficher notif number #}


 {% block affichage_articles%}

{% include 'MyAppEspritBundle:Default:sousmenu.html.twig'  with { 'routeName':app.request.get('_route') }%}

<div class="contenudetemplate" id="getFixedTemplate">

    <!--       ici c'est la colonne gauche   pour les articles ....      .-->   
  {% for article in article %}
{% if article.position==1%}
    <div class="articleposition1" style="background-color: {{article.style.codecouleurback}};">   
           {% if article.path is not null%}
                  {%if "http" in article.path %}
        <a href="{{ path('my_app_article_article_voir',{'id':article.id} ) }}">  
            <img src="{{article.path }}" class="imagearticle1" id="opacity"  />
         </a>   
                  {%else%}           
       <a href="{{ path('my_app_article_article_voir',{'id':article.id} ) }}">  
           <img src="{{ asset('upload/' ~ article.path) }}" class="imagearticle1" id="opacity"    />         
       </a>    
                    {%endif%}
     

        {%endif%}

        <div class="bordurearticle">   
            <FONT color="{{article.style.codecouleurfront}}" class="styleheadlinearticle1">
            <a href="{{ path('my_app_article_article_voir',{'id':article.id} ) }}">    {{article.headline|truncate(47, true, '...')}} </a>
            </FONT>            

        </div>
        <a href="{{ path('my_app_forum_sujet_addfromar',{'id':article.id} ) }}" class="lienOpretnydebatLaesdebat">
            <f class="styleleinarticle1"> {{'Opretdebat'|trans}}{#Opret ny debat #}&nbsp;| {#Læs debat#}{{'Læsdebat'|trans}}</f>
        </a>
    </div>{%endif%} 




{% if article.position==2%}
    <div class="articleposition2" style="background-color: {{article.style.codecouleurback}};">
     {% if article.path is not null%}

              {%if "http" in article.path %}
        <a href="{{ path('my_app_article_article_voir',{'id':article.id} ) }}">
        <img src="{{article.path }}" class="imagearticle2"  id="opacity"   />
        </a>
                  {%else%}
        <a href="{{ path('my_app_article_article_voir',{'id':article.id} ) }}">
        <img src="{{ asset('upload/' ~ article.path) }}" class="imagearticle2"  id="opacity"   />
        </a>
                    {%endif%}





    {%endif%}
        <div class="styleheadlinearticle2">   
            <FONT color="{{article.style.codecouleurfront}}" style="">
                            <a href="{{ path('my_app_article_article_voir',{'id':article.id} ) }}">  
                                 {{article.headline|truncate(41, true, '...')}}
                            </a>
            </FONT>         
        </div>
        <a href="{{ path('my_app_forum_sujet_addfromar',{'id':article.id}) }}" class="lienOpretnydebatLaesdebat">
            <f class="styleleinarticle2"> {{'Opretdebat'|trans}}{#Opret ny debat #}&nbsp;| {#Læs debat#}{{'Læsdebat'|trans}}</f>
        </a>
    </div>{%endif%} 



{% if article.position==3%}
    <div class="articleposition3" style="background-color: {{article.style.codecouleurback}};">  
           {% if article.path is not null%}


                    {%if "http" in article.path %}
        <a href="{{ path('my_app_article_article_voir',{'id':article.id} ) }}">
        <img src="{{article.path }}" class="imagearticle3"  id="opacity"  />
        </a>
                    {%else%}
        <a href="{{ path('my_app_article_article_voir',{'id':article.id} ) }}">
        <img src="{{ asset('upload/' ~ article.path) }}" class="imagearticle3"  id="opacity"  />
        </a>
                    {%endif%}


        {%endif%}
        <div class="styleheadlinearticle3">   
            <FONT color="{{article.style.codecouleurfront}}" style=""> 
                            
            <a href="{{ path('my_app_article_article_voir',{'id':article.id} ) }}">
                 {{article.headline|truncate(31, true, '...')}}
            </a>
            </FONT>     
        </div>  
        <a href="{{ path('my_app_forum_sujet_addfromar',{'id':article.id}) }}" class="lienOpretnydebatLaesdebat">
            <f class="styleleinarticle3"> {{'Opretdebat'|trans}}{#Opret ny debat #}&nbsp;| {#Læs debat#}{{'Læsdebat'|trans}}</f>
        </a>
    </div>
{%endif%}

{% if article.position==4%}
    <div class="articleposition4" style="background-color: {{article.style.codecouleurback}};">     
           {% if article.path is not null%}
                       {%if "http" in article.path %}
        <a href="{{ path('my_app_article_article_voir',{'id':article.id} ) }}">
        <img src="{{article.path }}"  class="imagearticle4"  id="opacity"   />
        </a>
                       {%else%}
        <a href="{{ path('my_app_article_article_voir',{'id':article.id} ) }}">
        <img src="{{ asset('upload/' ~ article.path) }}"  class="imagearticle4"   id="opacity"  />
        </a>
                       {%endif%}


        {%endif%}
        <div class="styleheadlinearticle4">  
            <FONT color="{{article.style.codecouleurfront}}" style="">
                            
            <a href="{{ path('my_app_article_article_voir',{'id':article.id} ) }}"> {{article.headline|truncate(31, true, '...')}}</a>
            </FONT>    
        </div> 
        <a href="{{ path('my_app_forum_sujet_addfromar',{'id':article.id}) }}" class="lienOpretnydebatLaesdebat">
            <f class="styleleinarticle4"> {{'Opretdebat'|trans}}{#Opret ny debat #}&nbsp;| {#Læs debat#}{{'Læsdebat'|trans}}</f>
        </a>
    </div>
{%endif%} 
    <!-- ici pas d image pour ces articles -->
{% if article.position==5%}
    <div class="articleposition5" style="background-color: {{article.style.codecouleurback}};">           
        <div class="styleheadlinearticle5"> 
            <FONT color="{{article.style.codecouleurfront}}" style="">
            <a href="{{ path('my_app_article_article_voir',{'id':article.id} ) }}">   {{article.headline|truncate(36, true, '...')}}</a>
            </FONT>     
        </div>  
        <a href="{{ path('my_app_forum_sujet_addfromar',{'id':article.id}) }}" class="lienOpretnydebatLaesdebat">
            <f class="styleleinarticle5"> {{'Opretdebat'|trans}}{#Opret ny debat #}&nbsp;| {#Læs debat#}{{'Læsdebat'|trans}}</f></a>          
    </div>
{%endif%} 
    <!-- ici pas d image pour ces articles -->


{% if article.position==6%}
    <div class="articleposition6" style="background-color: {{article.style.codecouleurback}};">           
        <div class="styleheadlinearticle6">   
            <FONT color="{{article.style.codecouleurfront}}">
<a href="{{ path('my_app_article_article_voir',{'id':article.id} ) }}">                    
         {{article.headline|truncate(36, true, '...')}}</a>
            </FONT>     
        </div> 
        <a href="{{ path('my_app_forum_sujet_addfromar',{'id':article.id}) }}" class="lienOpretnydebatLaesdebat">
            <f class="styleleinarticle6"> {{'Opretdebat'|trans}}{#Opret ny debat #}&nbsp;| {#Læs debat#}{{'Læsdebat'|trans}}</f></a> 
    </div>
{%endif%} 

{% if article.position==7%}
    <div class="articleposition7" style="background-color: {{article.style.codecouleurback}};">   

        <div class="styleheadlinearticle7">
            <FONT color="{{article.style.codecouleurfront}}" >
            <a href="{{ path('my_app_article_article_voir',{'id':article.id} ) }}">
                             {{article.headline|truncate(58, true, '...')}}
            </a>
            </FONT>       
        </div> 
        <a href="{{ path('my_app_forum_sujet_addfromar',{'id':article.id}) }}" class="lienOpretnydebatLaesdebat">
            <f class="styleleinarticle7">{{'Opretdebat'|trans}}{#Opret ny debat #}&nbsp;| {#Læs debat#}{{'Læsdebat'|trans}}</f></a> 


     {% if article.path is not null%}

        {%if "http" in article.path %}
        <a href="{{ path('my_app_article_article_voir',{'id':article.id} ) }}">
        <img src="{{article.path }}"  class="imagearticle7"  id="opacity"  />
        </a>
        {%else%}
        <a href="{{ path('my_app_article_article_voir',{'id':article.id} ) }}">
        <img src="{{ asset('upload/' ~ article.path) }}"   class="imagearticle7"  id="opacity"    />
        </a>
        {%endif%}


        {%endif%}

    </div>
{%endif%} 


{% if article.position==8%}
    <div class="articleposition8" style="background-color: {{article.style.codecouleurback}};">    

        <div class="styleheadlinearticle8"> 
            <FONT color="{{article.style.codecouleurfront}}">
            <a href="{{ path('my_app_article_article_voir',{'id':article.id} ) }}">
                             {{article.headline|truncate(58, true, '...')}}
            </a>
            </FONT>       
        </div> 
        <a href="{{ path('my_app_forum_sujet_addfromar',{'id':article.id}) }}" class="lienOpretnydebatLaesdebat">
            <f class="styleleinarticle8">{{'Opretdebat'|trans}}{#Opret ny debat #}&nbsp;| {#Læs debat#}{{'Læsdebat'|trans}}</f></a> 

          {% if article.path is not null%}
          {%if "http" in article.path %}
        <a href="{{ path('my_app_article_article_voir',{'id':article.id} ) }}">
        <img src="{{article.path }}"  class="imagearticle8"  id="opacity"  />
        </a>
          {%else%}
        <a href="{{ path('my_app_article_article_voir',{'id':article.id} ) }}">
        <img src="{{ asset('upload/' ~ article.path) }}"  class="imagearticle8"  id="opacity"  />
        </a>
          {%endif%}


            {%endif%}

    </div>
{%endif%} 

{% if article.position==9%}
    <div class="articleposition9" style="background-color: {{article.style.codecouleurback}};">  

        {% if article.path is not null%}


                {%if "http" in article.path %}
        <a href="{{ path('my_app_article_article_voir',{'id':article.id} ) }}">
        <img src="{{article.path }}" class="imagearticle9"  id="opacity"  />
        </a>
                  {%else%}
        <a href="{{ path('my_app_article_article_voir',{'id':article.id} ) }}">
        <img src="{{ asset('upload/' ~ article.path) }}"  class="imagearticle9"  id="opacity"  />
        </a>
                    {%endif%}

        {%endif%}
        <div class="styleheadlinearticle9">
            <FONT color="{{article.style.codecouleurfront}}" >
            <a href="{{ path('my_app_article_article_voir',{'id':article.id} ) }}">
              {{article.headline|truncate(51, true, '...')}} 
            </a>
            </FONT>      
        </div>   
        <a href="{{ path('my_app_forum_sujet_addfromar',{'id':article.id}) }}" class="lienOpretnydebatLaesdebat">
            <f class="styleleinarticle9">{{'Opretdebat'|trans}}{#Opret ny debat #}&nbsp;| {#Læs debat#}{{'Læsdebat'|trans}}</f></a> 
    </div>
{%endif%} 

{% if article.position==10%}
    <div class="articleposition10" style="background-color: {{article.style.codecouleurback}};">      
      {% if article.path is not null%}


                {%if "http" in article.path %}
        <a href="{{ path('my_app_article_article_voir',{'id':article.id} ) }}">
        <img src="{{article.path }}"   class="imagearticle10"  id="opacity"  />
        </a>
                  {%else%}
        <a href="{{ path('my_app_article_article_voir',{'id':article.id} ) }}">
        <img src="{{ asset('upload/' ~ article.path) }}"   class="imagearticle10"  id="opacity"    />
        </a>
                    {%endif%}

        {%endif%}
        <div class="styleheadlinearticle10"> 
            <FONT color="{{article.style.codecouleurfront}}" >
            <a href="{{ path('my_app_article_article_voir',{'id':article.id} ) }}">
                             {{article.headline|truncate(51, true, '...')}}
            </a>
            </FONT>     
        </div>   
        <a href="{{ path('my_app_forum_sujet_addfromar',{'id':article.id}) }}" class="lienOpretnydebatLaesdebat">
            <f class="styleleinarticle10"> {{'Opretdebat'|trans}}{#Opret ny debat #}&nbsp;| {#Læs debat#}{{'Læsdebat'|trans}}</f></a> 
    </div>{%endif%} 

{% if article.position==11%}
    <div class="articleposition11" style="background-color: {{article.style.codecouleurback}};">   
        {% if article.path is not null%}


                {%if "http" in article.path %}
        <a href="{{ path('my_app_article_article_voir',{'id':article.id} ) }}">
        <img src="{{article.path }}"    class="imagearticle10"  id="opacity"  />
        </a>
                  {%else%}
        <a href="{{ path('my_app_article_article_voir',{'id':article.id} ) }}">
        <img src="{{ asset('upload/' ~ article.path) }}"  class="imagearticle10"  id="opacity"  />
        </a>
                    {%endif%}

        {%endif%}
        <div class="styleheadlinearticle11">  
            <FONT color="{{article.style.codecouleurfront}}">
            <a href="{{ path('my_app_article_article_voir',{'id':article.id} ) }}">
                             {{article.headline|truncate(51, true, '...')}}
            </a>
            </FONT>       
        </div> 
        <a href="{{ path('my_app_forum_sujet_addfromar',{'id':article.id}) }}" class="lienOpretnydebatLaesdebat">
            <f class="styleleinarticle11">{{'Opretdebat'|trans}}{#Opret ny debat #}&nbsp;| {#Læs debat#}{{'Læsdebat'|trans}}</f></a> 
    </div>{%endif%} 
 <!-------------------------------------------------------------------------------------------------------------------------------------------->
    <div class="articlepositionA">

        <center><p class="rouge" style="  margin-bottom: 0px;">{#SENESTE NYHEDER#}{{'SENESTENYHEDER'|trans}}</p></center>
 
       {%for  sujetnotarticle in sujetnotarticle%}
         
         {% if loop.length > 4  and  loop.length < 8 %}{# si cette div est pleine les titres seront PEU espacés #}
        
       {% if sujetnotarticle.id != loop.last%}
        <div class="senestredebattelementcompresse" style="border-bottom: 1px dashed #9fa1a3;">
            <a href="{{ path('my_app_forum_sujet_voir',{'id':sujetnotarticle.id}) }}">
                <t class="stylecontenudebat"><z class="hvr-pulse-grow">{{sujetnotarticle.sujet|truncate(35, true, '...')}}</z></t></a>   
        </div>        
      {%else%}
        <div class="senestredebattelementcompresse">
           <a href="{{ path('my_app_forum_sujet_voir',{'id':sujetnotarticle.id}) }}">
               <t class="stylecontenudebat"><z class="hvr-pulse-grow">{{sujetnotarticle.sujet|truncate(35, true, '...')}}</z></t></a>      
        </div> 
      {%endif%} 
        
        
        {%else%}
        
       {% if sujetnotarticle.id != loop.last%}
        <div class="senestredebattelement" style="border-bottom: 1px dashed #9fa1a3;">
           <a href="{{ path('my_app_forum_sujet_voir',{'id':sujetnotarticle.id}) }}">
               <t class="stylecontenudebat"><z class="hvr-pulse-grow">{{sujetnotarticle.sujet|truncate(35, true, '...')}}</z></t></a>    
        </div>        
      {%else%}
        <div class="senestredebattelement">
            <a href="{{ path('my_app_forum_sujet_voir',{'id':sujetnotarticle.id}) }}">
                <t class="stylecontenudebat"><z class="hvr-pulse-grow">{{sujetnotarticle.sujet|truncate(35, true, '...')}}</z></t></a>      
        </div> 
      {%endif%}  
        
        
        {%endif%}
        
     {%endfor%}
   
    </div>
<!---------------------------------------------------------------------------------------------------------------------------------->
    <div class="articlepositionB">
        <center><p class="rouge" style="  margin-bottom: 0px;">{#MEST LÆSTE DEBATTER#}{{'debatmesleast'|trans}}</p></center>
       {%for  mostcommenteddebat in mostcommenteddebat%}
        
         {% if loop.length > 4  and loop.length < 8  %}{# si cette div est pleine les titres seront PEU espacés #}
        
       {% if mostcommenteddebat.id != loop.last%}
        <div class="senestredebattelementcompresse" style="border-bottom: 1px dashed #9fa1a3;">
            <a href="{{ path('my_app_forum_sujet_voir',{'id':mostcommenteddebat.id}) }}">
               <t class="stylecontenudebat"><z class="hvr-pulse-grow">{{mostcommenteddebat.sujet|truncate(35, true, '...')}}</z></t>
            </a>   
        </div>        
      {%else%}
        <div class="senestredebattelementcompresse">
           <a href="{{ path('my_app_forum_sujet_voir',{'id':mostcommenteddebat.id}) }}">
              <t class="stylecontenudebat"><z class="hvr-pulse-grow">{{mostcommenteddebat.sujet|truncate(35, true, '...')}}</z></t>
           </a>      
        </div> 
     {%endif%} 
        
        
        {%else %}
        
       {% if mostcommenteddebat.id != loop.last%}
        <div class="senestredebattelement" style="border-bottom: 1px dashed #9fa1a3;">
           <a href="{{ path('my_app_forum_sujet_voir',{'id':mostcommenteddebat.id}) }}">
               <t class="stylecontenudebat"><z class="hvr-pulse-grow">{{mostcommenteddebat.sujet|truncate(35, true, '...')}}</z></t>
           </a>    
        </div>        
      {%else%}
        <div class="senestredebattelement">
            <a href="{{ path('my_app_forum_sujet_voir',{'id':mostcommenteddebat.id}) }}">
                <t class="stylecontenudebat"><z class="hvr-pulse-grow">{{mostcommenteddebat.sujet|truncate(35, true, '...')}}</z></t>
            </a>      
        </div> 
      {%endif%}  
        
        
        {%endif%}
        
     {%endfor%}
    </div>
<!---------------------------------------------------------------------------------------------------------------------------------->
    <!-- ici pas d image pour ces articles -->
{% if article.position==12%}
    <div class="articleposition12" style="background-color: {{article.style.codecouleurback}};">           
        <div class="styleheadlinearticle12">   
            <FONT color="{{article.style.codecouleurfront}}"  >
            <a href="{{ path('my_app_article_article_voir',{'id':article.id} ) }}">
                             {{article.headline|truncate(42, true, '...')}}
            </a>
            </FONT>      
        </div>  
        <a href="{{ path('my_app_forum_sujet_addfromar',{'id':article.id}) }}" class="lienOpretnydebatLaesdebat">
            <f class="styleleinarticle12"> {{'Opretdebat'|trans}}{#Opret ny debat #}&nbsp;| {#Læs debat#}{{'Læsdebat'|trans}}</f></a> 
    </div>{%endif%} 
    <!-- ici pas d image pour ces articles -->
{% if article.position==13%}
    <div class="articleposition13" style="background-color: {{article.style.codecouleurback}};">           
        <div class="styleheadlinearticle13">  
            <FONT color="{{article.style.codecouleurfront}}"  >
            <a href="{{ path('my_app_article_article_voir',{'id':article.id} ) }}">
                             {{article.headline|truncate(42, true, '...')}}
            </a>
            </FONT>     
        </div>  
        <a href="{{ path('my_app_forum_sujet_addfromar',{'id':article.id}) }}" class="lienOpretnydebatLaesdebat">
            <f class="styleleinarticle13"> {{'Opretdebat'|trans}}{#Opret ny debat #}&nbsp;| {#Læs debat#}{{'Læsdebat'|trans}}</f></a> 
    </div>
{%endif%} 
    <!-- ici pas d image pour ces articles -->
{% if article.position==14%}
    <div class="articleposition14" style="background-color: {{article.style.codecouleurback}};">           
        <div class="styleheadlinearticle14">   
            <FONT color="{{article.style.codecouleurfront}}" >
            <a href="{{ path('my_app_article_article_voir',{'id':article.id} ) }}">
                             {{article.headline|truncate(42, true, '...')}}
            </a>
            </FONT>    
        </div>     
        <a href="{{ path('my_app_forum_sujet_addfromar',{'id':article.id}) }}" class="lienOpretnydebatLaesdebat">
            <f class="styleleinarticle14">{{'Opretdebat'|trans}}{#Opret ny debat #}&nbsp;| {#Læs debat#}{{'Læsdebat'|trans}}</f></a> 
    </div>
{%endif%} 
    <!-- ici pas d image pour ces articles -->
{% if article.position==15%}
    <div class="articleposition15" style="background-color: {{article.style.codecouleurback}};">           
        <div class="styleheadlinearticle15">  
            <FONT color="{{article.style.codecouleurfront}}" >
            <a href="{{ path('my_app_article_article_voir',{'id':article.id} ) }}">
                             {{article.headline|truncate(42, true, '...')}}
            </a>
            </FONT>    
        </div> 
        <a href="{{ path('my_app_forum_sujet_addfromar',{'id':article.id}) }}" class="lienOpretnydebatLaesdebat">
            <f class="styleleinarticle15"> {{'Opretdebat'|trans}}{#Opret ny debat #}&nbsp;| {#Læs debat#}{{'Læsdebat'|trans}}</f></a> 
    </div>
{%endif%} 

  
    {% endfor%}
 <!------------------------------------------------------------------------------------------------------------------------------------------>
    <!-- ici c'est la colonne droite  pour pub , senestte debatter , sol , horoscope ...-->  
    <div class="senestredebattfrontpage" > 
        {#<center><p class="rouge"></br>Seneste debatter</p></center>#}
        <center><p class="rouge"></br>{{ 'debatrecent'|trans }}</p></center>
        
    {%for  sujet in sujet%}
      {% if loop.length > 3 and  loop.length <6 %}{# si cette div est pleine les titres seront PEU espacés #}
       {% if sujet.id != loop.last%}
        <div class="senestredebattelementcompresse" style="border-bottom: 1px dashed #9fa1a3;">
            <a href="{{ path('my_app_forum_sujet_voir',{'id':sujet.id}) }}"  >
            <g style="color: #767676;  font-size: 13px;"> {{sujet.datecreation|date('H:i')}}</g>
            <t class="stylecontenudebat">{{sujet.sujet|truncate(28, true, '...')}}</t> </a> </br> 
        </div>        
      {%else%}
        <div class="senestredebattelementcompresse">
              <a href="{{ path('my_app_forum_sujet_voir',{'id':sujet.id}) }}"  >
            <g style="color: #767676;  font-size: 13px;"> {{sujet.datecreation|date('H:i')}}</g>
            <t class="stylecontenudebat">{{sujet.sujet|truncate(28, true, '...')}}</t> </a>  </br> 
        </div> 
       {%endif%} 
       {%else %}
       {% if sujet.id != loop.last%}
        <div class="senestredebattelement" style="border-bottom: 1px dashed #9fa1a3;">
            <a href="{{ path('my_app_forum_sujet_voir',{'id':sujet.id}) }}"  >
            <g style="color: #767676;  font-size: 13px;"> {{sujet.datecreation|date('H:i')}}</g>
            <t class="stylecontenudebat">{{sujet.sujet|truncate(28, true, '...')}}</t> </a> </br> 
        </div>        
      {%else%}
        <div class="senestredebattelement">
              <a href="{{ path('my_app_forum_sujet_voir',{'id':sujet.id}) }}"  >
            <g style="color: #767676;  font-size: 13px;"> {{sujet.datecreation|date('H:i')}}</g>
            <t class="stylecontenudebat">{{sujet.sujet|truncate(28, true, '...')}}</t> </a>  </br> 
        </div> 
     {%endif%}
        
        
        
       

        {%endif%}
{% endfor%}

    </div> 

<!---------------------------------------------------------------------------------------------------------------------------------->
    {% for publicite in publicite%} 


        {% if publicite.position==14%}
    <img src="{{publicite.image}}" alt="" width="300" height="250" class="publicitenumero1" >  
       {%endif%}       

       {% if publicite.position==15%}
    <img src="{{publicite.image}}" alt="" width="301" height="82" class="publicitenumero2" >  
       {%endif%}   

       {% if publicite.position==16%}
    <img src="{{publicite.image}}" alt="" width="929" height="180" class="publicitenumero3" >  
       {%endif%}       

       {% if publicite.position==17%}
    <img src="{{publicite.image}}" alt="" width="" height="" class="publicitenumero4" >  
       {%endif%}      

       {% if publicite.position==18%}
    <img src="{{publicite.image}}" alt="" width="" height="" class="publicitenumero5" >  
       {%endif%}   

       {% if publicite.position==19%}
    <img src="{{publicite.image}}" alt="" width="" height="" class="publicitenumero6" >  
       {%endif%}   

       {% if publicite.position==20%}
    <img src="{{publicite.image}}" alt="" width="" height="" class="publicitenumero7" >  
       {%endif%}       

        {% if publicite.position==21%}
    <img src="{{publicite.image}}" alt="" width="" height="" class="publicitenumero8" >  
       {%endif%} 

     {%endfor%}

    
    
              <div style="position: absolute;  top: 2070px;"> 
                   <div style="  margin-top: -20px;margin-bottom: 20px;">
                     {{ render(controller('MyAppEspritBundle:publicite:showpubfooter')) }}</div>
               {% include   'MyAppEspritBundle:Default:footer.html.twig'%} 
            </div>
     
</div>

             {#  retour a haut de page   #}
  {#    ça cause un conflit avec tooltip #}
<script src="{{ asset('bundles/myappesprit/css/retourvershautdepage/jqueryuitotop.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/myappesprit/css/retourvershautdepage/easing.js') }}" type="text/javascript"></script>
<script type="text/javascript">
   jQuery.noConflict();		 
   jQuery(document).ready(function() {
       jQuery().UItoTop2({easingType: 'easeOutQuart'});
   }); 
</script> 
 {% endblock %}