<head>  <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" /> </head> 
{% if is_granted( 'ROLE_USER' ) %}
 
 <link href="{{ asset('bundles/myappesprit/css/notif/stylenotif.css') }}" rel="stylesheet" type="text/css" media="screen" /> 
 
  <script src="{{ asset('bundles/myappesprit/css/notif/jquery.js') }}" type="text/javascript"></script> 
<script src="{{ asset('bundles/myappesprit/css/notif/index.js') }}" type="text/javascript"></script>
 


 

 
<div class="contain" style="position: absolute;left: 200px;top: -40px;">  
<a href="#" class="button notificationicon on" id="notifid"> </a> 
     
    
    <ul id="notificationMenu" class="notifications" style="left: 450px;top: 50px;position: fixed;">
      <li class="titlebar">
        <span class="title">Notifications</span>
        <span class="settings"><i class="icon-cog"></i>
        </span>
      </li>
      <div class="notifbox" class="scrollbar" id="style-2">
           {{ render(controller('MyAppEspritBundle:notification:showall')) }} {# pour afficher notif number #}
      </div>
      <li class="seeall">
              {#{ render(controller('MyAppEspritBundle:notification:seeall')) }} {# pour afficher notif number #}
      </li>
    </ul>
  </div> 
</body>
 
 
 {#
<script type="text/javascript">
     $(document).click(function(event) {if ( !$(event.target).hasClass('#cerclenotifcercle'))
         { $("#notificationMenu").hide();}});              
</script>#}
  {% endif %}