






{% include 'TwitterBootstrapBundle::stylesheets.html.twig'%}
<div id="detailsduprofil">
   <b class="Minprofil"> Min profil</h2></b>   
    <div style="padding: 10px 50px 0 10px;position:relative; top:-15px;left:20px; "> 
        <img src="{{ asset('bundles/myappesprit/images/user.png') }}" alt="" /> 
        </br> <a href="{{ path('fos_user_change_password') }}" style="text-decoration:none;color: #000;">changer password</a></br>
        <a href="{{ path('fos_user_change_password') }}" style="text-decoration:none;color: #000;">&nbsp;&nbsp;changer photo</a>
    </div>
   <b class="username"><h1> {{app.user.username }}</h1></b>
   <div id="detailsdesession"> 
   <h6>Oprettet:&nbsp;{{ app.user.datedeCreationUser|date('Y-m-d H:i:s')  }} </h6>  
   <h6> Sidst online:{{app.user.lastLogin|date('Y-m-d H:i:s')}}</h6></div>
        
</div>
<div id="login">








<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
    {#{ form_widget(form) }#}
    
           <div id="login-input"> 
       <table  height="550">
           
           <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;password &nbsp; <b  class="rouge">*</b> &nbsp;&nbsp; </td><td> {{form_widget(form.current_password ) }}  </td></tr> 
          
       
         <tr><td>
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
                New Password &nbsp; <b  class="rouge">*</b> &nbsp;&nbsp; </td><td> {{form_widget(form.new.first) }}  </td></tr>
         <tr><td>Confirm  New Password &nbsp; <b  class="rouge">*</b> &nbsp;&nbsp; </td><td> {{form_widget(form.new.second) }}  </td></tr>
         
          
           
      
        </table> 
       
           
               <td> {{form_widget(form._token)}} </td> 
        
      
    </div>
          
  <div id="buttonsregistrerEditprofil">
        <input type="submit" value="{{ 'change'|trans({}, 'FOSUserBundle') }}"  class="btn btn-warning btn-lg"/>
         <a href="{{path('my_app_esprit_homepage') }}" style="text-decoration:none;color: red;">                                                                                                                                                      
           &nbsp;&nbsp;Annuler&nbsp;&nbsp;</a>
    </div>
</form>

    
    
</div>