
{% include 'TwitterBootstrapBundle::stylesheets.html.twig'%}
 {% include 'MyAppEspritBundle:Default:sousmenu.html.twig'  with { 'routeName':app.request.get('_route') }%}
{{ render(controller('MyAppEspritBundle:notification:shownumber')) }} {# pour afficher notif number #}
<!-- tooltiprequired field ---->
<link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/myappesprit/css/tooltiprequieredfield/tooltip.css') }}"/>
<script src="{{ asset('bundles/myappesprit/css/tooltiprequieredfield/tooltip.js') }}" type="text/javascript"></script>
<!-- tooltiprequired field ---->  

<div class="contenudetemplate" id="getFixedTemplate">
    </br>
    <h3>{{'Changermotdepasse'|trans}}</h3> 
    <div class="entetedeprofil"  >


        <div class="donneeconnexion" style="float: right;"> 

            <h6>{{'etabli'|trans}}:&nbsp;{{ app.user.datedeCreationUser|date('Y-M-d H:i:s')  }} </h6>  
            <h6>{{'Sidstonline'|trans}}:&nbsp;{{app.user.lastLogin|date('Y-M-d H:i:s')}}</h6>
        </div>
        <div class="senestredebatt">
            <center><h4><p class="rouge"></br>Seneste debatter</p></h4></center> 

             
  {%for  sujet in sujet%}
      {% if loop.length > 3 and  loop.length <6 %}{# si cette div est pleine les titres seront PEU espacés #}
       {% if sujet.id != loop.last%}
        <div class="senestredebattelementcompresse" style="border-bottom: 1px dashed #9fa1a3;">
            <a href="{{ path('my_app_forum_sujet_voir',{'id':sujet.id}) }}"  >
            <g style="color: #767676;  font-size: 13px;"> {{sujet.datecreation|date('H:i')}}</g>
            <t class="stylecontenudebat">{{sujet.sujet|truncate(18, true, '...')}}</t> </a> </br> 
        </div>        
      {%else%}
        <div class="senestredebattelementcompresse">
              <a href="{{ path('my_app_forum_sujet_voir',{'id':sujet.id}) }}"  >
            <g style="color: #767676;  font-size: 13px;"> {{sujet.datecreation|date('H:i')}}</g>
            <t class="stylecontenudebat">{{sujet.sujet|truncate(18, true, '...')}}</t> </a>  </br> 
        </div> 
       {%endif%} 
       {%else %}
       {% if sujet.id != loop.last%}
        <div class="senestredebattelement" style="border-bottom: 1px dashed #9fa1a3;">
            <a href="{{ path('my_app_forum_sujet_voir',{'id':sujet.id}) }}"  >
            <g style="color: #767676;  font-size: 13px;"> {{sujet.datecreation|date('H:i')}}</g>
            <t class="stylecontenudebat">{{sujet.sujet|truncate(18, true, '...')}}</t> </a> </br> 
        </div>        
      {%else%}
        <div class="senestredebattelement">
              <a href="{{ path('my_app_forum_sujet_voir',{'id':sujet.id}) }}"  >
            <g style="color: #767676;  font-size: 13px;"> {{sujet.datecreation|date('H:i')}}</g>
            <t class="stylecontenudebat">{{sujet.sujet|truncate(18, true, '...')}}</t> </a>  </br> 
        </div> 
     {%endif%}
        
        
        
       

        {%endif%}
{% endfor%}
        </div>

       {% if app.user.path is not null  %}   
                {%if "http" in app.user.path %}
        <img src="{{app.user.path }}" class="grandimageuser" alt="" style="  position: relative;  top: 40px;  left: 40px;" />   
             {%else%}
         <img src="{{ asset('upload/' ~ app.user.path)}}" class="grandimageuser" alt="" style="  position: relative;  top: 40px;  left: 40px;" />  
             {%endif%}
         
        {% else %}
        <img src="{{ asset('bundles/myappesprit/images/user.png') }}"  
             class="grandimageuser"alt="" style="  position: relative;  top: 40px;  left: 40px;" />             
        {% endif%}
       


        </br> </br> </br> </br>  

        <a href="#" id="dialog-link" style="color: #000;padding-left: 45px;">changer photo</a></br> 


        {#<div class="nomuser"> 
       
            <b class="username"><h1> {{app.user.username }}</h1></b>

        </div>#}

    </div>

























    <div id="login">








        <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">


            <div id="login-inputpassword"> 
  {#              <table  height="150">

                    <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            password &nbsp; <b  class="rouge">*</b> &nbsp;&nbsp; </td><td> {{form_widget(form.current_password ) }}  </td></tr> 


                    <tr><td>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
                            New Password &nbsp; <b  class="rouge">*</b> &nbsp;&nbsp; </td><td> {{form_widget(form.new.first) }}  </td></tr>
                    <tr><td>Confirm  New Password &nbsp; <b  class="rouge">*</b> &nbsp;&nbsp; </td><td> {{form_widget(form.new.second) }}  </td></tr>




                </table> 


                <td> {{form_widget(form._token)}} </td> 

#}


                <table style="height: 120px;">
                    <tr>
                        <td width="199"> <x style="float:right;">{{'mdpactuel'|trans}} <b  class="rouge">*</b> &nbsp;</x></td>
                    <td width="207"> {{form_widget(form.current_password, { 'attr': { 'style': '  width: 350px;height: 25px;' , 'onmouseover':'tooltip.pop(this, "<h6>&nbsp;&nbsp; This Field is requiered  &nbsp;&nbsp;</h6>") ' }  }) }}</td>
                    </tr>
                    <tr>
                        <td><x style="float:right;">{{'nouveaumdp'|trans}}<b  class="rouge">*</b> &nbsp;</x></td>
                    <td>{{form_widget(form.new.first, { 'attr': { 'style': '  width: 350px;height: 25px;', 'onmouseover':'tooltip.pop(this, "<h6>&nbsp;&nbsp; This Field is requiered  &nbsp;&nbsp;</h6>")'   }  }) }}</td>
                    </tr>
                    <tr>
                        <td><x style="float:right;">{{'repeatnouveaumdp'|trans}} <b  class="rouge">*</b> &nbsp;</x></td>
                    <td>{{form_widget(form.new.second, { 'attr': { 'style': '  width: 350px;height: 25px;', 'onmouseover':'tooltip.pop(this, "<h6>&nbsp;&nbsp; This Field is requiered  &nbsp;&nbsp;</h6>")'   }  }) }}</td>
                    </tr>
                </table>
                {{form_widget(form._token)}}


                <input type="submit" value="{{ '       change        '|trans({}, 'FOSUserBundle') }}"  class="btn btn-warning btn-lg" style="margin-left: 220px;  margin-right: 50px;width: 120px;"/>

                <a href="{{path('my_app_esprit_homepage') }}" style="color: red;">  Annuler</a>                                                                                                                                                     
                   


            </div>
        </form>


    </div>   
    
              <div style="padding-top: 70px;"> 
                        <div style="  margin-top: -20px; margin-bottom: 20px;"> 
                   {{ render(controller('MyAppEspritBundle:publicite:showpubfooter')) }}</div>
               {% include   'MyAppEspritBundle:Default:footer.html.twig'%} 
          </div>
</div>


<!---------------------------------------------------------------------------------------------------------------------------------------------->
<!-- css et js pour bundle JQuery  -->
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/myappesprit/js/jquery-ui.css') }}" />
<script type="text/javascript" src="{{ asset('bundles/myappesprit/js/jquery.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/myappesprit/js/jquery-ui.js') }}"></script>
<!-- css et js pour bundle JQuery  -->


<h2 class="demoHeaders"> <em></em></h2>

<h2 class="demoHeaders"><br>

    <script>

        $("#accordion").accordion();
        $("#dialog").dialog({
            autoOpen: false,
            width: 400,
            buttons: [
                {
                    text: "Ok",
                    click: function() {
                        $(this).dialog("close");
                    }
                },
                {
                    text: "Cancel",
                    click: function() {
                        $(this).dialog("close");
                    }
                }
            ]
        });

        // Link to open the dialog
        $("#dialog-link").click(function(event) {
            $("#dialog").dialog("open");
            event.preventDefault();
        });


    </script> </h2>
