
{% include 'TwitterBootstrapBundle::stylesheets.html.twig'%}
 {% include 'MyAppEspritBundle:Default:sousmenu.html.twig'  with { 'routeName':app.request.get('_route') }%}


<div class="contenudetemplate">
    </br>
    <h3>Skift adgangskode</h3> 
    <div class="entetedeprofil"  >


        <div class="donneeconnexion" style="float: right;"> 

            <h6>Oprettet:&nbsp;{{ app.user.datedeCreationUser|date('Y-M-d H:i:s')  }} </h6>  
            <h6> Sidst online:&nbsp;{{app.user.lastLogin|date('Y-M-d H:i:s')}}</h6>
        </div>
        <div class="senestredebatt">
            <center><h4><p class="rouge"></br>Seneste debatter</p></h4></center> 

             
    {%for  sujet in sujet%}

       {% if sujet.id != loop.last%}
        <div class="senestredebattelement" style="border-bottom: 1px dashed #9fa1a3;">
            <g style="color: #767676;  font-size: 13px;"> {{sujet.datecreation|date('H:i')}}</g>
            <t class="stylecontenudebat">{{sujet.sujet|truncate(22, true, '...')}}</t>  </br> 
        </div>        
      {%else%}
        <div class="senestredebattelement">
            <g style="color: #767676;  font-size: 13px;"> {{sujet.datecreation|date('H:i')}}</g>
            <t class="stylecontenudebat">{{sujet.sujet|truncate(22, true, '...')}}</t>  </br> 
        </div> 

        {%endif%}

 

{% endfor%}
        </div>

        {% if app.user.image is not null  %}     
             {%if "http" in app.user.image %}
        <img src="{{app.user.image }}" class="grandimageuser" alt="" style="  position: relative;  top: 40px;  left: 40px;" />   
             {%else%}
         <img src="{{ asset('upload/' ~ app.user.id ~'/' ~ app.user.image)}}" class="grandimageuser" alt="" style="  position: relative;  top: 40px;  left: 40px;" />  
             {%endif%}
         
        {% else %}
        <img src="{{ asset('bundles/myappesprit/images/user.png') }}"  
             class="grandimageuser"alt="" style="  position: relative;  top: 40px;  left: 40px;" />             
        {% endif%}
       


        </br> </br> </br> </br>  

        <a href="#" id="dialog-link" style="color: #000;padding-left: 45px;">changer photo</a></br> 


        {#<div class="nomuser"> 
       
            <b class="username"><h1> {{app.user.username }}</h1></b>

        </div>#}

    </div>

























    <div id="login">








        <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">


            <div id="login-inputpassword"> 
  {#              <table  height="150">

                    <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            password &nbsp; <b  class="rouge">*</b> &nbsp;&nbsp; </td><td> {{form_widget(form.current_password ) }}  </td></tr> 


                    <tr><td>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
                            New Password &nbsp; <b  class="rouge">*</b> &nbsp;&nbsp; </td><td> {{form_widget(form.new.first) }}  </td></tr>
                    <tr><td>Confirm  New Password &nbsp; <b  class="rouge">*</b> &nbsp;&nbsp; </td><td> {{form_widget(form.new.second) }}  </td></tr>




                </table> 


                <td> {{form_widget(form._token)}} </td> 

#}


                <table>
                    <tr>
                        <td width="199"> <x style="float:right;">Nuværende adgangskode <b  class="rouge">*</b> &nbsp;</x></td>
                    <td width="207"> {{form_widget(form.current_password, { 'attr': { 'style': '  width: 350px;height: 25px;' , 'onmouseover':'tooltip.pop(this, "<h6>&nbsp;&nbsp; This Field is requiered  &nbsp;&nbsp;</h6>") ' }  }) }}</td>
                    </tr>
                    <tr>
                        <td><x style="float:right;">Ny adgangskode <b  class="rouge">*</b> &nbsp;</x></td>
                    <td>{{form_widget(form.new.first, { 'attr': { 'style': '  width: 350px;height: 25px;', 'onmouseover':'tooltip.pop(this, "<h6>&nbsp;&nbsp; This Field is requiered  &nbsp;&nbsp;</h6>")'   }  }) }}</td>
                    </tr>
                    <tr>
                        <td><x style="float:right;">Gentag den nye adgangskode <b  class="rouge">*</b> &nbsp;</x></td>
                    <td>{{form_widget(form.new.second, { 'attr': { 'style': '  width: 350px;height: 25px;', 'onmouseover':'tooltip.pop(this, "<h6>&nbsp;&nbsp; This Field is requiered  &nbsp;&nbsp;</h6>")'   }  }) }}</td>
                    </tr>
                </table>
                {{form_widget(form._token)}}


                <input type="submit" value="{{ '       change        '|trans({}, 'FOSUserBundle') }}"  class="btn btn-warning btn-lg" style="margin-left: 220px;  margin-right: 50px;width: 120px;"/>

                <a href="{{path('my_app_esprit_homepage') }}" style="color: red;">  Annuler</a>                                                                                                                                                     
                   


            </div>
        </form>


    </div>   
    
              <div style="padding-top: 70px;"> 
               {{ render(controller('MyAppEspritBundle:publicite:showpubfooter')) }}
               {% include   'MyAppEspritBundle:Default:footer.html.twig'%} 
          </div>
</div>


<!---------------------------------------------------------------------------------------------------------------------------------------------->
<!-- css et js pour bundle JQuery  -->
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/myappesprit/js/jquery-ui.css') }}" />
<script type="text/javascript" src="{{ asset('bundles/myappesprit/js/jquery.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/myappesprit/js/jquery-ui.js') }}"></script>
<!-- css et js pour bundle JQuery  -->


<h2 class="demoHeaders"> <em></em></h2>

<h2 class="demoHeaders"><br>

    <script>

        $("#accordion").accordion();
        $("#dialog").dialog({
            autoOpen: false,
            width: 400,
            buttons: [
                {
                    text: "Ok",
                    click: function() {
                        $(this).dialog("close");
                    }
                },
                {
                    text: "Cancel",
                    click: function() {
                        $(this).dialog("close");
                    }
                }
            ]
        });

        // Link to open the dialog
        $("#dialog-link").click(function(event) {
            $("#dialog").dialog("open");
            event.preventDefault();
        });


    </script> </h2>
