
{% include 'TwitterBootstrapBundle::stylesheets.html.twig'%}
    <div id="Forside___Debat___Politik___Samfund___Indenrigs">
        <B>Forside >  

            {% set uriapresForside = app.request.uri %}
            {% if  uriapresForside=="http://localhost/SolDK/web/app_dev.php/profile/edit" %}
            Min profil
             {% elseif  uriapresForside=="http://localhost/SolDK/web/app_dev.php/profile/change-password" %}
            Skift adgangskode
                        {% elseif  uriapresForside=="http://localhost/SolDK/web/app_dev.php/register/confirmed" %}
            Opret profil
             {%endif%} 
        </B>
    </div>


<div class="entetedeprofil">
    
    <div class="image">
            <h2>Min profil</h2> 
            
            <img src="{{ asset('bundles/myappesprit/images/user.png') }}" alt="" /> 
            
         
             <a href="{{ path('fos_user_change_password') }}" style="text-decoration:none;color: #000;">&nbsp;&nbsp;&nbsp;changer photo</a>
    </div>
    
    <div class="nomuser"> 
        </br></br></br></br> 
      <b class="username"><h1> {{app.user.username }}</h1></b>
    
    </div>
    <div class="donneeconnexion"> 
        </br></br></br></br>
          <h6>Oprettet:&nbsp;{{ app.user.datedeCreationUser|date('Y-M-d H:i:s')  }} </h6>  
          <h6> Sidst online:&nbsp;{{app.user.lastLogin|date('Y-M-d H:i:s')}}</h6>
    </div>
    <div class="senestredebatt">
        <b><p class="rouge">
                &nbsp;&nbsp;&nbsp;&nbsp;
                Seneste debatter</p></b>
        
    </div>
</div>

<div id="login">








<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
    {#{ form_widget(form) }#}
    
           <div id="login-inputpassword"> 
               <table  height="150">
           
           <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                   password &nbsp; <b  class="rouge">*</b> &nbsp;&nbsp; </td><td> {{form_widget(form.current_password ) }}  </td></tr> 
          
       
         <tr><td>
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
                New Password &nbsp; <b  class="rouge">*</b> &nbsp;&nbsp; </td><td> {{form_widget(form.new.first) }}  </td></tr>
         <tr><td>Confirm  New Password &nbsp; <b  class="rouge">*</b> &nbsp;&nbsp; </td><td> {{form_widget(form.new.second) }}  </td></tr>
         
          
           
      
        </table> 
       
           
               <td> {{form_widget(form._token)}} </td> 
        
      
    </div>
          
  <div id="buttonsregistrerpasswordprofil">
        <input type="submit" value="{{ '       change        '|trans({}, 'FOSUserBundle') }}"  class="btn btn-warning btn-lg"/>
         <a href="{{path('my_app_esprit_homepage') }}" style="text-decoration:none;color: red;">                                                                                                                                                      
           &nbsp;&nbsp;Annuler&nbsp;&nbsp;</a>
    </div>
</form>

    
    
</div>