 
{% include 'TwitterBootstrapBundle::stylesheets.html.twig'%}


{% include 'MyAppEspritBundle:Default:sousmenu.html.twig'  with { 'routeName':app.request.get('_route') }%}
 
<div class="contenudetemplate">

    <div class="image">
        <h2>Min profil</h2> 
        </br></br>
        
        {% if app.user.image is not null  %}     
             {%if "http" in app.user.image %}
        <img src="{{app.user.image }}" class="grandimageuser" alt="" />   
             {%else%}
         <img src="{{ asset('upload/' ~ app.user.id ~'/' ~ app.user.image)}}" class="grandimageuser" alt="" />  
             {%endif%}
         
        {% else %}
        <img src="{{ asset('bundles/myappesprit/images/user.png') }}"  
             class="grandimageuser"alt="" />             
        {% endif%}





        <a href="#" id="dialog-link" style="color: #000;">changer photo</a></br>      
        <a href="{{ path('fos_user_change_password') }}" style="color: #000;"> change password</a> 

    </div>

    <div class="nomuser"> 
        </br></br></br></br> 
        <b class="username">
            <h1> {{app.user.username }}</h1>


        </b>

    </div>
    <div class="donneeconnexion"> 
        </br></br></br></br>
        <h6>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Oprettet:&nbsp;{{ app.user.datedeCreationUser|date('Y-M-d')  }} </h6>  
        <h6>Sidst online:&nbsp;{{app.user.lastLogin|date('Y-M-d')}}</h6>
    </div>
    <div class="senestredebatt"></br>
        <center>  <b><p class="rouge"> Seneste debatter</p></b> </center>



    </div>

{% for flashMessage in app.session.flashbag.get('fos_user_success') %}
    <div class="messagealerteeditprofile">     
        &nbsp;&nbsp; <img src="{{ asset('bundles/myappesprit/images/OK.png') }}" alt="" />
             {{ flashMessage }}
    </div>
{% endfor %}



    </br> </br> </br> </br></br> </br> </br> </br></br></br></br> </br></br> 
    <div style="background-color:#ededed;height:53px;padding-top:14px;padding-left:10px;width:651px;top:20px;">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#" style="width:124px;text-decoration:none;color: #000;">&nbsp;&nbsp;Profile</a></li>
            <li role="presentation"><a href="#" style="background-color:#cccccc;width:124px;text-decoration:none;color: #000;">&nbsp;&nbsp;Messages</a></li>
            <li role="presentation"><a href="#"style="background-color:#cccccc;width:124px;text-decoration:none;color: #000;">&nbsp;&nbsp;Débats</a></li>
            <li role="presentation"><a href="#" style="background-color:#cccccc;width:124px;text-decoration:none;color: #000;">&nbsp;&nbsp;Amis</a></li>
            <li role="presentation"><a href="#"style="background-color:#cccccc;width:124px;text-decoration:none;color: #000;">&nbsp;&nbsp;Notifications</a></li>
        </ul>
    </div> 






    <div id="login">


        <form id="target" action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit"> 


            <div id="login-input"> 
                <table  height="550">  



                    </br></br> 

                    <tr><td style="float: right;">Nom & Prenom &nbsp; <b  class="rouge">*</b> &nbsp;&nbsp; </td>
                        <td> {{form_widget(form.nomprenom , { 'attr': { 'onmouseover':'tooltip.pop(this, "<h6>&nbsp;&nbsp; This Field is requiered  &nbsp;&nbsp;</h6>") ' }  }) }}</td> 
                    <tr><td style="float: right;"> 
                            Sexe &nbsp; <b  class="rouge">*</b> &nbsp;&nbsp; </td><td> {{form_widget(form.sexe ) }}</td></tr> 
                    <tr><td style="float: right;"> Date de naissance &nbsp; <b  class="rouge">*</b> &nbsp;&nbsp; </td>
                        <td> {{form_widget(form.datenaissance, { 'attr': { 'onmouseover':'tooltip.pop(this, "<h6>&nbsp;&nbsp; This Field is requiered  &nbsp;&nbsp;</h6>") ' }  }) }}</td> 
                    </tr>
                    <tr><td style="float: right;">
                           
                            Password &nbsp; <b  class="rouge">*</b> &nbsp;&nbsp; </td><td> {{form_widget(form.plainPassword.first, { 'attr': { 'onmouseover':'tooltip.pop(this, "<h6>&nbsp;&nbsp; This Field is requiered  &nbsp;&nbsp;</h6>") ' }  }) }}</td> 
                    </tr>
                    <tr><td style="float: right;">Confirm Password &nbsp; <b  class="rouge">*</b> &nbsp;&nbsp; </td>
                        <td> {{form_widget(form.plainPassword.second, { 'attr': { 'onmouseover':'tooltip.pop(this, "<h6>&nbsp;&nbsp; This Field is requiered  &nbsp;&nbsp;</h6>") ' }  }) }}</td> 
                    </tr>
                    <tr><td style="float: right;">
                           
                            Addresse &nbsp; <b  class="rouge" >*</b> &nbsp;&nbsp; </td>
                        <td> {{form_widget(form.addresse, { 'attr': { 'onmouseover':'tooltip.pop(this, "<h6>&nbsp;&nbsp; This Field is requiered  &nbsp;&nbsp;</h6>") ' }  }) }}</td> 
                    </tr>
                    <tr><td style="float: right;"> 
                            Code Postal &nbsp; &nbsp;&nbsp; </td>
                        <td> {{form_widget(form.codepostal, { 'attr': {'class': 'miniinput'} })}}    </td></tr>
                    <tr><td style="float: right;">  
                            Ville&nbsp;&nbsp;&nbsp;</td>
                        <td> {{form_widget(form.ville)}}   </td></tr>
                    <tr><td style="float: right;">Numero de Portable &nbsp; <b  class="rouge">*</b> &nbsp;&nbsp; </td>
                        <td> {{form_widget(form.numeroportable, { 'attr': { 'onmouseover':'tooltip.pop(this, "<h6>&nbsp;&nbsp; This Field is requiered  &nbsp;&nbsp;</h6>") ' }  }) }}</td> 
                    </tr>

                    <tr><td style="float: right;"> 
                           
                            Email&nbsp;&nbsp;&nbsp; </td><td> {{form_widget(form.email) }}  </td></tr>
                    <tr><td style="float: right;"> 
                            
                            About Me &nbsp;   &nbsp;&nbsp; </td><td> {{form_widget(form.surmoi) }}    </td></tr>
                    <tr>
                        <td id="dialog" title="Dialog Title" ><p>{{ form_widget(form.image) }} </td> 
                    {# <td >{{ form_widget(form.image) }} </td>#}
                    </tr> 
                </table> 


                <td> {{form_widget(form._token)}} </td> 


            </div>


            <div id="buttonsregistrerEditprofil"></br></br>
                <input type="submit" value="Gim profil"  style="width: 150px;" class="btn btn-warning btn-lg"  />
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{{path('my_app_esprit_homepage') }}" style="color:#c52821;">                                                                                                                                                      
                    &nbsp;&nbsp;Annuler&nbsp;&nbsp;</a>
            </div>




        </form>
    </div>

              <div style="padding-top: 70px;"> 
               {{ render(controller('MyAppEspritBundle:publicite:showpubfooter')) }}
               {% include   'MyAppEspritBundle:Default:footer.html.twig'%} 
          </div>
</div>
<!---------------------------------------------------------------------------------------------------------------------------------------------->
<!-- css et js pour bundle JQuery  -->
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/myappesprit/js/jquery-ui.css') }}" />
<script type="text/javascript" src="{{ asset('bundles/myappesprit/js/jquery.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/myappesprit/js/jquery-ui.js') }}"></script>
<!-- css et js pour bundle JQuery  -->


 
    <script>
        $("#dialog").dialog({
            autoOpen: false,
            width: 400,
            buttons: [
                {
                    text: "Ok",
                    click: function() {
                        //  $(this).submit();
           
                            }
                        });
                    }
                },
                {
                    text: "Cancel",
                    click: function() {
                        $(this).dialog("close");
                    }
                }
            ]
        });

        // Link to open the dialog
        $("#dialog-link").click(function(event) {
            $("#dialog").dialog("open");
            event.preventDefault();
        });
    </script> 
 