 
{% include 'TwitterBootstrapBundle::stylesheets.html.twig'%}

<div id="Forside___Debat___Politik___Samfund___Indenrigs">
    <B>Forside >  

            {% set uriapresForside = app.request.uri %}
            {% if  uriapresForside=="http://localhost/SolDK/web/app_dev.php/profile/edit" %}
        Min profil
             {% elseif  uriapresForside=="http://localhost/SolDK/web/app_dev.php/profile/change-password" %}
        Skift adgangskode
                        {% elseif  uriapresForside=="http://localhost/SolDK/web/app_dev.php/register/confirmed" %}
        Opret profil
             {%endif%} 
    </B>
</div>

<div class="entetedeprofil">

    <div class="image">
        <h2>Min profil</h2> 

        {% if app.user.image is not null  %}
             <img src="{{app.user.image }}"  
             style=" border-radius:50%;width:100px;height:100px;/*border:2px solid #679403;*/" alt="" /> 
        {% else %}
                <img src="{{ asset('bundles/myappesprit/images/user.png') }}"  
             style=" border-radius:50%;width:100px;height:100px;/*border:2px solid #679403;*/" alt="" />             
        {% endif%}
             
             
             
             <a href="{{ path('fos_user_change_password') }}" style="text-decoration:none;color: #000;">changer password</a></br>

        <a href="{{ path('fos_user_change_password') }}" style="text-decoration:none;color: #000;">&nbsp;&nbsp;&nbsp;changer photo</a>
    </div>

    <div class="nomuser"> 
        </br></br></br></br> 
        <b class="username"><h1> {{app.user.username }}</h1></b>

    </div>
    <div class="donneeconnexion"> 
        </br></br></br></br>
        <h6>Oprettet:&nbsp;{{ app.user.datedeCreationUser|date('Y-M-d H:i:s')  }} </h6>  
        <h6> Sidst online:&nbsp;{{app.user.lastLogin|date('Y-M-d H:i:s')}}</h6>
    </div>
    <div class="senestredebatt">
        <b><p class="rouge">
                &nbsp;&nbsp;&nbsp;&nbsp;
                Seneste debatter</p></b>

    </div>
</div>




<div id="login">


    <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit"  > 
        {#{ form_widget(form) }#}

        <div id="login-input"> 
            <table  height="550">

                <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nom & Prenom &nbsp; <b  class="rouge">*</b> &nbsp;&nbsp; </td><td> {{form_widget(form.nomprenom ) }}  </td></tr> 
                <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                        Sexe &nbsp; <b  class="rouge">*</b> &nbsp;&nbsp; </td><td> {{form_widget(form.sexe ) }}</td></tr> 
                <tr><td>Date de naissance &nbsp; <b  class="rouge">*</b> &nbsp;&nbsp; </td><td> {{form_widget(form.datenaissance) }}   </td></tr>
                <tr><td>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
                        Password &nbsp; <b  class="rouge">*</b> &nbsp;&nbsp; </td><td> {{form_widget(form.plainPassword.first) }}  </td></tr>
                <tr><td>Confirm Password &nbsp; <b  class="rouge">*</b> &nbsp;&nbsp; </td><td> {{form_widget(form.plainPassword.second) }}  </td></tr>
                <tr><td>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
                        Addresse &nbsp; <b  class="rouge">*</b> &nbsp;&nbsp; </td><td> {{form_widget(form.addresse) }}  </td></tr>
                <tr><td>Code Postal</td><td> {{form_widget(form.codepostal, { 'attr': {'class': 'miniinput'} })}}    </td></tr>
                <tr><td>Ville</td><td> {{form_widget(form.ville)}}   </td></tr>
                <tr><td>Numero de Portable &nbsp; <b  class="rouge">*</b> &nbsp;&nbsp; </td><td> {{form_widget(form.numeroportable) }} </td></tr>

                <tr><td>Email</td><td> {{form_widget(form.email) }}  </td></tr>
                <tr><td>About Me</td><td> {{form_widget(form.surmoi) }}    </td></tr>
            </table> 


            <td> {{form_widget(form._token)}} </td> 


        </div>


        <div id="buttonsregistrerEditprofil">
            <input type="submit" value="&nbsp;&nbsp;&nbsp;&nbsp;Gim profil&nbsp;&nbsp;&nbsp;&nbsp;" class="btn btn-warning btn-lg"  />
            <a href="{{path('my_app_esprit_homepage') }}" style="text-decoration:none;color: red;">                                                                                                                                                      
                &nbsp;&nbsp;Annuler&nbsp;&nbsp;</a>
        </div>

    </form>





</div>
