 
{% include 'TwitterBootstrapBundle::stylesheets.html.twig'%}
{{ render(controller('MyAppEspritBundle:notification:shownumber')) }} {# pour afficher notif number #}


{% include 'MyAppEspritBundle:Default:sousmenu.html.twig'  with { 'routeName':app.request.get('_route') }%}

<div class="contenudetemplate" id="getFixedTemplate">

    <div class="image">
        {#<h2>Min profil</h2>#} 
        
        <h2 style="  font-size: 30px;top: 30px;  position: relative;">{{'MONPROLFILE'|trans}}</h2>
        </br></br>

        {% if app.user.path is not null  %}     
             {%if "http" in app.user.path %}
        <img src="{{app.user.path }}" class="grandimageuser" alt="" />   
             {%else%}
        <img src="{{ asset('upload/' ~ app.user.path)}}" class="grandimageuser" alt="" />  
             {%endif%}

        {% else %}
        <img src="{{ asset('bundles/myappesprit/images/user.png') }}"  
             class="grandimageuser"alt="" />             
        {% endif%}





        <a href="#" id="dialog-link" class="blacktexte">changer photo</a></br>      
        <a href="{{ path('fos_user_change_password') }}" class="blacktexte"> change password</a> 

    </div>

    <div class="nomuser"> 
        </br></br></br></br> 
        <b class="username">
            <h1> {{app.user.username|capitalize  }}</h1>


        </b>

    </div>
    <div class="donneeconnexion"> 
        </br></br></br></br>
        {#<h6>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Oprettet:&nbsp;{{ app.user.datedeCreationUser|date('Y-M-d')  }} </h6>  
        <h6>Sidst online:&nbsp;{{app.user.lastLogin|date('Y-M-d')}}</h6>#}
        <h6>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'etabli'|trans}}:&nbsp;{{ app.user.datedeCreationUser|date('Y-M-d')  }} </h6>  
        <h6>{{'Sidstonline'|trans}}:&nbsp;{{app.user.lastLogin|date('Y-M-d')}}</h6>
        
    </div>
    <div class="senestredebatt"></br>
        {#<center>  <b><p class="rouge"> Seneste debatter</p></b> </center> #}
        <center>  <b><p class="rouge">{{ 'debatrecent'|trans }}</p></b> </center> 
 {{ render(controller('MyAppForumBundle:sujet:show')) }}


    </div>

{% for flashMessage in app.session.flashbag.get('fos_user_success') %}
    <div class="messagealerteeditprofile">     
        &nbsp;&nbsp; <img src="{{ asset('bundles/myappesprit/images/OK.png') }}" alt="" />
             {{ flashMessage }}
    </div>
{% endfor %}



    </br> </br> </br> </br></br> </br> </br> </br></br></br></br> </br></br> 
    <div class="stylerubriqueeditprofile">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#" style="width:124px;color: #000;">&nbsp;&nbsp;Profile</a></li>
            <li role="presentation"><a href="#" class="stylepresentationrubrique">&nbsp;&nbsp;Messages</a></li>
            <li role="presentation"><a href="#" class="stylepresentationrubrique">&nbsp;&nbsp;Débats</a></li>
            <li role="presentation"><a href="#" class="stylepresentationrubrique">&nbsp;&nbsp;Amis</a></li>
            <li role="presentation"><a href="#" class="stylepresentationrubrique">&nbsp;&nbsp;Notifications</a></li>
        </ul>
    </div> 






    <div id="login">


        <form id="target" action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit"> 


            <div id="login-input"> 
                <table  height="550">  





                   {# <tr><td style="float: right;">Nom & Prenom &nbsp; <b  class="rouge">*</b> &nbsp;&nbsp; </td>#}
                    <tr><td style="float: right;">{{'nometprenom'|trans}}&nbsp; <b  class="rouge">*</b> &nbsp;&nbsp; </td>
                        <td> {{form_widget(form.nomprenom , { 'attr': { 'onmouseover':'tooltip.pop(this, "<h6>&nbsp;&nbsp; This Field is requiered  &nbsp;&nbsp;</h6>") ' }  }) }}</td> 
                    <tr><td style="float: right;">  Sexe &nbsp; <b  class="rouge">*</b> &nbsp;&nbsp; </td>
                           <td> {{form_widget(form.sexe ) }}</td></tr> 
                    <tr><td style="float: right;position: relative;  padding-bottom: 10px;  padding-top: 10px;"> 
                            {{'Datenaissance'|trans}}
                            {#Date de naissance#} &nbsp;
                            <b  class="rouge">*</b> &nbsp;&nbsp; </td>
                        <td> 
                            {{form_widget(form.datenaissance, { 'attr': { 'onmouseover':'tooltip.pop(this, "<h6>&nbsp;&nbsp; This Field is requiered  &nbsp;&nbsp;</h6>") ' }  }) }}
                        </td> 
                    </tr>
                    <tr><td style="float: right;">

                            {{ 'pass'|trans }} &nbsp; <b  class="rouge">*</b> &nbsp;&nbsp; </td>
                        <td> {{form_widget(form.plainPassword.first, { 'attr': { 'onmouseover':'tooltip.pop(this, "<h6>&nbsp;&nbsp; This Field is requiered  &nbsp;&nbsp;</h6>") ' }  }) }}</td> 
                    </tr>
                    <tr><td style="float: right;">{{ 'confpass'|trans }} &nbsp; <b  class="rouge">*</b> &nbsp;&nbsp; </td>
                        <td> {{form_widget(form.plainPassword.second, { 'attr': { 'onmouseover':'tooltip.pop(this, "<h6>&nbsp;&nbsp; This Field is requiered  &nbsp;&nbsp;</h6>") ' }  }) }}</td> 
                    </tr>
                    <tr><td style="float: right;">

                            Addresse &nbsp; <b  class="rouge" >*</b> &nbsp;&nbsp; </td>
                        <td> {{form_widget(form.addresse, { 'attr': { 'onmouseover':'tooltip.pop(this, "<h6>&nbsp;&nbsp; This Field is requiered  &nbsp;&nbsp;</h6>") ' }  }) }}</td> 
                    </tr>
                    <tr><td style="float: right;"> 
                            Code Postal &nbsp; &nbsp;&nbsp; </td>
                        <td> {{form_widget(form.codepostal, { 'attr': {'class': 'miniinput'} })}}    </td></tr>
                    <tr><td style="float: right;">  
                            Ville&nbsp;&nbsp;&nbsp;</td>
                        <td> {{form_widget(form.ville)}}   </td></tr>
                    <tr>{#<td style="float: right;">Numero de Portable &nbsp; <b  class="rouge">*</b> &nbsp;&nbsp; </td>#}
                        <td style="float: right;">{{ 'talifoun'|trans }} &nbsp; <b  class="rouge">*</b> &nbsp;&nbsp; </td>
                        <td> {{form_widget(form.numeroportable, { 'attr': { 'onmouseover':'tooltip.pop(this, "<h6>&nbsp;&nbsp; This Field is requiered  &nbsp;&nbsp;</h6>") ' }  }) }}</td> 
                    </tr>

                    <tr><td style="float: right;"> Email&nbsp;&nbsp;&nbsp; </td><td> {{form_widget(form.email) }}  </td></tr>


                    <tr>{#<td style="float: right;">  About Me &nbsp;   &nbsp;&nbsp; </td>#}
                        <td style="float: right;">  {{'About Me'|trans}} &nbsp;   &nbsp;&nbsp; </td>
                        <td> {{form_widget(form.surmoi) }}    </td></tr>



                    <tr>
                       {# <td id="dialog" title="Dialog Title" ><p>{{ form_widget(form.image) }} </td> #}
                        <td style="  left: 275px;  top: 10px;position: relative;"> {{ form_widget(form.file) }} </td>
                    </tr> 
                </table> 


                <td> {{form_widget(form._token)}} </td> 


            </div>


            <div id="buttonsregistrerEditprofil"></br></br>
               <!-- <input type="submit" value="Gim profil"  style="width: 150px;" class="btn btn-warning btn-lg"  />-->
               <input type="submit" value="{{'changprofil'|trans}}"  style="width: 150px;" class="btn btn-warning btn-lg"  />
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{{path('my_app_esprit_homepage') }}" style="color:#c52821;">                                                                                                                                                      
                    &nbsp;&nbsp;Annuler&nbsp;&nbsp;</a>
            </div>




        </form>
    </div>

   <!--<div style="padding-top: 270px;">  -->
   <div style="padding-top: 20px;"> 
              <div style="  margin-top: -80px;margin-bottom: 20px;"> 
                    {{ render(controller('MyAppEspritBundle:publicite:showpubfooter')) }}
               </div>   
               {% include   'MyAppEspritBundle:Default:footer.html.twig'%} 
    </div>
</div>
<!---------------------------------------------------------------------------------------------------------------------------------------------->
 {#
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/myappesprit/js/jquery-ui.css') }}" />
<script type="text/javascript" src="{{ asset('bundles/myappesprit/js/jquery.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/myappesprit/js/jquery-ui.js') }}"></script>

<script>
    $("#dialog").dialog({
    autoOpen: false,
            width: 400,
            buttons: [
            {
            text: "Ok",
                    click: function() {
                    //  $(this).submit();
                    }
            });
            }
            },
            {
            text: "Cancel",
                    click: function() {
                    $(this).dialog("close");
                    }
            }
            ]
    });
            // Link to open the dialog
            $("#dialog-link").click(function(event) {
    $("#dialog").dialog("open");
            event.preventDefault();
    });
</script> #}
