 
{% include 'TwitterBootstrapBundle::stylesheets.html.twig'%}

<div id="Forside___Debat___Politik___Samfund___Indenrigs">
    <B>Forside >  

            {% set uriapresForside = app.request.uri %}
            {% if  uriapresForside=="http://localhost/SolDK/web/app_dev.php/profile/edit" %}
        Min profil
             {% elseif  uriapresForside=="http://localhost/SolDK/web/app_dev.php/profile/change-password" %}
        Skift adgangskode
                        {% elseif  uriapresForside=="http://localhost/SolDK/web/app_dev.php/register/confirmed" %}
        Opret profil
             {%endif%} 
    </B>
</div>

<div class="entetedeprofil">

    <div class="image">
        <h2>Min profil</h2> 

        {% if app.user.image is not null  %}
             <img src="{{app.user.image }}"  
             style=" border-radius:50%;width:100px;height:100px;/*border:2px solid #679403;*/" alt="" /> 
        {% else %}
                <img src="{{ asset('bundles/myappesprit/images/user.png') }}"  
             style=" border-radius:50%;width:100px;height:100px;/*border:2px solid #679403;*/" alt="" />             
        {% endif%}
             
             
             


 <a href="#" id="dialog-link" style="text-decoration:none;color: #000;">changer photo</a></br>      
  <a href="{{ path('fos_user_change_password') }}" style="text-decoration:none;color: #000;"> change password</a> 
        
    </div>

    <div class="nomuser"> 
        </br></br></br></br> 
        <b class="username"><h1> {{app.user.username }}</h1></b>

    </div>
    <div class="donneeconnexion"> 
        </br></br></br></br>
        <h6>Oprettet:&nbsp;{{ app.user.datedeCreationUser|date('Y-M-d H:i:s')  }} </h6>  
        <h6> Sidst online:&nbsp;{{app.user.lastLogin|date('Y-M-d H:i:s')}}</h6>
    </div>
    <div class="senestredebatt">
        <b><p class="rouge">
                &nbsp;&nbsp;&nbsp;&nbsp;
                Seneste debatter</p></b>

    </div>
    
 
    </br> </br> </br> </br></br> </br> </br> </br></br></br></br> 
 <div style="background-color:#ededed;height:53px;padding-top:14px;padding-left:10px;width:651px;top:20px;">
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#" style="width:124px;text-decoration:none;color: #000;">&nbsp;&nbsp;Profile</a></li>
  <li role="presentation"><a href="#" style="background-color:#cccccc;width:124px;text-decoration:none;color: #000;">&nbsp;&nbsp;Messages</a></li>
  <li role="presentation"><a href="#"style="background-color:#cccccc;width:124px;text-decoration:none;color: #000;">&nbsp;&nbsp;Débats</a></li>
  <li role="presentation"><a href="#" style="background-color:#cccccc;width:124px;text-decoration:none;color: #000;">&nbsp;&nbsp;Amis</a></li>
  <li role="presentation"><a href="#"style="background-color:#cccccc;width:124px;text-decoration:none;color: #000;">&nbsp;&nbsp;Notifications</a></li>
</ul>
</div> 
    
</div>




<div id="login">


    <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit"  > 
       

         <div id="login-input"> 
            <table  height="550">  

                

                
       
                <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nom & Prenom &nbsp; <b  class="rouge">*</b> &nbsp;&nbsp; </td><td> {{form_widget(form.nomprenom ) }}  </td></tr> 
                <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                        Sexe &nbsp; <b  class="rouge">*</b> &nbsp;&nbsp; </td><td> {{form_widget(form.sexe ) }}</td></tr> 
                <tr><td>Date de naissance &nbsp; <b  class="rouge">*</b> &nbsp;&nbsp; </td><td> {{form_widget(form.datenaissance) }}   </td></tr>
                <tr><td>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
                        Password &nbsp; <b  class="rouge">*</b> &nbsp;&nbsp; </td><td> {{form_widget(form.plainPassword.first) }}  </td></tr>
                <tr><td>Confirm Password &nbsp; <b  class="rouge">*</b> &nbsp;&nbsp; </td><td> {{form_widget(form.plainPassword.second) }}  </td></tr>
                <tr><td>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
                        Addresse &nbsp; <b  class="rouge" >*</b> &nbsp;&nbsp; </td><td> {{form_widget(form.addresse) }}  </td></tr>
                <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        Code Postal</td><td> {{form_widget(form.codepostal, { 'attr': {'class': 'miniinput'} })}}    </td></tr>
                <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        Ville</td><td> {{form_widget(form.ville)}}   </td></tr>
                <tr><td>Numero de Portable &nbsp; <b  class="rouge">*</b> &nbsp;&nbsp; </td><td> {{form_widget(form.numeroportable) }} </td></tr>

                <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        Email</td><td> {{form_widget(form.email) }}  </td></tr>
                <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        About Me</td><td> {{form_widget(form.surmoi) }}    </td></tr>
               <tr><td id="dialog" title="Dialog Title" ><p>{{ form_widget(form.image) }} </td></tr> 
            </table> 
 
      
            <td> {{form_widget(form._token)}} </td> 


        </div>


        <div id="buttonsregistrerEditprofil">
            <input type="submit" value="Gim profil"  style="width: 150px;" class="btn btn-warning btn-lg"  />
            <a href="{{path('my_app_esprit_homepage') }}" style="text-decoration:none;color:#c52821;">                                                                                                                                                      
                &nbsp;&nbsp;Annuler&nbsp;&nbsp;</a>
        </div>


	

 </form>
</div>


<!---------------------------------------------------------------------------------------------------------------------------------------------->
        <!-- css et js pour bundle JQuery  -->
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/myappesprit/js/jquery-ui.css') }}" />
         <script type="text/javascript" src="{{ asset('bundles/myappesprit/js/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/myappesprit/js/jquery-ui.js') }}"></script>
        <!-- css et js pour bundle JQuery  -->
 
 
<h2 class="demoHeaders"> <em></em></h2>

<!-- ui-dialog -->



<h2 class="demoHeaders"><br>

<script>

$( "#accordion" ).accordion();



var availableTags = [
	"ActionScript",
	"AppleScript",
	"Asp",
	"BASIC",
	"C",
	"C++",
	"Clojure",
	"COBOL",
	"ColdFusion",
	"Erlang",
	"Fortran",
	"Groovy",
	"Haskell",
	"Java",
	"JavaScript",
	"Lisp",
	"Perl",
	"PHP",
	"Python",
	"Ruby",
	"Scala",
	"Scheme"
];
$( "#autocomplete" ).autocomplete({
	source: availableTags
});



$( "#button" ).button();
$( "#radioset" ).buttonset();



$( "#tabs" ).tabs();



$( "#dialog" ).dialog({
	autoOpen: false,
	width: 400,
	buttons: [
		{
			text: "Ok",
			click: function() {
                                $(this).submit();

			}
		},
		{
			text: "Cancel",
			click: function() {
				$( this ).dialog( "close" );
			}
		}
	]
});

// Link to open the dialog
$( "#dialog-link" ).click(function( event ) {
	$( "#dialog" ).dialog( "open" );
	event.preventDefault();
});



$( "#datepicker" ).datepicker({
	inline: true
});





$( "#progressbar" ).progressbar({
	value: 20
});



$( "#spinner" ).spinner();



$( "#menu" ).menu();



$( "#tooltip" ).tooltip();



$( "#selectmenu" ).selectmenu();


// Hover states on the static widgets
$( "#dialog-link, #icons li" ).hover(
	function() {
		$( this ).addClass( "ui-state-hover" );
	},
	function() {
		$( this ).removeClass( "ui-state-hover" );
	}
);
  </script> 
</h2> 