 
{% extends 'MyAppEspritBundle:BackOffice:administration.html.twig' %}

 {% block managestyle %}  
{% include 'TwitterBootstrapBundle::stylesheets.html.twig'%}
<form  action='{{path('my_app_article_style_deletemore')}}' method="post" {{ form_enctype(form) }} > 
    <header><h3 class="tabs_involved">Gestion de Contenu style</h3>
        <ul class="tabs"> {{form_widget(form._token)}}   
             {# <li><a href="#tab1">Posts</a></li>#}
            <li><input type="submit"  value="Supprimer" style="background-color: transparent;border: none;" /> </li>

        </ul>
    </header>  

    <div> 
        <table style="float: left;margin-left: 7px;"> 
            <tr> 

                <td> </td> 
                <td width="25px;"> &nbsp;  </td>
                <td   width= "150px;"><b>Style Titre</b></td> 
                <td width="130"><b> Nom </b> </td>
                <td width="140"><b>Couleur font</b></td> 
                <td width="120"><b>Couleur ariere</b></td> 
                <td><b>Actions</b></td> 
            </tr> 
        </table> 
    </div>



    <div id="tab1" class="tab_content" style="height: 250px; width: 680px; overflow: auto; display: block;">
        <table class="tablesorter" cellspacing="0"> 
            {#<thead> 
                <tr> 
                    <th>No</th> 
                    <th>Titre</th> 
                    <th>Nom</th> 
                    <th>Couleur font</th> 
                    <th>Couleur ariere</th> 
                </tr> 
            </thead> #}
            <tbody> 

            {% for style in style %}
                <tr> 
                    <td><input type="checkbox" name="mesIds[]" value="{{style.id}}" ></td> 
                    <td>{{style.title}}</td> 
                    <td>{{style.name}}</td> 
                    <td><div style="width: 100px;height: 20px;background-color:{{style.codecouleurfront}} "></div></td> 

                    <td><div style="width: 100px;height: 20px;background-color:{{style.codecouleurback}}"></div></td>  


                    <td>
                        {#<a href="{{ path('my_app_article_style_edit',{'id':style.id}) }}">
                            <img src="{{ asset('bundles/myappesprit/images/admin/icn_edit.png') }}" alt="" />
                        </a>  #} &nbsp;&nbsp;
                        <a href="{{ path('my_app_article_style_delete',{'id':style.id}) }}" id="deletestyle">
                            <img src="{{ asset('bundles/myappesprit/images/admin/icn_trash.png') }}" alt="" />
                        </a> 
                        <script type="text/javascript">
                            document.querySelector('#deletestyle').onclick = function() {
                                swal({
                                    title: "Alert automatique!",
                                    text: "Veuillez patientez un peu",
                                    timer: 6000,
                                    showConfirmButton: false
                                });
                            };
                        </script>

                    </td>
                </tr> 

            {%endfor%}


            </tbody> 
        </table>
    </div> 
</form>
 {% endblock  %}



