 

{% extends 'MyAppEspritBundle:BackOffice:administration.html.twig' %}
 
{% block editUser %}     
<div id="usereditdetails"> 
 
 <form role="form" method="post" {{ form_enctype(form) }} >
   <table>
                 
       <tr><td>User Name</td><td>{{form_widget(form.username)}}</td></tr> </br></br>
      <tr><td>Enable</td><td>{{form_widget(form.enabled)}}</td></tr> </br></br>
   {#% if is_granted( 'ROLE_SUPER_ADMIN' ) %#}      
      <tr><td>Role</td><td>{{form_widget(form.roles)}}</td> </tr>
    {#% endif%#}  
      
      </br></br>
                <tr>
			<th valign="top"></th>
			<td>{#{#form_widget(form)}#} </td>  
                        <td> {{form_widget(form._token)}} </td>	                       
		</tr>
                
                
		<td valign="top">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                   
                    </br></br>
            
			<input type="submit"  value="change" class="btn btn-warning btn-lg"  style="width: 150px;"/>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                     
			<input type="reset" value="reset" class="btn btn-warning btn-lg"  style="width: 150px;"/>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</br></br> </br>    
               <td><a href="{{ path('my_app_user_delete',{'id':user.id}) }}"  style="width: 150px;" class="btn btn-warning btn-lg" >Supprimer</a></td> 
 
		</td>
  </table>
</form>
    
    
</div>
 
{% endblock  %}
 










 









 