{% extends 'MyAppEspritBundle:BackOffice:administration.html.twig' %}

 {% block showUser %}   
<header><h3 class="tabs_involved">Content User Manager</h3>
    <ul class="tabs">
        <li><a href="#tab1">Details</a></li>
        <li><a href="#tab2">Roles</a></li>
    </ul>
</header>  

<div id="tab1" class="tab_content" style="height: 250px; /*width: 680px;*/ overflow: auto; display: block;">
    <table class="tablesorter" cellspacing="0"> 
        <thead> 
            <tr> 
                <th></th> 
                <th>User Name</th> 
                <th>Role</th> 
                <th>Created On</th> 
                <th>Actions</th> 
            </tr> 
        </thead> 
        <tbody> 
            {% for user in user %} 
            <tr> 
                <td><input type="checkbox"></td> 
                <td>{{user.username}}</td> 
                <td> {{user.roles|join}}</td> 
      
     
                <td>{{user.datedeCreationUser|date('Y-M-d')}}</td> 


                <td>
                    <a href="{{ path('my_app_user_edit',{'id':user.id}) }}">
                        <img src="{{ asset('bundles/myappesprit/images/admin/icn_edit.png') }}" alt="" />
                    </a>   &nbsp;&nbsp;
                    <a href="{{ path('my_app_user_delete',{'id':user.id}) }}">
                        <img src="{{ asset('bundles/myappesprit/images/admin/icn_trash.png') }}" alt="" />
                    </a> 
                </td>
            </tr> 
            {%endfor%}



        </tbody> 
    </table>
</div> 


 


 {% endblock  %}


